{{!-- SOCIAL ON TOP --}}
{{> ui-layout-hack tableStart=true }}
  <!-- justia-footer-v1 -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="justia-footer-v1 set-max-width" responsive="justia-footer">
    <tr>
      <!-- logo-social -->
      <td class="logo-social" responsive="mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <!-- logo -->
            <td class="logo" responsive="logo collapse-one">
              <a href="{{{ default.footer.logo.v1.url }}}{{{ default.header.logo.v1.utm.medium }}}{{{ default.header.logo.v1.utm.campaign }}}{{#if clientsNewsletter }}{{{ default.footer.logo.v1.utm.source.clients }}}{{/if}}{{#if jldNewsletter }}{{{ default.footer.logo.v1.utm.source.jld }}}{{/if}}{{{ default.footer.logo.v1.utm.content }}}" target="_blank">
                <img src="{{ default.header.logo.v1.source }}" alt="{{ default.header.logo.v1.alt }}" responsive="mobile-align-center" border="0" />
              </a>
            </td>
            <!-- social align-right -->
            <td class="social align-right" responsive="social collapse-one">
              {{> social-icons responsiveClasses='mobile-align-center mobile-no-float' }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <!-- disclaimer -->
      <td class="disclaimer" responsive="mobile-padding-horizontal-sides">
        {{#if clientsNewsletter }}<p responsive="mobile-align-center">You are receiving this email because you are a Justia client. Except where noted otherwise, Justia makes no claims to the copyright of any of the materials linked to in this email.</p>{{/if}}
        {{#if jldNewsletter }}<p responsive="mobile-align-center">You are receiving this email because you are in the lawyer directory. Except where noted otherwise, Justia makes no claims to the copyright of any of the materials linked to in this email.</p>{{/if}}
      </td>
    </tr>
    <tr>
      <!-- address -->
      <td class="address" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        <p responsive="collapse-one mobile-align-center">
          <a href="https://www.justia.com/">Justia</a> <!-- vline --><span class="vline">|</span> <span id="ios-links-black">1380 Pear Ave #2B, Mountain View, CA 94043 <!-- vline --><span class="vline">|</span> Tel: (888) 587-8421</span>
        </p>
      </td>
    </tr>
    <tr>
      <!-- footernav -->
      <td class="footernav" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        {{> ui-spacer-hack }}
        {{> footernav navItems=default.footer.navigation.items responsiveClasses='mobile-align-center' }}
      </td>
    </tr>
  </table>
{{> ui-layout-hack tableEnd=true }}
