{{!-- v1 === Social On Top --}}
{{!-- v2 === Social Below --}}
{{!-- Set variables for footer --}}
{{ assign 'topStripeRespClassesV1' 'mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border' }}

{{> ui-layout-hack tableStart=true }}
  <!-- main-footer {{#if socialOnTop }}-social-on-top{{else}}-social-below{{/if}} set-max-width -->
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="main-footer {{#if socialOnTop }}-social-on-top{{else}}-social-below{{/if}} set-max-width"
    {{#if socialOnTop }}responsive="main-footer"{{/if}}
  >
    <tr>
      <!-- top-stripe -->
      <td class="top-stripe" responsive="{{#if socialOnTop }}{{@root.topStripeRespClassesV1}}{{else}}mobile-padding-horizontal-sides{{/if}}">
        {{#unless socialOnTop }}{{> ui-spacer-hack }}{{/unless}}
        <!-- top-wrapper {{#unless socialOnTop }}set-max-width{{/unless}} -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="top-wrapper {{#unless socialOnTop }}set-max-width{{/unless}}">
          <tr>
            <!-- top-sides -left footer-logo -->
            <td class="top-sides -left footer-logo" responsive="collapse-one {{#if socialOnTop }}footer-logo{{else}}mobile-padding-bottom{{/if}}">
              {{> main-logo source=logoPath alt=logoAlt link=logoLink utmVars=logoUtmVars responsiveClasses='mobile-align-center' }}
            </td>
            {{#if socialOnTop }}
            <!-- top-sides -right social-icons -->
            <td class="top-sides -right social-icons" responsive="social-icons collapse-one">
              {{> social-icons responsiveClasses='mobile-align-center mobile-no-float' }}
            </td>
            {{else}}
            <!-- top-sides -right navigation -->
            <td class="top-sides -right navigation" responsive="collapse-one mobile-align-center">
              {{> navigation elements=navigationElements }}
            </td>
            {{/if}}
          </tr>
        </table>
      </td>
    </tr>
    {{#unless socialOnTop }}
    <tr>
      <!-- social-icons -->
      <td class="social-icons" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        {{> social-icons classes='set-max-width' }}
      </td>
    </tr>
    {{/unless}}
    <tr>
      <!-- disclaimer -->
      <td class="disclaimer" responsive="mobile-padding-horizontal-sides">
        <p {{#unless socialOnTop }}responsive="mobile-align-center"{{/unless}}>{{{ disclaimerText }}}</p>
      </td>
    </tr>
    <tr>
      <!-- address -->
      <td class="address" responsive="mobile-padding-horizontal-sides">
        {{#if socialOnTop }}
        {{> ui-spacer-hack }}
        {{> address elements=addressElements responsiveClasses='collapse-one mobile-align-center' }}
        {{else}}
        {{> address elements=addressElements }}
        {{/if}}
      </td>
    </tr>
    {{#if socialOnTop }}
    <tr>
      <!-- navigation -->
      <td class="navigation" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        {{> ui-spacer-hack }}
        {{> navigation elements=navigationElements responsiveClasses='mobile-align-center' }}
      </td>
    </tr>
    {{/if}}
  </table>
{{> ui-layout-hack tableEnd=true }}
