{{> ui-layout-hack tableStart=true }}
  <!-- main-header {{#if withDate }}-with-date{{else}}-logo-only{{/if}} set-max-width -->
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-header {{#if withDate }}-with-date{{else}}-logo-only{{/if}} set-max-width"
  >
    <tr>
      <!-- wrapper -->
      <td class="wrapper" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        {{#if withDate }}
          <table align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <!-- logo -->
              <td class="logo">
                {{> main-logo source=logoPath alt=logoAlt link=logoLink utmVars=setUtmVars }}
              </td>
              <!-- date -->
              <td class="date">
                <span>{{getMonth custom-config.currentMonth }} {{ custom-config.currentYear }}</span>
              </td>
            </tr>
          </table>
        {{else}}
          {{> main-logo source=logoPath alt=logoAlt link=logoLink utmVars=setUtmVars }}
        {{/if}}
      </td>
    </tr>
  </table>
{{> ui-layout-hack tableEnd=true }}
