{{!-- Variables for footer --}}
{{#if socialOnTop}}
  {{assign 'socialOnTopClass' '-social-on-top'}}
  {{assign 'footerHeadRespClasses' 'mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border'}}
{{else}}
  {{assign 'socialOnTopClass' '-social-below'}}
  {{assign 'footerHeadRespClasses' 'mobile-padding-horizontal-sides'}}
{{/if}}

{{#if lookAndFeel}}
  {{assign 'lookAndFeelClass' (replace '-%s-style' '%s' lookAndFeel)}}
{{else}}
  {{assign 'lookAndFeelClass' '-basic-style'}}
{{/if}}

{{#if logoName}}
  {{assign 'logoNameClass' (replace '-%s-logo' '%s' logoName)}}
{{else}}
  {{assign 'logoNameClass' '-justia-logo'}}
{{/if}}

{{!
 * @param {Boolean} socialOnTop
 * @param {String}  lookAndFeel
 * @param {String}  logoName
 * @param {String}  logoLink
 * @param {Object}  logoUtmVars
 *
 * @param {String}  customLogoPath
 * @param {String}  customLogoAlt
 *
 * @param {Array}   navigationElements
 * @param {String}  disclaimerText
 * @param {Object}  addressElements
 *
 * @param {String}  mainFooterClasses
}}
{{>ui-layout-hack tableStart=true}}
  <!-- main-footer {{@root.socialOnTopClass}} {{@root.lookAndFeelClass}} {{@root.logoNameClass}} {{mainFooterClasses}} set-max-width -->
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="main-footer {{@root.socialOnTopClass}} {{@root.lookAndFeelClass}} {{@root.logoNameClass}} {{mainFooterClasses}} set-max-width"
    {{#if socialOnTop}}responsive="main-footer"{{/if}}
>
    <tr>
      <!-- footer-head -->
      <td class="footer-head" responsive="{{@root.footerHeadRespClasses}}">
        {{#unless socialOnTop}}{{>ui-spacer-hack}}{{/unless}}
        <!-- fhead-wrapper {{#unless socialOnTop}}set-max-width{{/unless}} -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fhead-wrapper {{#unless socialOnTop}}set-max-width{{/unless}}">
          <tr>
            <!-- fhead-side -left footer-logo -->
            <td class="fhead-side -left footer-logo" responsive="collapse-one {{#if socialOnTop}}footer-logo{{else}}mobile-padding-bottom{{/if}}">
              {{#if customLogoPath}}
                {{>main-logo source=customLogoPath alt=customLogoAlt link=logoLink utmVars=logoUtmVars logoResponsiveClasses='mobile-align-center'}}
              {{else if logoName}}
                {{>main-logo
                  source=(get (append logoName '.path.blue') logos)
                  alt=(get (append logoName '.alt') logos)
                  link=logoLink
                  utmVars=logoUtmVars
                  logoResponsiveClasses='mobile-align-center'
              }}
              {{else}}
                {{>main-logo link=logoLink utmVars=logoUtmVars logoResponsiveClasses='mobile-align-center'}}
              {{/if}}
            </td>
            {{#if socialOnTop}}
              <!-- fhead-side -right footer-social -->
              <td class="fhead-side -right footer-social" responsive="footer-social collapse-one">
                {{>social-icons socialIconsResponsiveClasses='mobile-align-center mobile-no-float'}}
              </td>
            {{else}}
              <!-- fhead-side -right footer-nav -->
              <td class="fhead-side -right footer-nav" responsive="collapse-one mobile-align-center">
                {{>navigation elements=navigationElements}}
              </td>
            {{/if}}
          </tr>
        </table>
      </td>
    </tr>
    {{#unless socialOnTop}}
      <tr>
        <!-- footer-social -->
        <td class="footer-social" responsive="mobile-padding-horizontal-sides">
          {{>ui-spacer-hack}}
          {{>social-icons socialIconsClasses='set-max-width'}}
        </td>
      </tr>
    {{/unless}}
    <tr>
      <!-- footer-disclaimer -->
      <td class="footer-disclaimer" responsive="mobile-padding-horizontal-sides">
        <p {{#if socialOnTop}}responsive="mobile-align-center"{{/if}}>{{{disclaimerText}}}</p>
      </td>
    </tr>
    <tr>
      <!-- footer-address -->
      <td class="footer-address" responsive="mobile-padding-horizontal-sides">
        {{#if socialOnTop}}
          {{>ui-spacer-hack}}
          {{>address elements=addressElements addressResponsiveClasses='collapse-one mobile-align-center'}}
        {{else}}
          {{>address elements=addressElements}}
        {{/if}}
      </td>
    </tr>
    {{#if socialOnTop}}
      <tr>
        <!-- footer-nav -->
        <td class="footer-nav" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
          {{>ui-spacer-hack}}
          {{>navigation elements=navigationElements navResponsiveClasses='mobile-align-center'}}
        </td>
      </tr>
    {{/if}}
  </table>
{{>ui-layout-hack tableEnd=true}}
