{{!-- v1 === Social On Top --}}
{{!-- v2 === Social Below --}}
{{!-- Set variables for footer --}}
{{ assign 'topStripeRespClassesV1' 'mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border' }}

{{> ui-layout-hack tableStart=true }}
  <!-- main-footer {{#if socialOnTop }}-social-on-top{{else}}-social-below{{/if}} set-max-width -->
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    class="main-footer {{#if socialOnTop }}-social-on-top{{else}}-social-below{{/if}} set-max-width"
    {{#if socialOnTop }}responsive="main-footer"{{/if}}
  >
    <tr>
      <!-- footer-head -->
      <td class="footer-head" responsive="{{#if socialOnTop }}{{@root.topStripeRespClassesV1}}{{else}}mobile-padding-horizontal-sides{{/if}}">
        {{#unless socialOnTop }}{{> ui-spacer-hack }}{{/unless}}
        <!-- fhead-wrapper {{#unless socialOnTop }}set-max-width{{/unless}} -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="fhead-wrapper {{#unless socialOnTop }}set-max-width{{/unless}}">
          <tr>
            <!-- fhead-side -left footer-logo -->
            <td class="fhead-side -left footer-logo" responsive="collapse-one {{#if socialOnTop }}footer-logo{{else}}mobile-padding-bottom{{/if}}">
              {{> main-logo source=logoPath alt=logoAlt link=logoLink utmVars=logoUtmVars responsiveClasses='mobile-align-center' }}
            </td>
            {{#if socialOnTop }}
            <!-- fhead-side -right footer-social -->
            <td class="fhead-side -right footer-social" responsive="footer-social collapse-one">
              {{> social-icons responsiveClasses='mobile-align-center mobile-no-float' }}
            </td>
            {{else}}
            <!-- fhead-side -right footer-nav -->
            <td class="fhead-side -right footer-nav" responsive="collapse-one mobile-align-center">
              {{> navigation elements=navigationElements }}
            </td>
            {{/if}}
          </tr>
        </table>
      </td>
    </tr>
    {{#unless socialOnTop }}
    <!-- footer-content -->
    <tr class="footer-content">
      <!-- footer-social -->
      <td class="footer-social" responsive="mobile-padding-horizontal-sides">
        {{> ui-spacer-hack }}
        {{> social-icons classes='set-max-width' }}
      </td>
    </tr>
    {{/unless}}
    <!-- footer-content -->
    <tr class="footer-content">
      <!-- footer-disclaimer -->
      <td class="footer-disclaimer" responsive="mobile-padding-horizontal-sides">
        <p {{#unless socialOnTop }}responsive="mobile-align-center"{{/unless}}>{{{ disclaimerText }}}</p>
      </td>
    </tr>
    <!-- footer-content -->
    <tr class="footer-content">
      <!-- footer-address -->
      <td class="footer-address" responsive="mobile-padding-horizontal-sides">
        {{#if socialOnTop }}
        {{> ui-spacer-hack }}
        {{> address elements=addressElements responsiveClasses='collapse-one mobile-align-center' }}
        {{else}}
        {{> address elements=addressElements }}
        {{/if}}
      </td>
    </tr>
    {{#if socialOnTop }}
    <!-- footer-content -->
    <tr class="footer-content">
      <!-- footer-nav -->
      <td class="footer-nav" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
        {{> ui-spacer-hack }}
        {{> navigation elements=navigationElements responsiveClasses='mobile-align-center' }}
      </td>
    </tr>
    {{/if}}
  </table>
{{> ui-layout-hack tableEnd=true }}
