
  {{#if widgetConfig.title}}
    <tr>
      <td class="title" responsive="mobile-padding-horizontal-sides">
        <a href="{{{@root.adLink}}}" target="_blank" responsive="mobile-fz-{{default widgetConfig.titleResponsiveSize "24"}}">
          {{{widgetConfig.title}}}
        </a>
      </td>
    </tr>
  {{/if}}


  {{#if widgetConfig.title2}}
    <tr>
      <td class="title2" responsive="mobile-padding-horizontal-sides">
        <a href="{{{@root.adLink}}}" target="_blank" responsive="mobile-fz-{{default widgetConfig.titleResponsiveSize2 "20"}}">
          {{{widgetConfig.title2}}}
        </a>
      </td>
    </tr>
  {{/if}}



  {{#if widgetConfig.topButton}}
    {{#forEach widgetConfig.topButton}}
      {{#compare this.type "===" "button"}}
      <tr>
        <td class="-button top-button" responsive="mobile-padding-horizontal-sides">
          {{#uiButton
            href=(concat ../widgetConfig.link (utmVariables ../widgetConfig.utm))
            presetStyle=this.config.style
            width=this.config.width
            height=this.config.height
            borderColor=this.config.borderColor
            backgroundColor=this.config.backgroundColor
            fontColor=this.config.fontColor
            fontStyle=this.config.fontStyle
            fontWeight=this.config.fontWeight
            fontSize=this.config.fontSize
            responsive=this.config.responsive
          }}
            {{{this.config.text}}}
          {{/uiButton}}
        </td>
      </tr>
      {{/compare}}
    {{/forEach}}
  {{/if}}

  {{#if widgetConfig.image}}
    <tr>
      <td class="image">
        <a href="{{{@root.adLink}}}" target="_blank">
          {{>img
            src=widgetConfig.image
            alt=widgetConfig.imageAlt
          }}
        </a>
      </td>
    </tr>
  {{/if}}
