{{! ================================================================================================================= }}
{{! J L D   A D V E R T I S E M E N T                                                                                 }}
{{! ================================================================================================================= }}

{{!
// TODO:
// Replace ads before moving to examples.
}}

{{!-- {{>ad-type-01 widgetClass="-jld-ad-01" widgetConfig=advertisements.jld.ad1}} --}}

{{assign "adLink" (concat widgetConfig.link (utmVariables widgetConfig.utm))}}

{{! ================================================================================================================= }}

{{#table class=(classList "w-advertisement" "-custom-01" widgetClass "set-max-width")}}
  <tr>
    {{>ui-background backgroundBehavior="cell" backgroundStart=true
      bgImage=widgetConfig.background.image
      bgColor=widgetConfig.background.bgColor
      bgWidth=widgetConfig.background.width
      bgHeight=widgetConfig.background.height
      bgSize=widgetConfig.background.cssSize
    }}
      {{#table}}
        {{#if widgetConfig.logo}}
          <tr>
            <td class="justia-logo" responsive="mobile-padding-horizontal-sides">
              <a href="{{{@root.adLink}}}" target="_blank">
                {{>img
                  src=(get (concat (camelcase widgetConfig.logo.name) ".path." widgetConfig.logo.color) logos)
                  alt=(get (concat (camelcase widgetConfig.logo.name) ".alt") logos)
                }}
              </a>
            </td>
          </tr>
        {{/if}}

        {{#if widgetConfig.title}}
          <tr>
            <td class="title" responsive="mobile-padding-horizontal-sides">
              <a href="{{{@root.adLink}}}" target="_blank" responsive="mobile-fz-{{default widgetConfig.titleResponsiveSize "24"}}">
                {{{widgetConfig.title}}}
              </a>
            </td>
          </tr>
        {{/if}}

        {{#if widgetConfig.image}}
          <tr>
            <td class="image">
              <a href="{{{@root.adLink}}}" target="_blank">
                {{>img
                  src=widgetConfig.image
                  alt=(default widgetConfig.title widgetConfig.imageAlt)
                }}
              </a>
            </td>
          </tr>
        {{/if}}

        {{#if widgetConfig.contentOrder}}
          {{#forEach widgetConfig.contentOrder}}
            {{#compare this.type "===" "description"}}
              <tr>
                <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
                  {{#each this.config}}
                    <p>{{{this}}}</p>
                  {{/each}}
                </td>
              </tr>
            {{/compare}}

            {{#compare this.type "===" "button"}}
              <tr>
                <td class="content -button -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
                  {{#uiButton
                    presetStyle=this.config.style
                    href=(concat ../widgetConfig.link (utmVariables ../widgetConfig.utm))
                    width=this.config.width
                    height=this.config.height
                    fontSize=this.config.fontSize
                    responsive=this.config.responsive
                  }}
                    {{{this.config.text}}}
                  {{/uiButton}}
                </td>
              </tr>
            {{/compare}}
          {{/forEach}}
        {{/if}}
      {{/table}}
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  </tr>
{{/table}}
