{{! ================================================================================================================= }}
{{! W E B M A S T E R ' S                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{#and announcements.link (compare announcements.link "!==" "")}}
  {{assign "announcementsTitleLink" (concat announcements.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "announcementsImageLink" (concat announcements.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and announcements.button (compare announcements.button.link "!==" "")}}
  {{assign "announcementsButtonLink" (concat announcements.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-news w-announcements set-max-width"}}

  {{#if announcements.widget.iconSrc}}
    {{>widget-header
      header=announcements.widget.header
      iconSrc=announcements.widget.iconSrc
    }}
  {{else}}
    {{>widget-header
      header=announcements.widget.header
      icon=announcements.widget.icon
    }}
  {{/if}}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

      {{>widget-banner
        imgSrc=announcements.banner
        imgAlt=announcements.title
        link=@root.announcementsImageLink
      }}

      <h3 class="content-title">
        <a href="{{{@root.announcementsTitleLink}}}" target="_blank">
          {{{announcements.title}}}
        </a>
      </h3>

      {{#each announcements.description}}
        <p>{{{this}}}</p>
      {{/each}}

      {{!
      // TODO: Move to `widget-button` component.
      }}
      {{#if @root.widgetWithButton}}
          <div class="widget-button">
            {{#uiButton presetStyle=announcements.button.style href=@root.announcementsButtonLink}}
              {{announcements.button.text}}
            {{/uiButton}}
          </div>
      {{/if}}

      </div>
    </td>
  </tr>
{{/table}}
