{{! ================================================================================================================= }}
{{! A N S W E R S   L E A D E R B O A R D                                                                             }}
{{! ================================================================================================================= }}

{{!
 * @param {String}   widgetClass
 * @param {Object}   answersLeaderboard
 * @param {Object}   answersLeaderboard.button
 * @param {String}   answersLeaderboard.button.style
 * @param {String}   answersLeaderboard.button.link
 * @param {String}   answersLeaderboard.button.text
 * @param {Object[]} answersLeaderboard.list
 * @param {String}   answersLeaderboard.list[].id
 * @param {Number}   answersLeaderboard.list[].rank
 * @param {String}   answersLeaderboard.list[].name
 * @param {String}   answersLeaderboard.list[].location
 * @param {String}   answersLeaderboard.list[].nameLink
 * @param {String}   answersLeaderboard.list[].photoLink
 * @param {String[]} answersLeaderboard.description
}}

{{#and answersLeaderboard.button (compare answersLeaderboard.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-answers-leaderboard set-max-width"}}
  {{>widget-header
    header=answersLeaderboard.widget.header
    icon=answersLeaderboard.widget.icon
    type=answersLeaderboard.widget.type
    link=answersLeaderboard.widget.link
  }}

  <tr>
    <td class="ranking-list" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        {{#forEach answersLeaderboard.list}}
          <tr class="rank-0{{index}}{{#if isFirst}} first-row{{/if}}">
            <td class="cell photo" responsive="mobile-reset-width">
              {{#if this.photoLink}}<a href="{{{this.photoLink}}}" target="_blank">{{/if}}
                {{>img
                  src=(concat "leaderboard-photo-0" index ".jpg")
                  alt=this.name
                }}
              {{#if this.photoLink}}</a>{{/if}}
            </td>
            <td class="cell info" responsive="mobile-padding-horizontal-sides">
              <p class="name" responsive="mobile-fz-18">
                {{#if this.nameLink}}<a href="{{{this.nameLink}}}" target="_blank">{{/if}}
                  {{{this.name}}}
                {{#if this.nameLink}}</a>{{/if}}
              </p>
              <p class="location">
                {{#uppercase}}{{this.location}}{{/uppercase}}
              </p>
            </td>
            <td class="cell ranking" responsive="mobile-reset-width mobile-padding-horizontal-sides">
              <p responsive="mobile-fz-25">{{index}}</p>
            </td>
          </tr>
        {{/forEach}}
      {{/table}}
    </td>
  </tr>

  {{!--
  // TODO:
  // Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#each answersLeaderboard.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO:
  // Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=answersLeaderboard.button.style href=answersLeaderboard.button.link}}
          {{answersLeaderboard.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
