<!-- CONTENT -->

{{#table class="blast-content set-max-width"}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      <p responsive="mobile-fz-{{widgetConfig.titleResponsiveSize}}">
        <a href="{{{widgetConfig.link}}}" target="_blank">
          {{{widgetConfig.title}}}
        </a>
      </p>
    </td>
  </tr>
  <tr>
    <td class="main-image">
      <a href="{{{widgetConfig.link}}}" target="_blank">
        {{>img src=widgetConfig.image alt=widgetConfig.title}}
      </a>
    </td>
  </tr>

  {{#if widgetConfig.contentOrder}}
    {{#forEach widgetConfig.contentOrder}}
      {{#compare this.type "===" "description"}}
        <tr>
          <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#each this.config}}
              <p{{#if ../responsiveText}} responsive="mobile-fz-{{itemAt ../responsiveText @index}}"{{/if}}>
                {{#if ../linkText}}<a href="{{{../../widgetConfig.link}}}" target="_blank">{{/if}}
                  {{{this}}}
                {{#if ../linkText}}</a>{{/if}}
              </p>
            {{/each}}
          </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "button"}}
        <tr>
          <td class="content -button -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#uiButton
              presetStyle=this.config.style
              href=../widgetConfig.link
              width=this.config.width
              height=this.config.height
              fontSize=this.config.fontSize
              responsive=this.config.responsive
            }}
              {{{this.config.text}}}
            {{/uiButton}}
          </td>
        </tr>
      {{/compare}}
    {{/forEach}}
  {{/if}}
{{/table}}
