<!-- CONTENT -->

{{#table class="blast-content set-max-width"}}
  <tr>
  {{#if widgetConfig.mainImageBackground}}
    {{>ui-background
      backgroundBehavior="cell"
      backgroundStart=true
      bgImage=widgetConfig.mainImageBackground.image
      bgColor=widgetConfig.mainImageBackground.bgColor
      bgWidth=widgetConfig.mainImageBackground.width
    }}
      <table {{{tableAttr}}}>
        <tr>
  {{/if}}
    <td class="main-image">
      <table {{{tableAttr}}}>
        {{#compare widgetConfig.titlePosition "===" "top"}}
          <tr>
            <td class="main-title" responsive="mobile-padding-horizontal-sides">
              <p responsive="mobile-fz-{{widgetConfig.titleResponsiveSize}}">
                <a href="{{{widgetConfig.link}}}" target="_blank">
                  {{{widgetConfig.title}}}
                </a>
              </p>
            </td>
          </tr>
        {{/compare}}
        <tr>
          {{#if widgetConfig.image}}
            <td class="image" responsive="mobile-hide">
              <a href="{{{widgetConfig.link}}}" target="_blank">
                {{>img src=widgetConfig.image alt=widgetConfig.title}}
              </a>
            </td>
          {{/if}}
          {{#compare widgetConfig.titlePosition "===" "right"}}
          <td class="main-title" responsive="mobile-reset-width mobile-padding-horizontal-sides mobile-padding-30-vertical-sides">
            <p responsive="mobile-fz-{{widgetConfig.titleResponsiveSize}}">
              <a href="{{{widgetConfig.link}}}" target="_blank">
                {{{widgetConfig.title}}}
              </a>
            </p>
          </td>
          {{/compare}}
        </tr>
        {{#if widgetConfig.separator}}
        <tr>
          <td class="separator" responsive="mobile-padding-horizontal-sides">
            <table {{{tableAttr}}}>
              <tr>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
        {{/if}}
        {{#if widgetConfig.subtitle}}
          <tr>
            <td class="subtitle" responsive="mobile-padding-horizontal-sides">
              <p responsive="mobile-fz-{{widgetConfig.subtitleResponsiveSize}}">
                <a href="{{{widgetConfig.link}}}" target="_blank">
                  {{{widgetConfig.subtitle}}}
                </a>
              </p>
            </td>
          </tr>
        {{/if}}
        {{#if widgetConfig.mainImageButton}}
          <tr>
            <td class="button" responsive="mobile-padding-horizontal-sides">
              {{#uiButton
                presetStyle=widgetConfig.mainImageButton.style
                href=widgetConfig.link
                width=widgetConfig.mainImageButton.width
                height=widgetConfig.mainImageButton.height
                fontSize=widgetConfig.mainImageButton.fontSize
                borderRadius=19
                responsive=widgetConfig.mainImageButton.responsive
              }}
                {{{widgetConfig.mainImageButton.text}}}
              {{/uiButton}}
            </td>
          </tr>
        {{/if}}
      </table>
    </td>
  {{#if widgetConfig.mainImageBackground}}
        </tr>
      </table>
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  {{/if}}
  </tr>

  {{#if widgetConfig.background}}
    <tr>
      {{>ui-background
        backgroundBehavior="cell"
        backgroundStart=true
        bgImage=widgetConfig.background.image
        bgColor=widgetConfig.background.bgColor
        bgWidth=widgetConfig.background.width
      }}
        <table {{{tableAttr}}}>
  {{/if}}

  {{>steps steps=widgetConfig.steps}}

  {{#if widgetConfig.contentOrder}}
    {{#forEach widgetConfig.contentOrder}}
      {{#compare this.type "===" "title"}}
        <tr>
          <td class="content -title -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-no-padding-bottom mobile-padding-50-top">
            <p{{#if ../responsiveText}} responsive="mobile-fz-{{itemAt ../responsiveText @index}}"{{/if}}>
              <strong class="title">
                {{#if ../linkText}}<a href="{{{this.link}}}" target="_blank">{{/if}}
                  {{{this.config.text}}}
                {{#if ../linkText}}</a>{{/if}}
              </strong>
            </p>
          </td>
        </tr>
      {{/compare}}
      {{#compare this.type "===" "description"}}
        <tr>
          <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-padding-top mobile-padding-20-bottom{{#if isLast}} mobile-padding-50-bottom{{/if}}">
            {{#each this.config}}
              {{#if this.image}}
                <table {{{tableAttr}}}>
                  <tr>
                    <td class="text" responsive="collapse-one mobile-no-padding-top">
              {{/if}}
              <p{{#if ../responsiveText}} responsive="mobile-fz-{{itemAt ../responsiveText @index}}"{{/if}}>
                {{#if this.text}}
                  {{#if ../linkText}}<a href="{{{this.link}}}" target="_blank">{{/if}}
                    {{{this.text}}}
                  {{#if ../linkText}}</a>{{/if}}
                {{/if}}
              </p>
              {{#if this.button}}
                <table {{{tableAttr}}}>
                  <tr>
                    <td class="content -button" responsive="mobile-padding-vertical-sides">
                      {{#uiButton
                        presetStyle=this.button.style
                        href=this.link
                        width=this.button.width
                        height=this.button.height
                        fontSize=this.button.fontSize
                        borderRadius=this.button.borderRadius
                        responsive=this.button.responsive
                      }}
                        {{{this.button.text}}}
                      {{/uiButton}}
                    </td>
                  </tr>
                </table>
              {{/if}}

              {{#if this.image}}
                    </td>
                    <td class="image" responsive="collapse-one mobile-no-padding">
                      {{>img src=this.image alt=this.alt responsive="mobile-align-center"}}
                    </td>
                  </tr>
                </table>
              {{/if}}
            {{/each}}
          </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "unorderedList"}}
        <tr>
          <td class="content -unordered-list -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-no-padding-top mobile-padding-bottom">
            <ul responsive="mobile-padding-left">
              {{#each this.config.items}}
                <li><span class="dot">&middot;</span> <span class="text">{{{ this }}}</span></li>
              {{/each}}
            </ul>
          </td>
        </tr>
      {{/compare}}
      {{#compare this.type "===" "orderedList"}}
        <tr>
          <td class="content -ordered-list -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-no-padding-top">
            <ol>
              {{#each this.config.items}}
                <li>{{{ this }}}</li>
              {{/each}}
            </ol>
          </td>
        </tr>
      {{/compare}}
      {{#compare this.type "===" "imageText"}}
        <tr>
            <td class="content -image-text -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-padding-top">
              {{#table}}
                <tr>
                  <td class="image" responsive="collapse-one mobile-align-center">
                    {{>img src=this.config.image alt=this.config.alt responsive="mobile-align-center"}}
                  </td>
                  <td class="text" responsive="mobile-no-padding-horizontal-sides mobile-padding-top collapse-one">
                    <p{{#if ../responsiveText}} responsive="mobile-fz-{{itemAt ../responsiveText @index}}"{{/if}}>
                      {{{this.config.text}}}
                    </p>
                  </td>
                </tr>
              {{/table}}
            </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "button"}}
        <tr>
          <td class="content -button -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#uiButton
              presetStyle=this.config.style
              href=../widgetConfig.link
              width=this.config.width
              height=this.config.height
              fontSize=this.config.fontSize
              borderRadius=this.config.borderRadius
              responsive=this.config.responsive
            }}
              {{{this.config.text}}}
            {{/uiButton}}
          </td>
        </tr>
      {{/compare}}
    {{/forEach}}
  {{/if}}

  {{#if widgetConfig.background}}
        </table>
      {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
    </tr>
  {{/if}}

{{/table}}
