<!-- CONTENT -->

{{#table class="blast-content set-max-width"}}
  <tr>
  {{#if widgetConfig.mainImageBackground}}
    {{>ui-background
      backgroundBehavior="cell"
      backgroundStart=true
      bgImage=widgetConfig.mainImageBackground.image
      bgColor=widgetConfig.mainImageBackground.bgColor
      bgWidth=widgetConfig.mainImageBackground.width
    }}
      <table {{{tableAttr}}}>
        <tr>
  {{/if}}
    <td class="main-image">
      <table {{{tableAttr}}}>
        {{#compare widgetConfig.titlePosition "===" "top"}}
          <tr>
            <td class="main-title" responsive="mobile-padding-horizontal-sides" {{#compare widgetConfig.descriptionPosition "===" "right"}}colspan="2"{{/compare}}>
              <p responsive="mobile-fz-{{widgetConfig.titleResponsiveSize}}">
                <a href="{{{widgetConfig.link}}}" target="_blank">
                  {{{widgetConfig.title}}}
                </a>
              </p>
            </td>
            {{#compare widgetConfig.descriptionPosition "===" "right"}}
              <td responsive="mobile-hide"></td>
            {{/compare}}
          </tr>
        {{/compare}}
        <tr>
          <td class="image" responsive="{{{widgetConfig.imageResponsive}}}">
            <a href="{{{widgetConfig.link}}}" target="_blank">
              {{>img src=widgetConfig.image alt=widgetConfig.title}}
            </a>
          </td>
          {{#compare widgetConfig.titlePosition "===" "right"}}
          <td class="main-title" responsive="mobile-reset-width mobile-padding-horizontal-sides mobile-padding-30-vertical-sides">
            <p responsive="mobile-fz-{{widgetConfig.titleResponsiveSize}}">
              <a href="{{{widgetConfig.link}}}" target="_blank">
                {{{widgetConfig.title}}}
              </a>
            </p>
          </td>
          {{/compare}}
          {{#compare widgetConfig.descriptionPosition "===" "right"}}
          <td class="description" responsive="{{{widgetConfig.descriptionResponsive}}}">
            {{#each widgetConfig.description}}
              <p>
                <a href="{{{../widgetConfig.link}}}" target="_blank">
                  {{{this}}}
                </a>
              </p>
            {{/each}}
          </td>
          {{/compare}}
        </tr>

        {{#if widgetConfig.mainImageButton}}
        <tr>
            <td class="button" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides" {{#compare widgetConfig.descriptionPosition "===" "right"}}colspan="2"{{/compare}}>
              {{#uiButton
                presetStyle=widgetConfig.mainImageButton.style
                href=widgetConfig.link
                width=widgetConfig.mainImageButton.width
                height=widgetConfig.mainImageButton.height
                fontSize=widgetConfig.mainImageButton.fontSize
                responsive=widgetConfig.mainImageButton.responsive
              }}
                {{{widgetConfig.mainImageButton.text}}}
              {{/uiButton}}
            </td>
            {{#compare widgetConfig.descriptionPosition "===" "right"}}
            <td responsive="mobile-hide"></td>
            {{/compare}}
          </tr>
        {{/if}}
      </table>
    </td>
  {{#if widgetConfig.mainImageBackground}}
        </tr>
      </table>
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  {{/if}}
  </tr>

  {{#if widgetConfig.background}}
    <tr>
      {{>ui-background
        backgroundBehavior="cell"
        backgroundStart=true
        bgImage=widgetConfig.background.image
        bgColor=widgetConfig.background.bgColor
        bgWidth=widgetConfig.background.width
      }}
        <table {{{tableAttr}}}>
  {{/if}}

  {{#if widgetConfig.contentOrder}}
    <tr>
      {{>ui-background
        backgroundBehavior="cell"
        backgroundStart=true
        bgImage=widgetConfig.contentBg
        bgColor='#07466a'
        bgWidth='600px'
        bgSize='100% auto'
      }}
        <table {{{tableAttr}}}>
    {{#forEach widgetConfig.contentOrder}}
      {{#compare this.type "===" "description"}}
        <tr>
          <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-padding-30-vertical-sides {{this.responsive}}">
            {{#each this.config}}
              {{#if this.image}}
                <table {{{tableAttr}}}>
                  <tr>
                    <td class="text" responsive="collapse-one mobile-no-padding-top">
              {{/if}}
              <p{{#if ../responsiveText}} responsive="mobile-fz-{{itemAt ../responsiveText @index}}"{{/if}}>
                {{#if ../linkText}}<a href="{{{this.link}}}" target="_blank">{{/if}}
                  {{{this.text}}}
                {{#if ../linkText}}</a>{{/if}}
              </p>
              {{#if this.button}}
                <table {{{tableAttr}}}>
                  <tr>
                    <td class="content -button" responsive="mobile-padding-vertical-sides">
                      {{#uiButton
                        presetStyle=this.button.style
                        href=this.link
                        width=this.button.width
                        height=this.button.height
                        fontSize=this.button.fontSize
                        fontColor=this.button.fontColor
                        responsive=this.button.responsive
                      }}
                        {{{this.button.text}}}
                      {{/uiButton}}
                    </td>
                  </tr>
                </table>
              {{/if}}

              {{#if this.image}}
                    </td>
                    <td class="image" responsive="collapse-one mobile-no-padding">
                      {{>img src=this.image alt=this.alt responsive="mobile-align-center"}}
                    </td>
                  </tr>
                </table>
              {{/if}}
            {{/each}}
          </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "button"}}
        <tr>
          <td class="content -button -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#uiButton
              presetStyle=this.config.style
              href=../widgetConfig.link
              width=this.config.width
              height=this.config.height
              fontSize=this.config.fontSize
              fontColor=this.config.fontColor
              responsive=this.config.responsive
            }}
              {{{this.config.text}}}
            {{/uiButton}}
          </td>
        </tr>
      {{/compare}}
    {{/forEach}}
        </table>
        {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
    </tr>
  {{/if}}

  {{#if widgetConfig.background}}
        </table>
      {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
    </tr>
  {{/if}}

{{/table}}
