{{! ================================================================================================================= }}
{{! BREAKING NEWS                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{#and breakingNews.link (compare breakingNews.link "!==" "")}}
  {{assign "breakingNewsTitleLink" (concat breakingNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "breakingNewsImageLink" (concat breakingNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and breakingNews.button (compare breakingNews.button.link "!==" "")}}
  {{assign "breakingNewsButtonLink" (concat breakingNews.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-news w-breakingNews set-max-width"}}

  {{#if breakingNews.widget.iconSrc}}
    {{>widget-header
      header=breakingNews.widget.header
      iconSrc=breakingNews.widget.iconSrc
    }}
  {{else}}
    {{>widget-header
      header=breakingNews.widget.header
      icon=breakingNews.widget.icon
    }}
  {{/if}}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

      {{>widget-banner
        imgSrc=breakingNews.banner
        imgAlt=breakingNews.title
        link=@root.breakingNewsImageLink
      }}

      <h3 class="content-title">
        <a href="{{{@root.breakingNewsTitleLink}}}" target="_blank">
          {{{breakingNews.title}}}
        </a>
      </h3>

      {{#each breakingNews.description}}
        <p>{{{this}}}</p>
      {{/each}}

      {{!
      // TODO: Move to `widget-button` component.
      }}
      {{#if @root.widgetWithButton}}
          <div class="widget-button">
            {{#uiButton presetStyle=breakingNews.button.style href=@root.breakingNewsButtonLink}}
              {{breakingNews.button.text}}
            {{/uiButton}}
          </div>
      {{/if}}

      </div>
    </td>
  </tr>
{{/table}}
