{{! ================================================================================================================= }}
{{! D I D   Y O U   K N O W ?                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-did-you-know set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-30-horizontal-sides">
      <div class="widget-wrapper">

        {{#if widgetConfig.banner}}
          {{>widget-banner
            imgSrc=widgetConfig.banner
            imgAlt=widgetConfig.title
            link=widgetConfig.imageLink
          }}
        {{/if}}

        {{#if widgetConfig.title}}
        <h3 class="content-title">
          {{#if widgetConfig.link}}<a href="{{{widgetConfig.link}}}" target="_blank">{{/if}}
            {{{widgetConfig.title}}}
          {{#if widgetConfig.link}}</a>{{/if}}
        </h3>
      {{/if}}

        {{#each widgetConfig.description}}
          <p>{{{this}}}</p>
        {{/each}}

        {{!
        // TODO: Move to `widget-button` component.
        }}

        {{#if @root.widgetWithButton}}
          <div class="widget-button">
            {{#uiButton presetStyle=widgetConfig.button.style width=widgetConfig.button.width href=(concat widgetConfig.button.link (utmVariables widgetConfig.button.utm))}}
              {{widgetConfig.button.text}}
            {{/uiButton}}
          </div>
        {{/if}}
      </div>
    </td>
  </tr>
{{/table}}
