{{! ================================================================================================================= }}
{{! L A W   E V E N T S                                                                                               }}
{{! ================================================================================================================= }}

{{!
 * @param {Object}   exploreWebinars
 * @param {string}   exploreWebinars.widget.header
 * @param {string}   exploreWebinars.widget.icon
 * @param {Object[]} exploreWebinars.events
 * @param {number}   exploreWebinars.events[].day
 * @param {string}   exploreWebinars.events[].month
 * @param {string}   exploreWebinars.events[].title
 * @param {string}   exploreWebinars.events[].typeLocation
 * @param {string}   exploreWebinars.events[].link
}}

{{assign "columnStructure" (chunks exploreWebinars.events 2 true)}}
{{assign "eventCounter" 0}}

{{! ================================================================================================================= }}

{{#table class="widget w-law-events w-explore-webinars set-max-width"}}
  {{>widget-header
    header=exploreWebinars.widget.header
    icon=exploreWebinars.widget.icon
  }}

  <tr class="">
    <td class="wrapper .widget-description -last" responsive="mobile-padding-horizontal-sides">
        <div class="widget-wrapper">
          {{#table}}
            <tr>
              <td>
                {{#forEach exploreWebinars.events}}
                <div class="content" responsive="mobile-padding-horizontal-sides">
                    {{#table}}
                      <tr class="event event-0{{index}}{{#if isFirst}} first-row{{/if}}">
                        <td class="date">
                          {{>widget-date-square
                            eventMonth=this.month
                            eventDay=this.day
                          }}
                        </td>
                        <td class="info">
                          {{#if this.link}}
                            <p class="title">
                              <b><a href="{{{this.link}}}" target="_blank">{{{this.title}}}</a></b>
                            </p>
                          {{/if}}
                          {{#if this.time}}<p class="description">{{{this.time}}}{{#and this.typeLocation}} | {{{this.typeLocation}}}{{/and}}</p>
                          {{else}}<p class="description">{{{this.typeLocation}}}</p>{{/if}}
                        </td>
                      </tr>
                    {{/table}}
                  </div>
                {{/forEach}}
              </td>
            </tr>
          {{/table}}
        </div>
    </td>
  </tr>

{{/table}}
