{{! ================================================================================================================= }}
{{! L A W   E V E N T S                                                                                               }}
{{! ================================================================================================================= }}

{{!
 * @param {Object}   exploreWebinars
 * @param {string}   exploreWebinars.widget.header
 * @param {string}   exploreWebinars.widget.icon
 * @param {Object[]} exploreWebinars.events
 * @param {number}   exploreWebinars.events[].day
 * @param {string}   exploreWebinars.events[].month
 * @param {string}   exploreWebinars.events[].title
 * @param {string}   exploreWebinars.events[].typeLocation
 * @param {string}   exploreWebinars.events[].link
}}

{{assign "columnStructure" (chunks exploreWebinars.events 2 true)}}
{{assign "eventCounter" 0}}

{{! ================================================================================================================= }}

{{#table class="widget w-law-events w-explore-webinars set-max-width"}}
  {{>widget-header
    header=exploreWebinars.widget.header
    icon=exploreWebinars.widget.icon
  }}
  <tr>
    <td class="wrapper widget-description -last" responsive="mobile-padding-20-horizontal-sides">
        <div class="widget-wrapper">
          {{#forEach exploreWebinars.events}}
          <div class="content" responsive="mobile-padding-20-horizontal-sides">
              {{#table}}
                <tr class="event event-0{{index}}{{#if isFirst}} first-row{{/if}}">
                  <td class="date">
                    {{>widget-date-square
                      eventMonth=this.month
                      eventDay=this.day
                    }}
                  </td>
                  <td class="info">
                    {{#if this.link}}
                    <p class="title"><a href="{{{this.link}}}" target="_blank">{{{this.title}}}</a></p>
                    {{else}}
                    <p class="title"><b>{{{this.title}}}</b></p>
                    {{/if}}
                    {{#if this.presentation}}
                    <p class="description">{{{this.presentation}}}</p>
                    {{/if}}
                    {{#if this.link}}
                    <p class="read-more"><a class="-red" href="{{{this.link}}}" target="_blank">{{{this.moreLink}}}</a></p>
                    {{/if}}
                  </td>
                </tr>
              {{/table}}
            </div>
          {{/forEach}}
        </div>
        <div class="widget-wrapper -calendar-link">
          <p>
            <a href="https://connect.justia.com/webinars/calendar" target="_blank">View Full Calendar</a>
          </p>
        </div>
    </td>
  </tr>

{{/table}}
