{{! ================================================================================================================= }}
{{! F E A T U R E D   N E W S                                                                                         }}
{{! ================================================================================================================= }}

{{!
  // TODO:
  // Chat with Pris and Haydee about the naming convention for the config variables.
  // In this case it uses featuredNews because both Newsletters shared the same info,
  // but `Welcome` uses `widgetConfig` because the main text is longer in the JLD vesion.
}}

{{#and featuredNews.link (compare featuredNews.link "!==" "")}}
  {{assign "featuredNewsTitleLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "featuredNewsImageLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and featuredNews.button (compare featuredNews.button.link "!==" "")}}
  {{assign "featuredNewsButtonLink" (concat featuredNews.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-news set-max-width"}}
  {{>widget-header
    header=featuredNews.widget.header
    icon=featuredNews.widget.icon
    link=@root.featuredNewsTitleLink
  }}

  {{>widget-banner
    imgSrc=featuredNews.banner
    imgAlt=featuredNews.title
    link=@root.featuredNewsImageLink
  }}

  {{!--
  // TODO:
  // Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <h3 class="content-title">{{{featuredNews.title}}}</h3>

      {{#each featuredNews.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO:
  // Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=featuredNews.button.style href=@root.featuredNewsButtonLink}}
          {{featuredNews.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
