{{! ================================================================================================================= }}
{{! F E A T U R E D   N E W S                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Chat with Pris and Haydee about the naming convention for the config variables.
// In this case it uses featuredWebinar because both Newsletters shared the same info,
// but `Welcome` uses `widgetConfig` because the main text is longer in the JLD vesion.
}}

{{!
// TODO: Fix anotations.
}}

{{#and featuredWebinar.link (compare featuredWebinar.link "!==" "")}}
  {{assign "featuredWebinarTitleLink" (concat featuredWebinar.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "featuredWebinarImageLink" (concat featuredWebinar.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and featuredWebinar.contentOrder.button (compare featuredWebinar.contentOrder.button.link "!==" "")}}
  {{assign "featuredWebinarButtonLink" (concat featuredWebinar.contentOrder.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-webinar set-max-width"}}

  {{>widget-header
    header=featuredWebinar.widget.header
    icon=featuredWebinar.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

        {{>widget-banner
          imgSrc=featuredWebinar.image
          imgAlt=featuredWebinar.title
          link=@root.featuredWebinarImageLink
        }}

        <h3 class="content-title">
          <a href="{{{@root.featuredWebinarTitleLink}}}" target="_blank">
            {{{featuredWebinar.title}}}
          </a>
        </h3>

        {{#table}}
          {{#if featuredWebinar.contentOrder}}
            {{#forEach featuredWebinar.contentOrder}}

              {{#compare this.type "===" "description"}}
                <tr>
                  <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
                    {{#each this.config}}
                      <p>{{{this}}}</p>
                    {{/each}}
                  </td>
                </tr>
              {{/compare}}

              {{#compare this.type "===" "image-description"}}
                <tr class="widget-columns -image-text ui-columns-grid">
                  <td class="content -image-description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
                    {{#forIn this.config}}
                      {{#compare @key "===" "image"}}
                        <div class="content-side -image" responsive="mobile-hide">
                          {{#if featuredWebinar.link}}
                          <a href="{{{../../featuredWebinar.link}}}{{{ utmVariables ../../featuredWebinar.utm}}}" target="_blank">{{/if}}
                            {{>img
                              src=../config.image
                              alt=(default ../../featuredWebinar.title ../../featuredWebinar.imageAlt)
                            }}
                          {{#if featuredWebinar.link}}</a>{{/if}}
                        </div>
                      {{/compare}}

                      {{#compare @key "===" "description"}}
                        <div class="content-side -description" responsive="collapse-one mobile-no-padding mobile-padding-horizontal-sides" >
                          {{#each ../config.description}}
                            <p>{{{this}}}</p>
                          {{/each}}
                        </div>
                      {{/compare}}
                    {{/forIn}}

                  </td>
                </tr>
              {{/compare}}

              {{#compare this.type "===" "button"}}
                {{#if @root.widgetWithButton}}
                  <div class="widget-button">
                    {{#uiButton presetStyle=featuredWebinar.button.contentOrder.style href=@root.featuredWebinarButtonLink}}
                      {{featuredWebinar.button.contentOrder.text}}
                    {{/uiButton}}
                  </div>
                {{/if}}
              {{/compare}}
            {{/forEach}}
          {{/if}}
        {{/table}}
      </div>
    </td>
  </tr>
{{/table}}
