{{! ================================================================================================================= }}
{{! F E A T U R E D   N E W S                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Chat with Pris and Haydee about the naming convention for the config variables.
// In this case it uses featuredWebinar because both Newsletters shared the same info,
// but `Welcome` uses `widgetConfig` because the main text is longer in the JLD vesion.
}}

{{!
// TODO: Fix anotations.
}}

{{#and featuredWebinar.link (compare featuredWebinar.link "!==" "")}}
  {{assign "featuredWebinarTitleLink" (concat featuredWebinar.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "featuredWebinarImageLink" (concat featuredWebinar.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and featuredWebinar.button (compare featuredWebinar.button.link "!==" "")}}
  {{assign "featuredWebinarButtonLink" (concat featuredWebinar.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-webinar set-max-width"}}

  {{>widget-header
    header=featuredWebinar.widget.header
    icon=featuredWebinar.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

        {{>widget-banner
          imgSrc=featuredWebinar.banner
          imgAlt=featuredWebinar.title
          link=@root.featuredWebinarImageLink
        }}

        <h3 class="content-title">
          <a href="{{{@root.featuredWebinarTitleLink}}}" target="_blank">
            {{{featuredWebinar.title}}}
          </a>
        </h3>

        {{#each featuredWebinar.description}}
          <p>{{{this}}}</p>
        {{/each}}

        {{!
          // TODO: Move to `widget-button` component.
          }}
          {{#if @root.widgetWithButton}}

              <div class="widget-button">
                {{#uiButton presetStyle=featuredWebinar.button.style href=@root.featuredWebinarButtonLink}}
                  {{featuredWebinar.button.text}}
                {{/uiButton}}
              </div>

          {{/if}}
      </div>

    </td>
  </tr>


{{/table}}
