{{! ================================================================================================================= }}
{{! F E A T U R E D   S I T E   O F   T H E   M O N T H                                                               }}
{{! ================================================================================================================= }}

{{assign "setDescription" (and featuredSiteMonth.description addDescription)}}

{{#and featuredSiteMonth.justiaLink (compare featuredSiteMonth.justiaLink "!==" "")}}
  {{assign "featuredSiteMonthJustiaLink" (concat featuredSiteMonth.justiaLink (utmVariables widgetUtmVars content=widgetUtmVars.content.justiaLink))}}
{{/and}}

{{#and featuredSiteMonth.button hasButton (compare featuredSiteMonth.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
  {{assign "featuredSiteMonthButtonLink" (concat featuredSiteMonth.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-featured-site-month set-max-width"}}
  {{>widget-header
    header=(ternary listSites featuredSiteMonth.widget.header.plural featuredSiteMonth.widget.header.singular)
    icon=featuredSiteMonth.widget.icon
  }}

    <tr>
      <td class="widget-description {{#unless @root.widgetWithButton}}-no-button{{/unless}}" responsive="mobile-padding-20-horizontal-sides">
        <div class="widget-wrapper" >
          <div class="featured-site">
            <div class="client-info">
              <p>
                <b><a href="{{featuredSiteMonth.sites.0.domain.long}}"
                  target="_blank">{{{featuredSiteMonth.sites.0.clientName}}}</a></b> in {{featuredSiteMonth.sites.0.location.detailed}}, recently launched&nbsp;{{featuredSiteMonth.sites.0.possessiveAdjective}} <b><a href="{{{@root.featuredSiteMonthJustiaLink}}}"
                      target="_blank">Justia Elevate</a></b> website:
                <b class="website"><a href="{{featuredSiteMonth.sites.0.domain.long}}"
                  target="_blank">{{featuredSiteMonth.sites.0.domain.simple}}</a></b>
              </p>
            </div>
            <div class="devices{{#unless @root.setDescription}} -last{{/unless}}">
              <a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">
                {{>img
                src=featuredSiteMonth.sites.0.screenshots
                alt=featuredSiteMonth.sites.0.clientName
              }}
              </a>
            </div>
          </div>

          {{#if @root.setDescription}}
          {{!--
          // TODO: Maybe move title and description to a component.
          --}}
            {{#each featuredSiteMonth.description}}
              <p>{{{this}}}</p>
            {{/each}}
          {{/if}}

          {{!
          // TODO: Move to `widget-button` component.
          }}
          {{#if @root.widgetWithButton}}
            <div class="widget-button">
              {{#uiButton presetStyle=featuredSiteMonth.button.style href=@root.featuredSiteMonthButtonLink fontSize=featuredSiteMonth.button.fontSize}}
                {{featuredSiteMonth.button.text}}
              {{/uiButton}}
            </div>
          {{/if}}

        </div>
      </td>
    </tr>
{{/table}}
