<!-- TECH NEWS -->

{{#and featuredNews.link (compare featuredNews.link "!==" "")}}
  {{assign "featuredNewsTitleLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "featuredNewsImageLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}
{{#and featuredNews.button (compare featuredNews.button.link "!==" "")}}
  {{assign "featuredNewsButtonLink" (concat featuredNews.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
{{/and}}

{{!-- {{assign "featuredNewsWidgetConfig" (toObject
  description=featuredNews.description
  buttonStyle=featuredNews.button.style
  buttonLink=@root.featuredNewsButtonLink
  buttonText=featuredNews.button.text
  imageLink=@root.featuredNewsImageLink
  imageSrc=featuredNews.image
  imageAlt=featuredNews.title
)}} --}}

{{#table class="widget w-featured-news set-max-width"}}
  {{>widget-title
    type=featuredNews.widget.type
    icon=featuredNews.widget.icon
    title=featuredNews.widget.title
    link=@root.featuredNewsTitleLink
  }}

  <tr>
    <td class="banner">
      {{>img src=featuredNews.banner alt=featuredNews.title}}
    </td>
  </tr>

  {{!-- <tr>
    <td class="featured-story" responsive="mobile-padding-horizontal-sides">
      {{#table align=""}}
        <tr>
          <td class="description{{#if widgetConfig.buttonLink}} -with-button{{/if}}" responsive="collapse-one mobile-no-padding-horizontal-sides">
            {{#each widgetConfig.description}}
              <p>{{{this}}}</p>
            {{/each}}
            {{#if widgetConfig.buttonLink}}
              {{#uiButton presetStyle=widgetConfig.buttonStyle href=widgetConfig.buttonLink}}
                {{widgetConfig.buttonText}}
              {{/uiButton}}
            {{/if}}
          </td>
          <td class="image" responsive="mobile-hide">
            {{#if widgetConfig.imageLink}}<a href="{{{widgetConfig.imageLink}}}" target="_blank">{{/if}}
              {{>img
                src=widgetConfig.imageSrc
                alt=widgetConfig.imageAlt
              }}
            {{#if widgetConfig.imageLink}}</a>{{/if}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr> --}}


  {{!-- {{>featured-story widgetConfig=@root.featuredNewsWidgetConfig}} --}}
{{/table}}
