{{! ================================================================================================================= }}
{{! F E A T U R E D   S I T E   O F   T H E   M O N T H                                                               }}
{{! ================================================================================================================= }}

{{assign "setDescription" (and featuredSiteMonth.description addDescription)}}

{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-featured-site-month set-max-width"}}
  {{>widget-header
    header=(ternary listSites featuredSiteMonth.widget.header.plural featuredSiteMonth.widget.header.singular)
    icon=featuredSiteMonth.widget.icon
  }}

  {{#if singleSite}}
    <tr class="featured-site">
      <td class="client-info" responsive="mobile-padding-horizontal-sides">
        <p class="name">
          <b><a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">{{{featuredSiteMonth.sites.0.clientName}}}</a></b>
        </p>
        <p class="location">
          in {{featuredSiteMonth.sites.0.location.detailed}}, recently launched&nbsp;<br responsive="mobile-hide">
          {{featuredSiteMonth.sites.0.possessiveAdjective}} Justia website:
        </p>
        <p class="website">
          <b><a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">{{featuredSiteMonth.sites.0.domain.simple}}</a></b>
        </p>
      </td>
    </tr>
    <tr class="featured-site">
      <td class="devices{{#unless @root.setDescription}} -last{{/unless}}" responsive="mobile-padding-horizontal-sides">
        <a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">
          {{>img
            src=featuredSiteMonth.sites.0.screenshots
            alt=featuredSiteMonth.sites.0.clientName
          }}
        </a>
      </td>
    </tr>
  {{/if}}

  {{#if listSites}}
    <tr>
      <td class="sites-list-description" responsive="mobile-padding-horizontal-sides">
        <p>The following clients recently launched their sites with Justia.</p>
      </td>
    </tr>
    <tr>
      <td class="sites-list" responsive="mobile-padding-horizontal-sides">
        {{#forEach featuredSiteMonth.sites}}
          {{#table align="" class=(concat "site-item -site-" index)}}
            <tr>
              <td class="devices{{#if isLast}} -last{{/if}}" responsive="mobile-hide">
                <a href="{{this.domain.long}}" target="_blank">
                  {{>img
                    src=this.thumbnail
                    alt=this.clientName
                  }}
                </a>
              </td>
              <td class="client-info{{#if isLast}} -last{{/if}}" responsive="collapse-one mobile-align-center {{#unless isLast}} mobile-padding-30-bottom{{else}} mobile-no-padding-bottom{{/unless}}">
                <p class="name" responsive="mobile-fz-18">
                  <b>{{{this.clientName}}}</b>
                </p>
                <p class="location">in {{this.location.short}}</p>
                <p class="website">
                  <a href="{{this.domain.long}}" target="_blank">{{this.domain.simple}}</a>
                </p>
              </td>
            </tr>
          {{/table}}
        {{/forEach}}
      </td>
    </tr>
  {{/if}}


  {{#if @root.setDescription}}
    {{!--
    // TODO: Maybe move title and description to a component.
    --}}
    <tr>
      <td class="widget-description -no-button" responsive="mobile-padding-horizontal-sides">
        {{#each featuredSiteMonth.description}}
          <p>{{{this}}}</p>
        {{/each}}
      </td>
    </tr>
  {{/if}}
{{/table}}
