{{! ================================================================================================================= }}
{{! I M P O R T A N T   N E W S                                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#and importantNews.link (compare importantNews.link "!==" "")}}
  {{assign "importantNewsTitleLink" (concat importantNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "importantNewsImageLink" (concat importantNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and importantNews.button (compare importantNews.button.link "!==" "")}}
  {{assign "importantNewsButtonLink" (concat importantNews.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}
{{#table class="widget w-important-news set-max-width "}}

  {{>widget-header
    header=importantNews.widget.header
    iconSrc=importantNews.widget.iconSrc
  }}

  {{#if importantNews.banner}}
    {{>widget-banner
      imgSrc=importantNews.banner
      imgAlt=importantNews.title
      link=@root.importantNewsImageLink
    }}
  {{/if}}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#if importantNews.title}}
        <h3 class="content-title">
          {{#if @root.importantNewsTitleLink}}<a href="{{{@root.importantNewsTitleLink}}}" target="_blank">{{/if}}
            {{{importantNews.title}}}
          {{#if @root.importantNewsTitleLink}}</a>{{/if}}
        </h3>
      {{/if}}

      {{#each importantNews.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO: Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=importantNews.button.style href=@root.importantNewsButtonLink}}
          {{importantNews.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}












