{{! ================================================================================================================= }}
{{! C L I E N T S   I N   T H E   N E W S                                                                             }}
{{! ================================================================================================================= }}


{{! ================================================================================================================= }}

{{#table class="widget w-in-the-news set-max-width"}}
  {{>widget-header
    header=inTheNews.widget.header
    icon=inTheNews.widget.icon
  }}

  {{assign "columnStructure" (toColumnStructure inTheNews.columns 2)}}

  <tr class="widget-columns-with-image ui-columns-grid">
    <td class="wrapper -last" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        {{#each @root.columnStructure}}
          <tr>
            {{>ui-columns-grid rowClasses=(ternary @first "first-row" "") columnGridStart=true fullWidth=540 totalColumns=2 columnsGap=40}}
              {{#each this}}
                {{#if this.image}}
                  <tr>
                    <td class="block" responsive="{{#and @first @../first}}mobile-no-padding{{else}}mobile-padding-medium-top{{/and}}">
                      {{>img src=this.image.src alt=this.image.src class="block-image"}}

                      {{#if this.blockTitle}}
                        <h3 class="block-title"><b>{{{this.blockTitle}}}</b></h3>
                      {{/if}}

                      {{#if this.blockSubtitle}}
                        <p class="block-subtitle">{{{this.blockTitle}}}</p>
                      {{/if}}

                      {{#each this.description}}
                        <p class="block-description">
                          {{{this}}}
                          {{#and @last (and ../readMore (compare ../readMore "!==" ""))}}
                            <b><a href="{{{../readMore}}}" target="_blank">Read More ›</a></b>
                          {{/and}}
                        </p>
                      {{/each}}
                    </td>
                  </tr>
                {{else}}
                  <td responsive="mobile-hide">&nbsp;</td>
                {{/if}}

                {{#unless @last}}
                  {{>ui-columns-grid columnGridSeparator=true cellAlignment="right"}}
                {{/unless}}
              {{/each}}
            {{>ui-columns-grid columnGridEnd=true}}
          </tr>
        {{/each}}
      {{/table}}
    </td>
  </tr>

  <tr>
    <td class="extra-info" responsive="mobile-padding-horizontal-sides">
      <p class="no-margin">Have you or your firm been mentioned in the news recently?</p>
      <p><b><a href="mailto:newsletter-support@justia.com" target="_blank">Send us your stories!</a></b></p>
    </td>
  </tr>
{{/table}}
