{{! ================================================================================================================= }}
{{! I N T E R N E T   S T A T S                                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-internet-stats set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
  }}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{#table}}

        <tr>
          <td class="chart{{#unless widgetConfig.description}} -last{{/unless}}">
            {{#if widgetConfig.link}}<a href="{{widgetConfig.link}}" target="_blank">{{/if}}
              {{>img
                src=widgetConfig.image
                alt=widgetConfig.subtitle
              }}
            {{#if widgetConfig.link}}</a>{{/if}}
          </td>
        </tr>

        <tr>
          <td class="subtitle">
            <p><b>{{{widgetConfig.subtitle}}}</b></p>

            {{#if widgetConfig.topDescription}}
              <p class="top-description">{{{widgetConfig.topDescription}}}</p>
            {{/if}}
          </td>
        </tr>

        <tr>
          <td class="description">
            {{#if widgetConfig.source}}
              <p class="source">
                Source:
                {{#if widgetConfig.sourceLink}}<a href="{{widgetConfig.sourceLink}}" target="_blank">{{/if}}
                  {{{widgetConfig.source}}}
                {{#if widgetConfig.sourceLink}}</a>{{/if}}
              </p>
            {{/if}}

            {{#if widgetConfig.description}}
              {{#each widgetConfig.description}}
                <p>{{{this}}}</p>
              {{/each}}
            {{/if}}
          </td>
        </tr>
        {{/table}}
      </div>
    </td>
  </tr>

{{/table}}
