{{! ================================================================================================================= }}
{{! I N T E R N E T   S T A T S                                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-internet-stats set-max-width"}}
  {{>widget-header
    header=internetStats.widget.header
    icon=internetStats.widget.icon
  }}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-30-horizontal-sides">
      <div class="widget-wrapper">
        {{#table}}

        <tr>
          <td class="chart{{#unless internetStats.description}} -last{{/unless}}">
            {{#if internetStats.link}}<a href="{{internetStats.link}}" target="_blank">{{/if}}
              {{>img
                src=internetStats.image
                alt=internetStats.subtitle
              }}
            {{#if internetStats.link}}</a>{{/if}}
          </td>
        </tr>

        <tr>
          <td class="subtitle">
            <p><b>{{{internetStats.subtitle}}}</b></p>

            {{#if internetStats.topDescription}}
              <p class="top-description">{{{internetStats.topDescription}}}</p>
            {{/if}}
          </td>
        </tr>

        <tr>
          <td class="description">
            {{#if internetStats.source}}
              <p class="source">
                Source:
                {{#if internetStats.sourceLink}}<a href="{{internetStats.sourceLink}}" target="_blank">{{/if}}
                  {{{internetStats.source}}}
                {{#if internetStats.sourceLink}}</a>{{/if}}
              </p>
            {{/if}}

            {{#if internetStats.description}}
              {{#each internetStats.description}}
                <p>{{{this}}}</p>
              {{/each}}
            {{/if}}
          </td>
        </tr>
        {{/table}}
      </div>
    </td>
  </tr>

{{/table}}
