{{! ================================================================================================================= }}
{{! I N T E R N E T   S T A T S                                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-internet-stats set-max-width"}}
  {{>widget-header
    header=internetStats2.widget.header
    icon=internetStats2.widget.icon
  }}

  <tr>
    <td class="subtitle" responsive="mobile-padding-horizontal-sides">
      <p><b>{{{internetStats2.subtitle}}}</b></p>

      {{#if internetStats2.topDescription}}
        <p class="top-description">{{{internetStats2.topDescription}}}</p>
      {{/if}}
    </td>
  </tr>

  <tr>
    <td class="chart{{#unless internetStats2.description}} -last{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#if internetStats2.link}}<a href="{{internetStats2.link}}" target="_blank">{{/if}}
        {{>img
          src=internetStats2.image
          alt=internetStats2.subtitle
        }}
      {{#if internetStats2.link}}</a>{{/if}}
    </td>
  </tr>

  <tr>
    <td class="description" responsive="mobile-padding-horizontal-sides">
      {{#if internetStats2.source}}
        <p class="source">
          Source:
          {{#if internetStats2.sourceLink}}<a href="{{internetStats2.sourceLink}}" target="_blank">{{/if}}
            {{{internetStats2.source}}}
          {{#if internetStats2.sourceLink}}</a>{{/if}}
        </p>
      {{/if}}

      {{#if internetStats2.description}}
        {{#each internetStats2.description}}
          <p>{{{this}}}</p>
        {{/each}}
      {{/if}}
    </td>
  </tr>
{{/table}}
