<!-- CONTENT -->

{{#table class="w-jobs set-max-width"}}
  <tr>
    <td class="widget-main-title" responsive="mobile-padding-horizontal-sides">
      <h4>Latest Opportunities</h4>
      <p>More than 40 jobs in this issue:</p>
    </td>
  </tr>
  {{#forEach jobsListing.places}}
    <tr>
      <td class="jobs-listing{{#if isFirst}} -first{{/if}}" responsive="mobile-padding-horizontal-sides">
        {{#table class="set-max-width"}}
          <tr>
            <td class="location-name">
              {{#table class="set-max-width"}}
                <tr>
                  <td class="pin">
                    {{>img src="https://justatic.com/emails/images/legal-jobs-newsletters/common/jobs-location-01.png" alt="Location Pin"}}
                  </td>
                  <td class="name">
                    <p><b>{{{this.area}}}</b></p>
                  </td>
                </tr>
              {{/table}}
            </td>
          </tr>
          {{#forEach this.jobs}}
            <tr>
              <td class="available-jobs">
                {{#table class="set-max-width"}}
                  <tr>
                    <td class="description" responsive="collapse-one mobile-padding-bottom mobile-no-padding-horizontal-sides">
                      <p>
                        <a class="position" href="{{{this.link}}}" target="_blank">{{{this.title}}}</a><br>
                        <a class="company" href="{{{this.link}}}" target="_blank">{{{this.company}}}</a>
                      </p>
                    </td>
                    <td class="details-button" responsive="collapse-one mobile-no-padding-top mobile-align-left">
                      {{#uiButton href=this.link width="110" height="40" fontSize="12"}}VIEW DETAILS{{/uiButton}}
                    </td>
                  </tr>
                {{/table}}
              </td>
            </tr>
          {{/forEach}}
        {{/table}}
      </td>
    </tr>
  {{/forEach}}
{{/table}}
