{{! ================================================================================================================= }}
{{! J U S T I A   L E G A L   J O B S   N E W S L E T T E R                                                           }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#and jobsSubscribe.button (compare jobsSubscribe.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-jobs-newsletter set-max-width"}}
  {{>widget-header
    header=jobsSubscribe.widget.header
    icon=jobsSubscribe.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

      {{#if jobsSubscribe.banner}}
        {{>widget-banner
          imgSrc=jobsSubscribe.banner
          imgAlt=jobsSubscribe.title
          link=jobsSubscribe.imageLink
        }}
      {{/if}}

        {{#each jobsSubscribe.description}}
          <p>{{{this}}}</p>
        {{/each}}

        {{!
        // TODO: Move to `widget-button` component.
        }}
        {{#if @root.widgetWithButton}}
            <div class="widget-button">
              {{#uiButton presetStyle=jobsSubscribe.button.style href=jobsSubscribe.button.link}}
                {{jobsSubscribe.button.text}}
              {{/uiButton}}
            </div>
        {{/if}}
      </div>
    </td>
  </tr>

{{/table}}

