{{! ================================================================================================================= }}
{{! J U S T I A   D E S K                                                                                             }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{!
    * @param {Object[]} justiaDeskPro.news
    * @param {string} justiaDeskPro.news[].title
    * @param {string} justiaDeskPro.news[].link
    * @param {string} justiaDeskPro.news[].description
    * @param {boolean} [isLast]
    * @param {Object} justiaDeskPro.utm
    * @param {Object} justiaDeskPro.utm.clients
    * @param {string} justiaDeskPro.utm.clients.medium
    * @param {string} justiaDeskPro.utm.clients.campaign
    * @param {string} justiaDeskPro.utm.clients.source
    * @param {Object} justiaDeskPro.utm.clients.content
    * @param {string} justiaDeskPro.utm.clients.content.title
    * @param {string} justiaDeskPro.utm.clients.content.image
    * @param {string} justiaDeskPro.utm.clients.content.button
    * @param {Object} justiaDeskPro.utm.jld
    * @param {string} justiaDeskPro.utm.jld.medium
    * @param {string} justiaDeskPro.utm.jld.campaign
    * @param {string} justiaDeskPro.utm.jld.source
    * @param {Object} justiaDeskPro.utm.jld.content
    * @param {string} justiaDeskPro.utm.jld.content.title
    * @param {string} justiaDeskPro.utm.jld.content.image
    * @param {string} justiaDeskPro.utm.jld.content.button
}}

{{assign "justiaDeskProTitleLink" (concat (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
{{assign "justiaDeskProReadMore" (concat (utmVariables widgetUtmVars content=widgetUtmVars.content.readMore))}}

{{assign "onwardSub" (concat (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
{{assign "columnStructure" (chunks justiaDeskPro.news 2 true)}}

{{#and justiaDeskPro.button (compare justiaDeskPro.button.link "!==" "")}}
  {{assign "justiaDeskProButtonLink" (concat justiaDeskPro.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-justia-desk set-max-width"}}

    {{#if justiaDeskPro.widget.iconSrc}}
      {{>widget-header
        header=justiaDeskPro.widget.header
        iconSrc=justiaDeskPro.widget.iconSrc
      }}
    {{else}}
      {{>widget-header
        header=justiaDeskPro.widget.header
        icon=justiaDeskPro.widget.icon
      }}
    {{/if}}

    <tr class="widget-columns -articles ui-columns-grid">
    <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <div class="widget-wrapper">

          <!-- <div class="-subscribe">
            <p>Want instant updates? Justia Connect members can <a href="https://onward.justia.com/subscribe/{{@root.onwardSub}}" target="_blank">subscribe now.</a></p>
          </div> -->

          {{>widget-banner
            widgetClass="banner-icon"
            imgSrc=justiaDeskPro.banner
            imgAlt=justiaDeskPro.title
            link="#"
          }}

          {{#table}}
            {{#each @root.columnStructure}}
              {{>ui-columns-grid cellClasses="article" rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=25 firstRow=@first}}
                {{#each this}}
                    {{#unless @first}}
                    {{>ui-columns-grid cellClasses="article" cellSeparator=true cellIsEmpty=(isFalsey this.title) firstRow=@../first}}
                    {{/unless}}

                    {{#if this.title}}
                    <p class="title">
                        {{#and this.link (compare this.link "!==" "")}}<a href='{{{this.link}}}{{#if this.index}}{{@root.justiaDeskProTitleLink}}{{this.index}}{{/if}}' target="_blank">{{/and}}
                        <b>{{{this.title}}}</b>
                        {{#and this.link (compare this.link "!==" "")}}</a>{{/and}}
                    </p>
                    <p class="description">
                        {{{this.description}}}
                    </p>
                    <a href="{{{this.link}}}{{#if this.index}}{{@root.justiaDeskProReadMore}}{{this.index}}{{/if}}" target="_blank"><b>Read More »</b></a>
                    {{else}}
                    &nbsp;
                    {{/if}}
                {{/each}}
              {{>ui-columns-grid rowEnd=true}}
            {{/each}}
        {{/table}}
        </div>
    </td>
    </tr>
{{/table}}
