{{! ================================================================================================================= }}
{{! L A W   E V E N T S                                                                                               }}
{{! ================================================================================================================= }}

{{!
 * @param {Object}   lawEvents
 * @param {string}   lawEvents.widget.header
 * @param {string}   lawEvents.widget.icon
 * @param {Object[]} lawEvents.events
 * @param {number}   lawEvents.events[].day
 * @param {string}   lawEvents.events[].month
 * @param {string}   lawEvents.events[].title
 * @param {string}   lawEvents.events[].typeLocation
 * @param {string}   lawEvents.events[].link
}}

{{assign "columnStructure" (chunks lawEvents.events 2 true)}}
{{assign "eventCounter" 0}}

{{! ================================================================================================================= }}

{{#table class="widget w-law-events set-max-width"}}
  {{>widget-header
    header=lawEvents.widget.header
    icon=lawEvents.widget.icon
  }}

  <tr class="">
    <td class="wrapper -last" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        {{#forEach lawEvents.events}}
          <tr class="event event-0{{index}}{{#if isFirst}} first-row{{/if}}">
            <td>
              {{>widget-date-square
                eventMonth=this.month
                eventDay=this.day
              }}
            </td>
            <td>
              {{#if this.link}}
                <p class="title">
                  <b><a href="{{{this.link}}}" target="_blank">{{{this.title}}}</a></b>
                </p>
              {{/if}}
              {{#if this.time}}<p class="description">{{{this.time}}}{{#and this.typeLocation}} | {{{this.typeLocation}}}{{/and}}</p>
              {{else}}<p class="description">{{{this.typeLocation}}}</p>{{/if}}
            </td>
          </tr>
        {{/forEach}}
      {{/table}}
    </td>
  </tr>

{{/table}}
