{{! ================================================================================================================= }}
{{! L A W   E V E N T S                                                                                               }}
{{! ================================================================================================================= }}

{{!
 * @param {Object}   lawEvents
 * @param {string}   lawEvents.widget.header
 * @param {string}   lawEvents.widget.icon
 * @param {Object[]} lawEvents.events
 * @param {number}   lawEvents.events[].day
 * @param {string}   lawEvents.events[].month
 * @param {string}   lawEvents.events[].title
 * @param {string}   lawEvents.events[].typeLocation
 * @param {string}   lawEvents.events[].link
}}

{{assign "columnStructure" (chunks lawEvents.events 2 true)}}
{{assign "eventCounter" 0}}
{{assign "adClasses" (classList "widget" "w-text-btn" widgetClass "set-max-width")}}

{{! ================================================================================================================= }}

{{#table class=(classList "widget" "w-law-events" "w-text-btn" widgetClass "set-max-width")}}

  {{>widget-header
    header=lawEvents.widget.header
    icon=lawEvents.widget.icon
  }}

  <tr class="">
    <td class="wrapper" responsive="mobile-padding-horizontal-sides">
        <div class="widget-wrapper" responsive="mobile-padding-horizontal-sides">
          {{#table}}
            <tr>
              <td>
                {{#forEach lawEvents.events}}
                <div class="content" responsive="mobile-padding-horizontal-sides">
                    {{#table}}
                      <tr class="event event-0{{index}}{{#if isFirst}} first-row{{/if}}">
                        <td class="date">
                          {{>widget-date-square
                            eventMonth=this.month
                            eventDay=this.day
                            eventCategory=this.category
                          }}
                        </td>
                        <td class="info">
                          {{#if this.link}}
                            <p class="title">
                              <b><a href="{{{this.link}}}" target="_blank">{{{this.title}}}</a></b>
                            </p>
                          {{/if}}
                          {{#if this.speakers}}<p class="description">{{this.speakers}}</p>{{/if}}
                          {{#if this.cta}}
                            <p class="description read-more"><a href="{{{this.link}}}" class="-red" target="_blank">{{this.cta}}</a></p>
                          {{/if}}
                        </td>
                      </tr>
                    {{/table}}
                  </div>
                {{/forEach}}
              </td>
            </tr>
          {{/table}}
        </div>
    </td>
  </tr>

{{/table}}
