{{! ================================================================================================================= }}
{{! L A W   E V E N T S                                                                                               }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{assign "columnStructure" (chunks lawEvents.events 2 true)}}
{{assign "eventCounter" 0}}

{{! ================================================================================================================= }}

{{#table class="widget w-law-events set-max-width"}}
  {{>widget-header
    header=lawEvents.widget.header
    icon=lawEvents.widget.icon
  }}

  <tr class="widget-columns ui-columns-grid">
    <td class="wrapper -last" responsive="mobile-padding-horizontal-sides">
      {{#table}}
        {{#each @root.columnStructure}}
          {{assign "eventCounter" (add @root.eventCounter 1)}}
          {{>ui-columns-grid cellClasses=(concat "event -event-" @root.eventCounter) rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=25 firstRow=@first}}
            {{#each this}}
              {{#unless @first}}
                {{assign "eventCounter" (add @root.eventCounter 1)}}
                {{>ui-columns-grid cellClasses=(concat "event -event-" @root.eventCounter) cellSeparator=true cellIsEmpty=(isFalsey this.dateTime) firstRow=@../first}}
              {{/unless}}

              {{#if this.dateTime}}
                <p class="date">{{{this.dateTime}}}</p>
                <p class="type">{{{this.typeLocation}}}</p>
                <p class="description">{{{this.description}}}</p>

                {{#and this.readMore (compare this.readMore "!==" "")}}
                  <p class="read-more" responsive="mobile-no-margin">
                    <b><a href="{{{this.readMore}}}" target="_blank">Read More ›</a></b>
                  </p>
                {{/and}}
              {{else}}
                &nbsp;
              {{/if}}
            {{/each}}
          {{>ui-columns-grid rowEnd=true}}
        {{/each}}
      {{/table}}
    </td>
  </tr>

{{/table}}
