{{! ================================================================================================================= }}
{{! F E A T U R E D   QA L A W Y E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {String}   widgetClass
 * @param {Object}   widgetConfig
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
 * @param {Object[]} widgetConfig.list
 * @param {String}   widgetConfig.list[].id
 * @param {Number}   widgetConfig.list[].rank
 * @param {String}   widgetConfig.list[].name
 * @param {String}   widgetConfig.list[].location
 * @param {String}   widgetConfig.list[].nameLink
 * @param {String}   widgetConfig.list[].photoLink
 * @param {String[]} widgetConfig.description
}}

{{!-- {{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}
 --}}
{{! ================================================================================================================= }}

{{#table class="widget w-lawyer-qa set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
    link=widgetConfig.widget.link
  }}

  <tr class="widget-columns -image-text -atty-wrapper ui-columns-grid">
    <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{#table}}
          <tr class="content-wrapper">
            <td class="content -image-description" responsive="mobile-padding-horizontal-sides">
              <div class="content-side wrapper -photo" responsive="collapse-one mobile-padding-bottom">
                {{#if widgetConfig.photoLink}}<a href="{{{widgetConfig.photoLink}}}" target="_blank">{{/if}}
                 {{>img src="insights-lawyer-qa-01.png" alt=widgetConfig.name class="photo"}}
                {{#if widgetConfig.photoLink}}</a>{{/if}}
              </div>
              <div class="content-side -description" responsive="collapse-one mobile-no-padding">
                <p class="question-text">
                  Q: {{{widgetConfig.question}}}
                </p>
                <p class="answer-text">
                  <b>Answer:</b> <em>{{{widgetConfig.answer}}}</em> {{#if widgetConfig.learnMore}}<a href="{{{widgetConfig.learnMore}}}" target="_blank">{{/if}} Learn More › {{#if widgetConfig.learnMore}}</a>{{/if}}
                </p>
              </div>
            </td>
          </tr>
        {{/table}}
      </div>
    </td>
  </tr>
  <tr>
    <td class="lawyer-info widget-description" responsive="mobile-padding-horizontal-sides">
      <div responsive="mobile-padding-horizontal-sides">
        <p class="name"><b>{{{widgetConfig.name}}}</b></p>
        <span class="location">{{{widgetConfig.location}}}</span>
      </div>
    </td>
  </tr>
{{/table}}
