{{! ================================================================================================================= }}
{{! F E A T U R E D   QA L A W Y E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {String}   widgetClass
 * @param {Object}   widgetConfig
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
 * @param {Object[]} widgetConfig.list
 * @param {String}   widgetConfig.list[].id
 * @param {Number}   widgetConfig.list[].rank
 * @param {String}   widgetConfig.list[].name
 * @param {String}   widgetConfig.list[].location
 * @param {String}   widgetConfig.list[].nameLink
 * @param {String}   widgetConfig.list[].photoLink
 * @param {String[]} widgetConfig.description
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-lawyer-qa set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
    link=widgetConfig.widget.link
  }}

  <tr>
    <td class="widget-description" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">

        {{#table class="question-section" responsive="mobile-reset-width"}}
          <tr class="question">
            <td class="-icon" responsive="mobile-padding-horizontal-sides">
              {{>img src="q-icon.png" alt="icon" class="icon"}}
            </td>
            <td>
              <p class="question-text">
                {{{widgetConfig.question}}}
              </p>
            </td>
          </tr>
        {{/table}}

        {{#table class="answer-section" responsive="mobile-reset-width"}}
          <tr class="answer">
            <td class="-photo" responsive="mobile-padding-horizontal-sides">
              {{#if widgetConfig.photoLink}}<a href="{{{widgetConfig.photoLink}}}" target="_blank">{{/if}}
                {{>img src="qa-lawyer-01.png" alt=widgetConfig.name class="photo"}}
              {{#if widgetConfig.photoLink}}</a>{{/if}}
            </td>
            <td>
              <p class="answer-text">
                {{{widgetConfig.answer}}}
              </p>
              <p class="name">
                {{#if widgetConfig.nameLink}}<a href="{{{widgetConfig.nameLink}}}" target="_blank">{{/if}}
                  {{{widgetConfig.name}}}
                {{#if widgetConfig.nameLink}}</a>{{>img src="pro-label.png" alt="Pro" class="pro-label"}}{{/if}}
              </p>
              <p class="location">
                {{#uppercase}}{{widgetConfig.location}}{{/uppercase}}
              </p>
              {{#if @root.widgetWithButton}}
              <div class="widget-button">
                {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link width=widgetConfig.button.width}}
                  {{widgetConfig.button.text}}
                {{/uiButton}}
              </div>
            {{/if}}
            </td>
          </tr>
        {{/table}}


      </div>
    </td>
  </tr>


{{/table}}
