{{! ================================================================================================================= }}
{{! I N S I D E   J U S T I A                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#table class="widget w-inside-justia set-max-width"}}
  {{>widget-header
    header=meetOurTeam.widget.header
    icon=meetOurTeam.widget.icon
  }}

  {{#if meetOurTeam.singleColumn}}
  <tr>
    <td class="widget-description -no-button" responsive="mobile-padding-30-horizontal-sides">
      <div class="widget-wrapper">
        {{#each meetOurTeam.columns}}

        {{#if this.readMore}}
          {{>widget-banner imgSrc=this.image.src imgAlt=this.image.alt link=this.readMore}}
        {{else}}
          {{>widget-banner imgSrc=this.image.src imgAlt=this.image.alt link="#"}}
        {{/if}}

        {{!--
        // TODO: Maybe move title and description to a component.
        // TODO: Fix classes for content.
        --}}

        <h3 class="content-title">
          {{{this.blockTitle}}}
        </h3>
        {{#if this.blockSubtitle}}
          <p class="content-subtitle">
            {{{this.blockSubtitle}}}
          </p>
        {{/if}}
        {{#each this.description}}
          <p>{{{this}}}</p>
        {{/each}}
      {{/each}}
      </div>
    </td>
  </tr>
  {{else}}
      {{>widget-columns-with-image widgetConfig=meetOurTeam.columns isLast=true}}
  {{/if}}
{{/table}}
