{{! ================================================================================================================= }}
{{! F E A T U R E D   N E W S   M U L T I                                                                               }}
{{! ================================================================================================================= }}
{{!
// TODO: Add anotations.
}}
{{#and widgetConfig.hasButton}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}
{{#table class="widget w-multiple-news set-max-width"}}

  {{>widget-header
    header=widgetConfig.widget.header
    iconSrc=widgetConfig.widget.iconSrc
  }}
  

  {{#if widgetConfig.singleColumn}}
    {{#each widgetConfig.columns}}
    
      {{#if this.image}}
        {{>widget-banner
          imgSrc=this.image.src
          imgAlt=this.image.alt
          link=this.image.link
        }}
      {{/if}}

      {{!--
      // TODO: Maybe move title and description to a component.
      // TODO: Fix classes for content.
      --}}
      <tr>
        <td class="widget-description {{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
            {{#if this.blockTitle}}
              <h3 class="content-title">
                {{#if this.titleLink}}<a href="{{{this.titleLink}}}" target="_blank">{{/if}}
                  {{{this.blockTitle}}}
                {{#if this.titleLink}}</a>{{/if}}
              </h3>
            {{/if}}
 
          {{#each this.description}}
            <p>{{{this}}}</p>
          {{/each}}
        </td>
      </tr>
      {{#if @root.widgetWithButton}}
        <tr>
          <td class="widget-button" responsive="mobile-padding-horizontal-sides">
            {{#uiButton presetStyle=this.button.style href=(concat this.button.link (utmVariables this.button.utm)) width=this.button.width}}
              {{this.button.text}}
            {{/uiButton}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
  {{else}}
    {{>widget-columns-with-image widgetConfig=voterResource.columns isLast=true}}
  {{/if}}
{{/table}}