{{! ================================================================================================================= }}
{{! I N S I D E   J U S T I A                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{assign "adClasses" (classList "widget" "w-image-description" widgetClass "set-max-width")}}

{{! ================================================================================================================= }}

{{#table class=(classList "widget" "w-new-people-2" widgetClass "set-max-width")}}
  {{>widget-header
    header=newPeople.widget.header
    type=newPeople.widget.type
  }}

  {{#if widgetConfig.contentOrder}}
    {{#forEach widgetConfig.contentOrder}}
      {{#compare this.type "===" "image-description"}}
        <tr>
          <td class="content -image-description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#forIn this.config}}
              {{#compare @key "===" "image"}}
                <div class="content-side -image" responsive="collapse-one mobile-padding-bottom">
                  {{>img
                    src=../config.image
                    alt=(default ../../widgetConfig.title ../../widgetConfig.imageAlt)
                  }}
                </div>
              {{/compare}}

              {{#compare @key "===" "description"}}
                <div class="content-side -description" responsive="collapse-one mobile-no-padding">
                  {{#if ../config.title}}<h3 class="block-title">{{#if ../config.link}}<a href="{{{../config.link}}}" target="_blank">{{/if}}{{../config.title}}{{#if ../config.link}}</a>{{/if}}</h3>{{/if}}
                  {{#if ../config.blockSubtitle}}<p class="block-subtitle">{{../config.blockSubtitle}}</p>{{/if}}
                  <p>{{{../config.description}}}</p>
                </div>
              {{/compare}}
            {{/forIn}}
          </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "description"}}
        <tr>
          <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#each this.config}}
              <p>{{{this}}}</p>
            {{/each}}
          </td>
        </tr>
      {{/compare}}
    {{/forEach}}
  {{/if}}
{{/table}}
