{{! ================================================================================================================= }}
{{! J U S T I A   L E G A L   J O B S   N E W S L E T T E R                                                           }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#and onwardSubscribe.button (compare onwardSubscribe.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-jobs-newsletter set-max-width"}}
  {{>widget-header
    header=onwardSubscribe.widget.header
    icon=onwardSubscribe.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#each onwardSubscribe.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO: Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=onwardSubscribe.button.style href=onwardSubscribe.button.link}}
          {{onwardSubscribe.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}


