{{! ================================================================================================================= }}
{{! I N S I D E   J U S T I A                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{assign "adClasses" (classList "widget" "w-blog-justia" widgetClass "set-max-width")}}

{{#table class=(classList "widget" "w-blog-justia" widgetClass "set-max-width")}}
  {{>widget-header
    header=ourBlog.widget.header
    type=ourBlog.widget.type
  }}

  {{#if ourBlog.description.top}}
    <tr>
      <td class="widget-description -no-button" responsive="mobile-padding-horizontal-sides">
        {{#each ourBlog.description.top}}
          <p>{{{this}}}</p>
        {{/each}}
      </td>
    </tr>
  {{/if}}

  {{#if ourBlog.feature}}

      {{>widget-banner imgSrc=ourBlog.feature.image.src imgAlt=ourBlog.feature.image.alt link=ourBlog.feature.readMore}}
      <tr>
        <td class="widget-description -no-button" responsive="mobile-padding-horizontal-sides">
          <h3 class="block-title">
            {{#if ourBlog.feature.readMore}}<a href="{{{ourBlog.feature.readMore}}}" target="_blank" class="block-image-link">{{/if}}
              {{{ourBlog.feature.blockTitle}}}
            {{#if ourBlog.feature.readMore}}</a>{{/if}}
          </h3>
          {{#if blockSubtitle}}
            <p class="content-subtitle">
              {{{blockSubtitle}}}
            </p>
          {{/if}}
        </td>
      </tr>
  {{/if}}

  {{#if ourBlog.singleColumn}}

    {{#each ourBlog.columns}}

      {{>widget-banner imgSrc=this.image.src imgAlt=this.image.alt}}

      {{!--
      // TODO: Maybe move title and description to a component.
      // TODO: Fix classes for content.
      --}}
      <tr>
        <td class="widget-description -no-button" responsive="mobile-padding-horizontal-sides">
          <h3 class="block-title">
            {{#if readMore}}<a href="{{{readMore}}}" target="_blank" class="block-image-link">{{/if}}
              {{{this.blockTitle}}}
            {{#if readMore}}</a>{{/if}}
          </h3>
          {{#if this.blockSubtitle}}
            <p class="content-subtitle">
              {{{this.blockSubtitle}}}
            </p>
          {{/if}}
          {{#each this.description}}
            <p>{{{this}}}</p>
            {{#and @last (and ../readMore (compare ../readMore "!==" ""))}}
              <p><a href="{{{../readMore}}}" target="_blank"><b>Read More</b></a></p>
            {{/and}}
          {{/each}}
        </td>
      </tr>
    {{/each}}

  {{else}}
    {{>widget-columns-with-image widgetConfig=ourBlog.columns isLast=true}}
  {{/if}}

  {{#if ourBlog.description.bottom}}
    <tr>
      <td class="widget-description -no-button -last" responsive="mobile-padding-horizontal-sides">
        {{#each ourBlog.description.bottom}}
          <p>{{{this}}}</p>
        {{/each}}
      </td>
    </tr>
  {{/if}}
{{/table}}
