{{! ================================================================================================================= }}
{{! W I D G E T   -   A D V E R T I S E M E N T                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}          widgetConfig
 * @param {string}          widgetConfig.link
 * @param {Object}          widgetConfig.utm
 * @param {Object}          widgetConfig.logo
 * @param {string}          widgetConfig.logo.name
 * @param {string}          widgetConfig.logo.color
 * @param {string}          widgetConfig.title
 * @param {number}          widgetConfig.titleResponsiveSize
 * @param {string}          widgetConfig.image
 * @param {string}          widgetConfig.imageAlt
 * @param {Object}          widgetConfig.background
 * @param {string}          widgetConfig.background.image
 * @param {string}          widgetConfig.background.bgColor
 * @param {number}          widgetConfig.background.width
 * @param {number}          widgetConfig.background.height
 * @param {string}          widgetConfig.background.cssSize
 * @param {Object[]}        widgetConfig.contentOrder
 * @param {string}          widgetConfig.contentOrder[].type
 * @param {string}          widgetConfig.contentOrder[].content
 * @param {string[]|Object} widgetConfig.contentOrder[].config
 * @param {string}          widgetClass
}}

{{assign "adClasses" (classList "widget" "w-team-activities" widgetClass "set-max-width")}}

{{! ================================================================================================================= }}

{{#table class=(classList "widget" "w-team-activities" widgetClass "set-max-width")}}

  {{#and widgetConfig.background widgetConfig.background.image}}
    <tr>
      {{>ui-background backgroundBehavior="cell" backgroundStart=true
        bgImage=widgetConfig.background.image
        bgColor=widgetConfig.background.bgColor
        bgWidth=widgetConfig.background.width
        bgHeight=widgetConfig.background.height
        bgSize=widgetConfig.background.cssSize
        responsive=widgetConfig.background.responsive
      }}
        <table {{{tableAttr}}}>
  {{/and}}

  {{#if widgetConfig.title}}
    {{>widget-header
      header=widgetConfig.title
      type=widgetConfig.type
    }}
  {{/if}}
<!--
  {{#if widgetConfig.image-top}}
    <tr>
      <td class="image image-top" responsive="mobile-padding-horizontal-sides">
        <a href="{{{widgetConfig.link}}}" target="_blank">
          {{>img
            src=widgetConfig.image-top
            alt=(default widgetConfig.title widgetConfig.imageAlt)
          }}
        </a>
      </td>
    </tr>
  {{/if}} -->

  {{#if widgetConfig.contentOrder}}
    {{#forEach widgetConfig.contentOrder}}

          {{#if this.title}}
            {{>widget-header
              header=this.title
            }}
          {{/if}}

            {{#if this.image}}
            <tr>
              <td class="image image-top" responsive="mobile-padding-horizontal-sides">
                <a href="#" target="_blank">
                  {{>img
                    src=this.image
                    alt=(default this.title this.imageAlt)
                  }}
                </a>
              </td>
            </tr>
          {{/if}}

          {{#compare this.content "===" "description"}}
          <tr>
            <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
              {{#each this.config}}
                <p>{{{this}}}</p>
              {{/each}}
            </td>
          </tr>
        {{/compare}}

    {{/forEach}}
  {{/if}}

  {{#and widgetConfig.background widgetConfig.background.image}}
      </table>
      {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
    </tr>
  {{/and}}
{{/table}}
