{{! ================================================================================================================= }}
{{! T I P   O F   T H E   M O N T H                                                                                   }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}


{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-tip-month set-max-width"}}

  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
  }}

  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{#if widgetConfig.banner}}
          {{>widget-banner
            widgetClass="banner-icon"
            imgSrc=(concat "https://justatic.com/emails/images/newsletters/common/v2/icons/" widgetConfig.banner ".png")
            imgAlt=(default widgetConfig.alt widgetConfig.widget.header)
            link=widgetConfig.imageLink
          }}
        {{/if}}

        {{#if widgetConfig.title}}
          <h3 class="content-title">{{{widgetConfig.title}}}</h3>
        {{/if}}

        {{#each widgetConfig.description}}
          <p>{{{this}}}</p>
        {{/each}}

        {{!
        // TODO: Move to `widget-button` component.
        }}
        {{#if @root.widgetWithButton}}
            <div class="widget-button">
              {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link width=widgetConfig.button.width}}
                {{widgetConfig.button.text}}
              {{/uiButton}}
            </div>
        {{/if}}

      </div>
    </td>
  </tr>


{{/table}}
