{{! ================================================================================================================= }}
{{! T I P   O F   T H E   M O N T H                                                                                   }}
{{! ================================================================================================================= }}

{{!
// TODO:
// Add anotations.
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-tip-month set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
  }}

  {{!--
  // TODO:
  // Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <h3 class="content-title">{{{widgetConfig.title}}}</h3>

      {{#each widgetConfig.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO:
  // Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link}}
          {{widgetConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
