{{! ================================================================================================================= }}
{{! T I P   O F   T H E   M O N T H                                                                                   }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{#if widgetConfig.list}}
  {{assign "listColumnStructure" (chunks widgetConfig.list 2 true)}}
{{/if}}

{{! ================================================================================================================= }}

{{#table class="widget w-tip-month set-max-width"}}
  {{>widget-header
    header=widgetConfig.widget.header
    icon=widgetConfig.widget.icon
  }}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}{{#if widgetConfig.list}} -with-list{{/if}}" responsive="mobile-padding-horizontal-sides">
      <h3 class="content-title">{{{widgetConfig.title}}}</h3>

      {{#each widgetConfig.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{#if widgetConfig.list}}
    <tr class="widget-columns -list ui-columns-grid{{#if @root.widgetWithButton}} -with-button{{/if}}">
      <td class="wrapper" responsive="mobile-padding-horizontal-sides">
        {{#table}}
          {{#each @root.listColumnStructure}}
            {{>ui-columns-grid rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=5 firstRow=@first smallGap=true}}
              {{#each this}}
                {{#unless @first}}
                  {{>ui-columns-grid cellSeparator=true cellIsEmpty=(isFalsey this) firstRow=@../first smallGap=true}}
                {{/unless}}

                {{#if this}}
                  <p class="item">
                    <span>&middot;</span> {{{this}}}
                  </p>
                {{else}}
                  &nbsp;
                {{/if}}
              {{/each}}
            {{>ui-columns-grid rowEnd=true}}
          {{/each}}
        {{/table}}
      </td>
    </tr>
  {{/if}}

  {{!
  // TODO: Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link width=widgetConfig.button.width}}
          {{widgetConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
