{{! ================================================================================================================= }}
{{! T R E N D I N G   N E W S                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}
{{!
    * @param {Object}   trendingNews
    * @param {Object[]} trendingNews.events
    * @param {number}   trendingNews.news[].title
    * @param {string}   trendingNews.news[].link
}}

{{#and trendingNews.link (compare trendingNews.link "!==" "")}}
{{assign "trendingNewsTitleLink" (concat trendingNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
{{assign "trendingNewsImageLink" (concat trendingNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-trending-news set-max-width"}}

{{#if trendingNews.widget.iconSrc}}
{{>widget-header
      header=trendingNews.widget.header
      iconSrc=trendingNews.widget.iconSrc
    }}
{{else}}
{{>widget-header
      header=trendingNews.widget.header
      icon=trendingNews.widget.icon
    }}
{{/if}}

<tr>
  <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}"
    responsive="mobile-padding-30-horizontal-sides">
    <div class="widget-wrapper">

      <p class="subtitle">{{{trendingNews.subtitle}}}</p>

      {{>widget-banner
          imgSrc=trendingNews.banner
          imgAlt=trendingNews.title
          link=trendingNews.imageLink
        }}

      {{#each trendingNews.columns}}
      {{!--
          // TODO: Maybe move title and description to a component.
          // TODO: Fix classes for content.
          --}}

      <div class="section -no-button">

        {{#if this.colored}}
        <p class="category -{{{this.colored}}}">
          {{{this.category}}}
        </p>
        {{else}}
        <p class="title">
          {{{this.category}}}
        </p>
        {{/if}}

        {{#each this.news}}
        <div class="news">
            <p>
              {{#and this.link (compare this.link "!==" "")}}<a href="{{{this.link}}}" target="_blank">{{/and}}
                <b>{{{this.title}}}</b>
              {{#and this.link (compare this.link "!==" "")}}</a>{{/and}}
            </p>
          <p class="via">{{{this.via}}}</p>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
  </td>
</tr>
{{/table}}
