{{! ================================================================================================================= }}
{{! W E L C O M E   M E S S A G E                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}   widgetConfig
 * @param {String[]} widgetConfig.title
 * @param {String[]} widgetConfig.subtitle
 * @param {String[]} widgetConfig.message
 * @param {String[]} widgetConfig.message2
 * @param {String[]} widgetConfig.message3
 * @param {String[]} widgetConfig.bottomline
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
 * @param {Object} widgetConfig.button2
 * @param {String} widgetConfig.button2.style
 * @param {String} widgetConfig.button2.link
 * @param {String} widgetConfig.button2.text
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{#and widgetConfig.button2 (compare widgetConfig.button2.link "!==" "")}}
{{assign "widgetWithButton2" true}}
{{else}}
{{assign "widgetWithButton2" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-webinar set-max-width post-webinar"}}

{{!--
  // TODO: Maybe move title and description to a component.
  // In this case, check if it is posible to customize the H tag.
  --}}

  <!-- <tr>
    <td class="widget-description -top" responsive="mobile-padding-horizontal-sides">
      <h1 class="content-title"><span>{{{widgetConfig.title.[0]}}}</span>&nbsp;<br responsive="mobile-hide">{{{widgetConfig.title.[1]}}}</h1>
    </td>
  </tr> -->

  <!-- {{>widget-welcome-banner
    imgSrc=widgetConfig.banner
    imgAlt="Welcome"
  }} -->

  {{#if widgetConfig.details.date}}
  <tr>
    <td class="event-details" responsive="mobile-padding-horizontal-sides mobile-padding-30-bottom">
      <table responsive="mobile-padding-horizontal-sides">
        <tr>
          <td class="-icon" responsive="mobile-padding-right">
             <img src="../dist/images/megaphone-icon.png" alt="megaphone icon">
          </td>
          <td class="-date-time">
            <span> <b>Date:</b> {{widgetConfig.details.date}} </span>
            <span class="-separator">|</span>
            <span> <b>Time:</b> {{widgetConfig.details.time}}</span>
        </td>
        </tr>

      </table>
    </td>
  </tr>
  {{/if}}

  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <div>
        {{#if widgetConfig.title}}
          <h1 class="content-title"><span>{{{widgetConfig.title.[0]}}}</span>&nbsp;<br responsive="mobile-hide">{{{widgetConfig.title.[1]}}}</h1>
        {{/if}}

        {{#each widgetConfig.message}}
          <p>{{{this}}}</p>
        {{/each}}

        {{#each widgetConfig.subtitle}}
        <div class="subtitle">{{{this}}}</div>
        {{/each}}

        {{#each widgetConfig.message2}}
        <p>{{{this}}}</p>
        {{/each}}

        {{!
        // TODO: Move to `widget-button` component.
        }}

        {{#if @root.widgetWithButton}}
        <div class="widget-button button1">
          {{#uiButton presetStyle=widgetConfig.button.style width=widgetConfig.button.width href=(concat widgetConfig.button.link (utmVariables widgetConfig.button.utm))}}
          {{widgetConfig.button.text}}
          {{/uiButton}}
          {{/if}}
        </div>

        {{#each widgetConfig.message3}}
        <div class="border-top">
          <p>{{{this}}}</p>
        </div>
        {{/each}}

        {{#if @root.widgetWithButton2}}
        <div class="widget-button button2">
          {{#uiButton presetStyle=widgetConfig.button2.style width=widgetConfig.button2.width href=(concat widgetConfig.button2.link (utmVariables widgetConfig.button.utm))}}
          {{widgetConfig.button2.text}}
          {{/uiButton}}
          {{/if}}
        </div>

        <div class="-bottomline">
          {{#each widgetConfig.bottomline}}
            <p>{{{this}}}</p>
          {{/each}}
        </div>

        {{#if widgetConfig.note}}
        <div class="-note">
          {{#each widgetConfig.note}}
            <p>{{{this}}}</p>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </td>
  </tr>
{{/table}}
