{{! ================================================================================================================= }}
{{! W E B M A S T E R ' S                                                                                         }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{#and webmaster.link (compare webmaster.link "!==" "")}}
  {{assign "webmasterTitleLink" (concat webmaster.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "webmasterImageLink" (concat webmaster.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
{{/and}}

{{#and webmaster.button (compare webmaster.button.link "!==" "")}}
  {{assign "webmasterButtonLink" (concat webmaster.button.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-news w-webmaster set-max-width"}}

  {{#if webmaster.widget.iconSrc}}
    {{>widget-header
      header=webmaster.widget.header
      iconSrc=webmaster.widget.iconSrc
    }}
  {{else}}
    {{>widget-header
      header=webmaster.widget.header
      icon=webmaster.widget.icon
    }}
  {{/if}}

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-30-horizontal-sides">
      <div class="widget-wrapper">

      {{>widget-banner
        imgSrc=webmaster.banner
        imgAlt=webmaster.title
        link=@root.webmasterImageLink
      }}

      <h3 class="content-title">
        <a href="{{{@root.webmasterTitleLink}}}" target="_blank">
          {{{webmaster.title}}}
        </a>
      </h3>

      {{#each webmaster.description}}
        <p>{{{this}}}</p>
      {{/each}}

      {{!
      // TODO: Move to `widget-button` component.
      }}
      {{#if @root.widgetWithButton}}
          <div class="widget-button">
            {{#uiButton presetStyle=webmaster.button.style href=@root.webmasterButtonLink}}
              {{webmaster.button.text}}
            {{/uiButton}}
          </div>
      {{/if}}

      </div>
    </td>
  </tr>
{{/table}}
