<!-- WELCOME MESSAGE -->

{{!
 * @param {Object}   widgetConfig
 * @param {String[]} widgetConfig.title
 * @param {String[]} widgetConfig.message
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{#table class="widget w-welcome set-max-width"}}
  {{>widget-banner
    imgSrc="https://justatic.com/v/1/emails/images/newsletters/common/redesign/welcome-graphic-01.png"
    imgAlt="Welcome"
  }}

  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <h1 class="content-title"><span>{{{widgetConfig.title.[0]}}}</span>&nbsp;<br responsive="mobile-hide">{{{widgetConfig.title.[1]}}}</h1>

      {{#each widgetConfig.message}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link}}
          {{widgetConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
