{{! ================================================================================================================= }}
{{! W E L C O M E   M E S S A G E                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}   widgetConfig
 * @param {String[]} widgetConfig.title
 * @param {String[]} widgetConfig.message
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{assign "welcomeDate" (moment conversionConfig.releaseDate format=conversionConfig.dateFormat.string)}}

{{! ================================================================================================================= }}

{{#table class="widget w-welcome set-max-width"}}

{{!--
  // TODO: Maybe move title and description to a component.
  // In this case, check if it is posible to customize the H tag.
  --}}
  <tr>
    <td class="content -image-description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-no-padding-horizontal-sides">
      {{#table class=(classList "-inner-banner" widgetClass "set-max-width")}}
        <tr>
          <td>
            <div class="-description" responsive="mobile-no-padding-horizontal-sides mobile-fz-18">
                <p responsive="mobile-fz-18"> Welcome to Your </p>
                <p responsive="mobile-fz-18" class="title"> Justia Insights Newsletter </p>
                <span responsive="mobile-fz-18" class="date"> {{@root.welcomeDate}} Edition </span>
            </div>
          </td>
          <td>
            <div class="-image" responsive="mobile-align-right mobile-no-padding">
              <a href="{{{../../widgetConfig.link}}}{{{ utmVariables ../../widgetConfig.utm}}}" target="_blank" responsive="mobile-no-padding">
                {{>img
                  src=(concat "welcome-justia-insights.jpg")
                  alt=(default ../../widgetConfig.title ../../widgetConfig.imageAlt)
                  responsive="mobile-align-right"
                }}
              </a>
            </div>
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="w-welcome-disclaimer widget-description" responsive="mobile-padding-horizontal-sides">
      <div class="widget-wrapper">
        {{#if widgetConfig.disclaimer}}
          <p class="description">
            {{{widgetConfig.disclaimer}}}
          </p>
        {{/if}}
      </div>
    </td>
  </tr>
{{/table}}
