{{! ================================================================================================================= }}
{{! W E L C O M E   M E S S A G E                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}   widgetConfig
 * @param {String[]} widgetConfig.title
 * @param {String[]} widgetConfig.message
 * @param {Object}   widgetConfig.button
 * @param {String}   widgetConfig.button.style
 * @param {String}   widgetConfig.button.link
 * @param {String}   widgetConfig.button.text
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-welcome set-max-width"}}

  {{!--
  // TODO: Maybe move title and description to a component.
  // In this case, check if it is posible to customize the H tag.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <h1 class="content-title no-margin"><span>{{{widgetConfig.title.[0]}}}</span>&nbsp;<br responsive="mobile-hide">{{{widgetConfig.title.[1]}}}</h1>
    </td>
  </tr>

  {{!
  // TODO: Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=widgetConfig.button.style width=widgetConfig.button.width href=(concat widgetConfig.button.link (utmVariables widgetConfig.button.utm))}}
          {{widgetConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  <tr>
    <td class="widget-description sub-title{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">

      {{#each widgetConfig.message}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>
  {{/if}}
  {{>widget-banner
    link=widgetConfig.link
    imgSrc=widgetConfig.banner
    imgAlt="Welcome"
  }}
{{/table}}
