
<!-- ASK A LAWYER LEADERBOARD -->

<!-- w-people-list w-answers-leaderboard -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-people-list w-answers-leaderboard set-max-width">
  <tr>
    <!-- list-table -->
    <td class="list-table" responsive="mobile-no-padding-top mobile-no-padding-horizontal-sides">

      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- list-table-title -->
          <td class="list-table-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">ASK A LAWYER</h4>
            <!-- widget-main-title -->
            <h2 class="widget-main-title"><a href="https://answers.justia.com/about-legal-answers#faq-atty" target="_blank">Participating Lawyers</a></h2>
          </td>
        </tr>
        <tr>
          <td>
            <!-- people-table -->
            <table border="0" cellpadding="0" cellspacing="0" class="people-table">
              {{#forEach answers_leaderboard.people }}
                <tr>
                  <!-- people-photo -->
                  <td class="people-photo" responsive="mobile-padding-left">
                    <a href="{{{ this.photo_link }}}" target="_blank"><img src="{{ ../default.imageDirSrc }}/leaderboard-photo-0{{ index }}.png" alt="{{ this.name }}" border="0" /></a>
                  </td>
                  <!-- people-info -->
                  <td class="people-info" responsive="mobile-padding-horizontal-sides">
                    <!-- -name -->
                    <p class="-name" responsive="mobile-fz-20"><a href="{{{ this.name_link }}}" target="_blank">{{{ this.name }}}</a></p>
                    <!-- -location -->
                    <p class="-location"><b>{{#uppercase}}{{ this.location }}{{/uppercase}}</b></p>
                  </td>
                  <!-- people-ranking -->
                  <td class="people-ranking" responsive="mobile-padding-right">
                    {{#if isFirst }}
                    <img src="https://justatic.com/v/1/emails/images/newsletters/common/number-ranking-0{{ index }}-green.png" alt="{{ index }}" border="0" />
                    {{else}}
                    <img src="https://justatic.com/v/1/emails/images/newsletters/common/number-ranking-0{{ index }}.png" alt="{{ index }}" border="0" />
                    {{/if}}
                  </td>
                </tr>
              {{/forEach}}
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <!-- list-desc -->
    <td class="list-desc" responsive="mobile-padding-horizontal-sides">
      <p>{{{ answers_leaderboard.description }}}</p>
      <br>
      {{> ui-button moreBlue=true buttonLink=answers_leaderboard.button_link }}
    </td>
  </tr>
</table>
