{{!
    Notification Block
    Params:
        date:   (string) unescaped Date of the current newslatter
}}
{{> layoutHack tableStart=true }}
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-header-v1 set-max-width">
        {{!-- <tr>
            <td class="view-in-browser align-right" responsive="mobile-padding-full">
                <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" responsive="mobile-hide" border="0" />
                <a href="{{default.view_in_browser_url}}">View in Browser &#8250;</a>
            </td>
        </tr> --}}
        <tr>
            <td class="logo-date" responsive="mobile-no-padding-horizontal-sides">
                <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" responsive="mobile-hide" border="0" />

                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="logo" responsive="collapse-one">
                            <a href="{{default.header_logo_v1_url}}" target="_blank"><img src="{{default.header_logo_v1_source}}" alt="{{default.header_logo_v1_alt}}" responsive="mobile-align-center" border="0" /></a>
                        </td>

                        <td class="date align-right" responsive="collapse-one mobile-align-center mobile-padding-top">
                            <span>{{ date }}</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{> layoutHack tableEnd=true }}