
<!-- PUG'S TALE -->

<!-- w-text-image w-pugs-tale -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image w-pugs-tale set-max-width {{#gt (length pugsTale.blocks) 1 }}multiple{{/gt}}">

  {{#gt (length pugsTale.blocks) 1 }}
    <tr>
      <!-- items-main-title -->
      <td class="items-main-title" responsive="mobile-padding-horizontal-sides">
        <!-- widget-type-name -->
        <h4 class="widget-type-name">A PUG'S TALE</h4>
      </td>
    </tr>
  {{/gt}}

  <tr>
    <!-- item-list -->
    <td class="item-list" responsive="mobile-padding-horizontal-sides">
      {{#forEach pugsTale.blocks }}
        <!-- item-{{ index }} -->
        <table cellpadding="0" cellspacing="0" border="0" class="item-{{ index }}">
          <tr>
            <!-- item-desc -->
            <td class="item-desc" responsive="collapse-one">

              {{#eq (length ../pugsTale.blocks) 1 }}
                <!-- widget-type-name -->
                <h4 class="widget-type-name">A PUG'S TALE</h4>
              {{/eq}}

              <!-- widget-main-title -->
              <h2 class="widget-main-title">{{{ this.title }}}</h2>
              <p>{{{ this.description }}}</p>
            </td>
            <!-- item-image -->
            <td class="item-image" responsive="mobile-hide collapse-one">
              {{#if this.image }}
                <img src="{{ ../default.imageDirSrc }}/{{ this.image }}" alt="{{ this.title }}" border="0" />
              {{else}}
                &nbsp;
              {{/if}}
            </td>
          </tr>
        </table>
      {{/forEach}}
    </td>
  </tr>
</table>
