{{! ================================================================================================================= }}
{{! F E A T U R E D   L A W Y E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {String}   widgetClass
 * @param {Object}   featuredLawyer
 * @param {Object}   featuredLawyer.button
 * @param {String}   featuredLawyer.button.style
 * @param {String}   featuredLawyer.button.link
 * @param {String}   featuredLawyer.button.text
 * @param {Object[]} featuredLawyer.list
 * @param {String}   featuredLawyer.list[].id
 * @param {Number}   featuredLawyer.list[].rank
 * @param {String}   featuredLawyer.list[].name
 * @param {String}   featuredLawyer.list[].location
 * @param {String}   featuredLawyer.list[].nameLink
 * @param {String}   featuredLawyer.list[].photoLink
 * @param {String[]} featuredLawyer.description
}}

{{#and featuredLawyer.button (compare featuredLawyer.button.link "!==" "")}}
  {{assign "widgetWithButton" true}}
{{else}}
  {{assign "widgetWithButton" false}}
{{/and}}

{{! ================================================================================================================= }}

{{#table class="widget w-featured-lawyer set-max-width"}}
  {{>widget-header
    header=featuredLawyer.widget.header
    icon=featuredLawyer.widget.icon
    type=featuredLawyer.widget.type
    link=featuredLawyer.widget.link
  }}

  <tr>
    <td class="lawyer-info" responsive="mobile-padding-horizontal-sides">

      {{#table class="images-group" responsive="mobile-reset-width"}}
        <tr>
          <td class="wrapper -photo">
            {{#if featuredLawyer.featured.photoLink}}<a href="{{{featuredLawyer.featured.photoLink}}}" target="_blank">{{/if}}
              {{>img src="lawyer-photo-01.jpg" alt=featuredLawyer.featured.name class="photo"}}
            {{#if featuredLawyer.featured.photoLink}}</a>{{/if}}
          </td>
          <td class="wrapper -badge">
            {{>img src="justia-badge.png" alt="Justia Badge" class="badge"}}
          </td>
        </tr>
      {{/table}}

      <p class="name">
        {{#if featuredLawyer.featured.nameLink}}<a href="{{{featuredLawyer.featured.nameLink}}}" target="_blank">{{/if}}
          {{{featuredLawyer.featured.name}}}
        {{#if featuredLawyer.featured.nameLink}}</a>{{/if}}
      </p>

      <p class="location">
        {{#uppercase}}{{featuredLawyer.featured.location}}{{/uppercase}}
      </p>
    </td>
  </tr>

  {{!--
  // TODO: Maybe move title and description to a component.
  --}}
  <tr>
    <td class="widget-description{{#unless @root.widgetWithButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#each featuredLawyer.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>

  {{!
  // TODO: Move to `widget-button` component.
  }}
  {{#if @root.widgetWithButton}}
    <tr>
      <td class="widget-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=featuredLawyer.button.style href=featuredLawyer.button.link}}
          {{featuredLawyer.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
