{{#if bgStart }}
  {{#if absolutePath }}
    <!-- {{ classes }} -->
    <td class="{{ classes }}" responsive="{{ responsiveClasses }}" background="{{ image }}">
      <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="{{ dimensions }}border:0;outline:0;"><v:fill type="tile" src="{{ image }}" color="{{ bgColor }}" /><v:textbox inset="0,0,0,0"><![endif]-->
  {{/if}}
  {{#unless absolutePath }}
    <!-- {{ classes }} -->
    <td class="{{ classes }}" responsive="{{ responsiveClasses }}" background="{{ default.imageDirSrc }}/{{ image }}">
      <!--[if mso]><v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="{{ dimensions }}border:0;outline:0;"><v:fill type="tile" src="{{ default.imageDirSrc }}/{{ image }}" color="{{ bgColor }}" /><v:textbox inset="0,0,0,0"><![endif]-->
  {{/unless}}
  {{#unless content }}
    &nbsp;
  {{/unless}}
{{/if}}
{{#if bgEnd }}
    <!--[if mso]></v:textbox></v:rect><![endif]-->
  </td>
{{/if}}
