{{!--
    No version defined becuase this module cuold change each month.
--}}


<!-- CLIENTS IN THE NEWS -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-clients-news set-max-width">
    <tr>
        <td class="clients-title" responsive="mobile-padding-horizontal-sides">
            <h2 class="widget-main-title align-center">Clients in the News</h2>
        </td>
    </tr>
    <tr>
        <td class="clients-list" responsive="mobile-padding-horizontal-sides">
            <table border="0" cellpadding="0" cellspacing="0" class="client-1">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.businesswire.com/news/home/20160808005269/en/KaiserDillon-PLLC-Welcomes-William-Pittard-Acting-General"><img src="{{default.image_dir_src}}/clients-news-logo-01.png" alt="Business Wire" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>KaiserDillon PLLC welcomes William Pittard, Former Acting General Counsel of the U.S. House of Representatives.</p> <br>
                        {{> button buttonBlue=true url="http://www.businesswire.com/news/home/20160808005269/en/KaiserDillon-PLLC-Welcomes-William-Pittard-Acting-General" }}
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="client-2">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.etonline.com/news/195887_could_vindicated_statement_cost_amber_heard_millions_settlement_deal_with_johnny_depp/"><img src="{{default.image_dir_src}}/clients-news-logo-02.png" alt="ET online" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Attorney Michael Kraut spoke to Entertainment Tonight about Johnny Depp and his wife settling their civil restraining order after allegations of domestic violence were revealed.</p> <br>
                        {{> button buttonBlue=true url="http://www.etonline.com/news/195887_could_vindicated_statement_cost_amber_heard_millions_settlement_deal_with_johnny_depp/" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-3">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.marketplace.org/2016/08/09/world/911-lawsuits"><img src="{{default.image_dir_src}}/clients-news-logo-03.png" alt="Marketplace" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Dilworth Paxson’s Joshua Wolson talks to Marketplace about lawsuits against cellphone companies that discount 911 calls.</p> <br>
                        {{> button buttonBlue=true url="http://www.marketplace.org/2016/08/09/world/911-lawsuits" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-4">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.theatlantic.com/technology/archive/2016/08/how-police-use-a-legal-grey-area-to-rob-suspects-of-their-belongings/495740/"><img src="{{default.image_dir_src}}/clients-news-logo-04.png" alt="The Atlantic" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Joseph Scrofano was quoted by The Atlantic about legal voids that may allow police to rob suspects.</p> <br>
                        {{> button buttonBlue=true url="http://www.theatlantic.com/technology/archive/2016/08/how-police-use-a-legal-grey-area-to-rob-suspects-of-their-belongings/495740/" }}
                    </td>
                </tr>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="client-5">
                <tr>
                    <td class="news-logo">
                        <a href="http://www.insidecounsel.com/2016/08/18/does-comedy-central-own-the-rights-to-stephen-colb"><img src="{{default.image_dir_src}}/clients-news-logo-05.png" alt="Inside Counsel" border="0" /></a>
                    </td>
                    <td class="news-desc">
                        <p>Jesse Saivar of Greenberg Glusker talks to InsideCounsel about the current dispute between Comedy Central and Stephen Colbert about his character on The Colbert Report.</p> <br>
                        {{> button buttonBlue=true url="http://www.insidecounsel.com/2016/08/18/does-comedy-central-own-the-rights-to-stephen-colb" }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="clients-desc" responsive="mobile-padding-horizontal-sides">
            <p>Have you or your firm been mentioned in the news recently?</p>
            <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
        </td>
    </tr>
</table>
