
<!-- ETHICS REMINDER -->

<!-- w-ethics-reminder -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-ethics-reminder set-max-width">
    <tr>
        <!-- ethics-title -->
        <td class="ethics-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">LEGAL WEBSITE & BLOG ETHICS REMINDER</h4>
            {{#if ethics_reminder.title }}
                <!-- widget-main-title -->
                <h2 class="widget-main-title">
                    {{#if ethics_reminder.link }}
                        <a href="{{ ethics_reminder.link }}" target="_blank">{{{ ethics_reminder.title }}}</a>
                    {{else}}
                        {{{ ethics_reminder.title }}}
                    {{/if}}
                </h2>
            {{/if}}
        </td>
    </tr>
    <tr>
        <!-- ethics-desc -->
        <td class="ethics-desc" responsive="mobile-padding-horizontal-sides">
            <p>{{{ ethics_reminder.description }}}</p>
        </td>
    </tr>
    {{#is ethics_reminder.extra "" }}{{else}}
    <tr>
        <!-- ethics-link -->
        <td class="ethics-link" responsive="mobile-padding-horizontal-sides">
            <p>{{{ ethics_reminder.extra }}}</p>
        </td>
    </tr>
    {{/is}}
</table>