
<!-- TECH NEWS -->

<!-- w-stories-list -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list set-max-width">
    <tr>
        <!-- main-story-title -->
        <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">FEATURED NEWS</h4>
            <!-- widget-main-title -->
            <h2 class="widget-main-title"><a href="{{ featured-news.title_url }}" target="_blank">{{ featured-news.title }}</a></h2>
        </td>
    </tr>
    <tr>
        <!-- main-story-desc -->
        <td class="main-story-desc" responsive="mobile-padding-horizontal-sides">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <!-- story-desc -->
                    <td class="story-desc" responsive="collapse-one">
                        {{!-- <p>{{{embed featured-news.description 'html'}}}</p> --}}
                        <p>{{{ featured-news.description }}}</p>
                        <br>
                        {{> button moreBlue=true url=featured-news.title_url }}
                    </td>
                    <!-- featured-image -->
                    <td class="featured-image" responsive="mobile-hide collapse-one">
                        <a href="{{ featured-news.title_url }}" target="_blank"><img src="{{default.image_dir_src}}/tech-news-01.png" alt="{{ featured-news.title }}" border="0" /></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>