
<!-- INSIDE JUSTIA -->

<!-- w-text-image w-inside-justia -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image w-inside-justia set-max-width">

    {{#gt (length inside_justia.blocks) 1 }}
        <tr>
            <!-- items-main-title -->
            <td class="items-main-title" responsive="mobile-padding-horizontal-sides">
                <!-- widget-type-name -->
                <h4 class="widget-type-name">INSIDE JUSTIA</h4>
            </td>
        </tr>
    {{/gt}}

    <tr>
        <!-- item-list -->
        <td class="item-list" responsive="mobile-padding-horizontal-sides">
            <!-- item-{{ index }} -->
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <!-- item-desc -->
                    <td class="item-desc" responsive="collapse-one">
                        <!-- widget-type-name -->
                        <h4 class="widget-type-name">INSIDE JUSTIA</h4>

                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">{{{ inside_justia.info.title }}}</h2>
                        <p>{{{ inside_justia.info.description }}}</p>
                    </td>
                    <!-- item-image -->
                    <td class="item-image" responsive="mobile-hide collapse-one">
                        {{#if inside_justia.info.image }}
                            {{#if inside_justia.info.link }}
                                <a href="{{{ inside_justia.info.link }}}" target="_blank">
                            {{/if}}
                                <img src="{{ default.image_dir_src }}/{{ inside_justia.info.image }}" alt="{{ inside_justia.info.title }}" border="0" />
                            {{#if inside_justia.info.link }}
                                </a>
                            {{/if}}
                        {{else}}
                            &nbsp;
                        {{/if}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <!-- button -->
        <td class="button" responsive="mobile-padding-horizontal-sides">
            {{> button visitSiteBlue=true buttonLink=inside_justia.info.link }}
        </td>
    </tr>
</table>
