
<!-- INSIDE JUSTIA -->

<!-- w-text-image w-inside-justia -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-text-image w-inside-justia set-max-width {{#gt (length inside_justia.blocks) 1 }}multiple{{/gt}} {{#if clientsNewsletter }}-bordered{{/if}}">

    {{#gt (length inside_justia.blocks) 1 }}
        <tr>
            <!-- items-main-title -->
            <td class="items-main-title" responsive="mobile-padding-horizontal-sides">
                <!-- widget-type-name -->
                <h4 class="widget-type-name">
                    {{#if clientsNewsletter }}
                        {{ inside_justa.section.clients }}
                    {{/if}}
                    {{#if jldNewsletter }}
                        TEST
                        {{ inside_justa.section.jld }}
                    {{/if}}
                </h4>
            </td>
        </tr>
    {{/gt}}

    <tr>
        <!-- item-list -->
        <td class="item-list" responsive="mobile-padding-horizontal-sides">
            <!-- item-1 -->
            <table cellpadding="0" cellspacing="0" border="0" class="item-1">
                <tr>
                    <!-- item-desc -->
                    <td class="item-desc" responsive="collapse-one">

                        <!-- widget-type-name -->
                        <h4 class="widget-type-name">
                            {{#if jldNewsletter }}
                                {{ inside_justia.section.jld }}
                            {{/if}}
                            {{#if clientsNewsletter }}
                                {{ inside_justia.section.clients }}
                            {{/if}}
                        </h4>

                        <!-- widget-main-title -->
                        <h2 class="widget-main-title">{{{ inside_justia.title }}}</h2>
                        <p>{{{ inside_justia.description }}}</p>
                        <!-- item-image -->
                        <div class="btn">
                            <a href="{{ inside_justia.link }}" target="_blank">
                                <img src="{{ default.image_dir_src }}/button-viewsite-01-c.png" alt="View Site" border="0" />
                            </a>
                        </div>    
                    </td>
                    <!-- item-image -->
                    <td class="item-image" responsive="mobile-hide collapse-one">
                        {{#if inside_justia.image }}
                            {{#if inside_justia.link }}
                                <a href="{{{ inside_justia.link }}}" target="_blank">
                            {{/if}}
                            <img src="{{ default.image_dir_src }}/{{ inside_justia.image }}" alt="{{ inside_justia.title }}" border="0" />
                            {{#if featured_news.link }}
                               </a>
                           {{/if}}
                        {{else}}
                            &nbsp;
                        {{/if}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
