
<!-- INTERNET STATS -->

<!-- w-internet-stats -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-internet-stats set-max-width">
    <tr>
        <!-- stats-title -->
        <td class="stats-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Internet Stats</h2>
        </td>
    </tr>
    <tr>
        <!-- stats-desc-head align-center -->
        <td class="stats-subtitle align-center" responsive="mobile-padding-horizontal-sides">
            <!-- line1 -->
            <p class="line1">{{{ internet_stats.subtitle }}}</p>
        </td>
    </tr>
    <tr>
        <!-- stats-chart -->
        <td class="stats-chart" responsive="mobile-padding-horizontal-sides">
            {{#if internet_stats.link }}<a href="{{ internet_stats.link }}" target="_blank">{{/if}}
                <img src="{{ default.image_dir_src }}/internet-stats-01.png" alt="{{ internet_stats.subtitle }}" />
            {{#if internet_stats.link }}</a>{{/if}}
        </td>
    </tr>
    {{#is internet_stats.description "" }}{{else}}
    <tr>
        <!-- stats-desc -->
        <td class="stats-desc" responsive="mobile-padding-horizontal-sides">
            <p>{{{ internet_stats.description }}}</p>
        </td>
    </tr>
    {{/is}}
</table>