
<!-- LEADERBOARD -->

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-people-list jld-leaderboard set-max-width">
    <tr>
        <td class="list-table" responsive="mobile-no-padding-top mobile-no-padding-bottom mobile-no-padding-horizontal-sides">

            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="list-table-title" responsive="mobile-padding-horizontal-sides">
                        <h4 class="widget-type-name">LAWYER ANSWERS TO LEGAL QUESTIONS</h4>
                        <h2 class="widget-main-title">Leaderboard</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="people-table">
                            <tr>
                                <td class="people-photo" responsive="mobile-padding-left">
                                    <a href="#" target="_blank"><img src="{{default.image_dir_src}}/leaderboard-photo-01.png" alt="Ali Ebrahimzadeh, Esq." border="0" /></a>
                                </td>
                                <td class="people-info" responsive="mobile-padding-horizontal-sides">
                                    <p class="-name" responsive="mobile-fz-20">Ali Ebrahimzadeh, Esq.</p>
                                    <p class="-location"><strong>SAN JOSE, CA</strong></p>
                                </td>
                                <td class="people-ranking" responsive="mobile-padding-right">
                                    <img src="{{default.image_dir_src}}/number-ranking-01-green.png" alt="1" border="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="people-photo" responsive="mobile-padding-left">
                                    <a href="#" target="_blank"><img src="{{default.image_dir_src}}/leaderboard-photo-02.png" alt="Peter Munsing" border="0" /></a>
                                </td>
                                <td class="people-info" responsive="mobile-padding-horizontal-sides">
                                    <p class="-name" responsive="mobile-fz-20">Peter Munsing</p>
                                    <p class="-location"><strong>READING, PA</strong></p>
                                </td>
                                <td class="people-ranking" responsive="mobile-padding-right">
                                    <img src="{{default.image_dir_src}}/number-ranking-02.png" alt="1" border="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="people-photo" responsive="mobile-padding-left">
                                    <a href="#" target="_blank"><img src="{{default.image_dir_src}}/leaderboard-photo-03.png" alt="Tristan Kenyon Schultz" border="0" /></a>
                                </td>
                                <td class="people-info" responsive="mobile-padding-horizontal-sides">
                                    <p class="-name" responsive="mobile-fz-20">Tristan Kenyon Schultz</p>
                                    <p class="-location"><strong>FORT COLLINS, CO</strong></p>
                                </td>
                                <td class="people-ranking" responsive="mobile-padding-right">
                                    <img src="{{default.image_dir_src}}/number-ranking-03.png" alt="1" border="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="people-photo" responsive="mobile-padding-left">
                                    <a href="#" target="_blank"><img src="{{default.image_dir_src}}/leaderboard-photo-04.png" alt="Joseph Jaap" border="0" /></a>
                                </td>
                                <td class="people-info" responsive="mobile-padding-horizontal-sides">
                                    <p class="-name" responsive="mobile-fz-20">Joseph Jaap</p>
                                    <p class="-location"><strong>CINCINNATI, OH</strong></p>
                                </td>
                                <td class="people-ranking" responsive="mobile-padding-right">
                                    <img src="{{default.image_dir_src}}/number-ranking-04.png" alt="1" border="0" />
                                </td>
                            </tr>
                            <tr>
                                <td class="people-photo" responsive="mobile-padding-left">
                                    <a href="#" target="_blank"><img src="{{default.image_dir_src}}/leaderboard-photo-05.png" alt="Andy Chen" border="0" /></a>
                                </td>
                                <td class="people-info" responsive="mobile-padding-horizontal-sides">
                                    <p class="-name" responsive="mobile-fz-20">Andy Chen</p>
                                    <p class="-location"><strong>MOUNTAIN VIEW, CA</strong></p>
                                </td>
                                <td class="people-ranking" responsive="mobile-padding-right">
                                    <img src="{{default.image_dir_src}}/number-ranking-05.png" alt="1" border="0" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
