
<!-- LAW EVENTS -->

<!-- w-law-events columns-grid -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events columns-grid set-max-width">
    <tr>
        <!-- law-events-title align-center -->
        <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Law Events</h2>
        </td>
    </tr>

    {{#if law_events.featured }}

        {{#isEmpty law_events.featured }}
            {{!-- DO NOTHING --}}

        {{else}}
            <tr>
                <!-- law-events-featured -->
                <td class="law-events-featured" responsive="mobile-padding-horizontal-sides">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <!-- event-desc -->
                            <td class="event-desc" responsive="mobile-padding-horizontal-sides">
                                <!-- date -->
                                <p class="date">{{{ law_events.featured.date_time }}}</p>
                                <!-- desc -->
                                <p class="desc"><strong>{{{ law_events.featured.type_location }}}</strong><br> {{{ law_events.featured.description }}}</p>
                            </td>
                        </tr>
                        <tr>
                            <!-- button -->
                            <td class="button" responsive="mobile-padding-horizontal-sides">
                                {{> button moreWhite=true buttonLink=law_events.featured.link }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {{/isEmpty}}
    {{/if}}

    <!-- OPEN FIRST ROW -->
    <tr>
        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event" }}

        {{#forEach law_events.events }}

            {{#unless isFirst }}

                {{#ifOdd index }}
                    <!-- OPEN UNLESS IS FIRST -->
                    <tr>
                        {{> columnsGrid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event" }}
                {{/ifOdd}}
            {{/unless}}

            <!-- CONTENT -->
            <!-- event-{{ index }} -->
            <tr class="event-{{ index }}">
                <!-- inner-text -->
                <td class="inner-text" responsive="mobile-reset-height">
                    <!-- date -->
                    <p class="date">{{{ this.date_time }}}</p>
                    <!-- desc -->
                    <p class="desc"><strong>{{{ this.type_location }}}</strong><br> {{{ this.description }}}</p>
                </td>
            </tr>
            <tr>
                <!-- button -->
                <td class="button">{{> button moreWhite=true buttonLink=this.link }}</td>
            </tr>

            {{#ifOdd index }}
                <!-- MIDDLE DIVIDER -->
                {{> columnsGrid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-" }}

                {{#if isLast }}

                    {{#ifOdd index }}
                        <!-- EMPTY IF LAST AND ODD -->
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    {{/ifOdd}}
                {{/if}}
            {{/ifOdd}}

            {{#ifEven index }}

                {{#unless isLast }}
                        {{> columnsGrid columnEnd=true }}
                    </tr>
                    <!-- CLOSE UNLESS IS LAST -->
                {{/unless}}
            {{/ifEven}}
        {{/forEach}}

        {{> columnsGrid columnEnd=true }}
    </tr>
    <!-- CLOSE LAST ROW -->
</table>

