{{!
 * @param {String} widgetClasses
 * @param {Object} peopleListConfig
}}

{{#and peopleListConfig.button (compare peopleListConfig.button.link "!==" "")}}
  {{assign "peopleListWidgetButton" true}}
{{/and}}

{{#table class=(concat "w-people-list" widgetClasses "set-max-width" separator=" ")}}
  <tr>
    <td class="list-table" responsive="mobile-no-padding-top mobile-no-padding-horizontal-sides">
      {{#table align=""}}
        <tr>
          <td class="main-title" responsive="mobile-padding-horizontal-sides">
            {{>widget-header
              section=peopleListConfig.widget.section
              title=peopleListConfig.widget.title
              link=peopleListConfig.widget.link
            }}
          </td>
        </tr>
        <tr>
          <td>
            {{#table align="" class="people-rows"}}
              {{#forEach peopleListConfig.people}}
                <tr>
                  <td class="photo" responsive="mobile-padding-left">
                    {{#if this.photoLink}}<a href="{{{this.photoLink}}}" target="_blank">{{/if}}
                      <img
                        src="{{resolveFilePath (concat ../peopleListConfig.photoImagePrefix "0" index ".png")}}"
                        alt="{{this.name}}"
                        border="0" />
                    {{#if this.photoLink}}</a>{{/if}}
                  </td>
                  <td class="info" responsive="mobile-padding-horizontal-sides">
                    <p class="name" responsive="mobile-fz-20">
                      {{#if this.nameLink}}<a href="{{{this.nameLink}}}" target="_blank">{{/if}}{{{this.name}}}{{#if this.nameLink}}</a>{{/if}}
                    </p>
                    <p class="location">
                      <b>{{#uppercase}}{{this.location}}{{/uppercase}}</b>
                    </p>
                  </td>
                  {{#if ../peopleListConfig.showRanking}}
                    <td class="ranking" responsive="mobile-padding-right">
                      <img
                        src="https://justatic.com/v/1/emails/images/newsletters/common/number-ranking-0{{index}}{{#if isFirst}}-green{{/if}}.png"
                        alt="{{index}}"
                        border="0" />
                    </td>
                  {{/if}}
                </tr>
              {{/forEach}}
            {{/table}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="list-desc{{#unless @root.peopleListWidgetButton}} -last{{/unless}}" responsive="mobile-padding-horizontal-sides">
      <p>{{{peopleListConfig.description}}}</p>
    </td>
  </tr>
  {{#if @root.peopleListWidgetButton}}
    <tr>
      <td class="list-button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton href=peopleListConfig.button.link}}
          {{peopleListConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
