
<!-- TIP OF THE MONTH -->

<!-- w-tip-month -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
    <tr>
        <!-- tip-title -->
        <td class="tip-title" responsive="mobile-padding-horizontal-sides">
            <!-- widget-type-name -->
            <h4 class="widget-type-name">TIP OF THE MONTH</h4>
            <!-- widget-main-title -->
            <h2 class="widget-main-title">
                {{#if clientsNewsletter }}
                    {{#if tip_month.clients.link }}<a href="{{ tip_month.clients.link }}" target="_blank">{{/if}}
                        {{{ tip_month.clients.title }}}
                    {{#if tip_month.clients.link }}</a>{{/if}}
                {{/if}}
                {{#if jldNewsletter }}
                    {{#if tip_month.jld.link }}<a href="{{ tip_month.jld.link }}" target="_blank">{{/if}}
                        {{{ tip_month.jld.title }}}
                    {{#if tip_month.jld.link }}</a>{{/if}}
                {{/if}}
            </h2>
        </td>
    </tr>

    {{#if clientsNewsletter }}
        {{#each tip_month.clients.description }}
            <tr>
                <!-- tip-desc {{#if @last }}tip-desc--last{{/if}} -->
                <td class="tip-desc {{#if @last }}tip-desc--last{{/if}}" responsive="mobile-padding-horizontal-sides">
                    <p>{{{ this }}}</p>
                    <!-- button -->
                    {{> button contactusWhite=true buttonLink="mailto:support@justia.com" }}
                </td>
            </tr>
        {{/each}}
    {{/if}}

    {{#if jldNewsletter }}
        {{#each tip_month.jld.description }}
            <tr>
                <!-- tip-desc {{#if @last }}tip-desc--last{{/if}} -->
                <td class="tip-desc {{#if @last }}tip-desc--last{{/if}}" responsive="mobile-padding-horizontal-sides">
                    <p>{{{ this }}}</p>
                    <div class="btn -large">
                        <a href="https://answers.justia.com/" target="_blank">
                            <img src="{{ ../default.image_dir_src }}/button-answerquestions-01-a.png" alt="Answer Questions Now" border="0" />
                        </a>
                    </div>    
                </td>
            </tr>
        {{/each}}
    {{/if}}
</table>
