
<!-- TODAY ON VERDICT -->

<!-- w-stories-list -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="widget w-verdict set-max-width">
    <tr>
        <!-- widget-title-block -->
        <td class="widget-title-block" responsive="mobile-padding-horizontal-sides">
            <!-- widget-main-title -->
            <h2 class="widget-main-title">Today on Verdict</h2>
            <!-- widget-type-name -->
            <h4 class="widget-type-name">Legal Analysis and Commentary</h4>
        </td>
    </tr>
    <!-- widget-content -->
    <tr class="widget-content">
        <td responsive="mobile-padding-horizontal-sides">
        <!-- post -->
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="post">
                {{#forEach verdict.list }}
                <!-- block {{ index }} -->
                <!-- -title {{#if isLast}}last-post{{/if}} -->
                <tr class="-title {{#if isLast}}last-post{{/if}}">
                    <td>
                        <p><strong>{{{ this.title }}}</strong></p>
                    </td>
                </tr>
                <!-- -author {{#if isLast}}last-post{{/if}} -->
                <tr class="-author {{#if isLast}}last-post{{/if}}">
                    <td>
                        <p>{{{uppercase this.author }}}</p>
                    </td>
                </tr>
                <!-- -image {{#if isLast}}last-post{{/if}} -->
                <tr class="-image {{#if isLast}}last-post{{/if}}">
                    <td>
                        <img src="{{ ../default.image_dir_src }}/{{ this.image }}" alt="{{ this.image_alt }}" border="0" />
                    </td>
                </tr>
                <!-- -desc {{#if isLast}}last-post{{/if}} -->
                <tr class="-desc {{#if isLast}}last-post{{/if}}">
                    <td>
                        {{{ this.description }}}
                    </td>
                </tr>
                <!-- -more {{#if isLast}}last-post{{/if}} -->
                <tr class="-more {{#if isLast}}last-post{{/if}}">
                    <td>
                        <p><strong><a href="{{ this.more }}" target="_blank">Read More</a></strong></p>
                    </td>
                </tr>
                <!-- block {{ index }} end -->
                {{/forEach}}
            </table>
        </td>
    </tr>
</table>