{{!
 * @param {Object} elements                 `justiaLink`, `direction` and `tel` keys are required.
 * @param {String} addressResponsiveClasses
}}

<p responsive="{{addressResponsiveClasses}}">
  {{#if elements.justiaLink}}
    <a class="justia-inline" href="{{elements.justiaLink.link}}">{{{elements.justiaLink.text}}}</a>
  {{/if}}
  {{#if elements.direction}}
    {{>pipe}}
    <span id="ios-links-black">{{{elements.direction}}}</span>
  {{/if}}
  {{#if elements.tel}}
    {{>pipe}}
    <span id="ios-links-black">Tel: {{{elements.tel}}}</span>
  {{/if}}
</p>
