<table class="btn-wrapper" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
    <tr>
        <td align="center" class="btn-real-text">
            <a target="_blank" href="{{{ link }}}" bgcolor="{{ bgColor }}" style="color: {{ color }} !important; background-color: {{ bgColor }}; ">{{ text }}</a>
        </td>
    </tr>
</table>
