{{!--
    Version: 1.0.0
--}}


<div class="btn {{class}}">
    <a href="{{url}}" target="_blank">
        {{#if moreWhite}}
        <img src="{{default.image_dir_src}}/button-more-01.png" alt="Read More" border="0" />
        {{/if}}
        {{#if moreBlue}}
        <img src="{{default.image_dir_src}}/button-more-02.png" alt="Read More" border="0" />
        {{/if}}
        {{#if mailusWhite}}
        <img src="{{default.image_dir_src}}/button-mailus-01.png" alt="Mail Us" border="0" />
        {{/if}}
        {{#if mailusBlue}}
        <img src="{{default.image_dir_src}}/button-mailus-02.png" alt="Mail Us" border="0" />
        {{/if}}
    </a>
</div>