{{!
 * @param {String} widgetClass
 * @param {Object} widgetConfig
 * @param {String} widgetConfig.layout
 * @param {Object} widgetConfig.logo
 * @param {String} widgetConfig.logo.name
 * @param {Object} widgetConfig.logo.link
 * @param {String} widgetConfig.logo.link.url
 * @param {Object} widgetConfig.logo.link.utm
 * @param {String} widgetConfig.logo.path
 * @param {String} widgetConfig.logo.alt
}}

{{#if widgetConfig.logo.path}}
  {{assign "headerLogoSrc" widgetConfig.logo.path}}
  {{assign "headerLogoAlt" widgetConfig.logo.alt}}
{{else if widgetConfig.logo.name}}
  {{assign "headerLogoSrc" (get (concat (camelcase widgetConfig.logo.name) ".path.blue") logos)}}
  {{assign "headerLogoAlt" (get (concat (camelcase widgetConfig.logo.name) ".alt") logos)}}
{{else}}
  {{assign "headerLogoSrc" null}}
  {{assign "headerLogoAlt" null}}
{{/if}}

{{assign "headerLayoutClass" (concat "-" widgetConfig.layout)}}
{{assign "headerLogoModifierClass" (concat "-" widgetConfig.logo.name "-logo")}}
{{assign "headerLogoLink" (concat widgetConfig.logo.link.url (utmVariables widgetConfig.logo.link.utm))}}
{{assign "headerLogoConfig" (toObject
  src=@root.headerLogoSrc
  alt=@root.headerLogoAlt
  link=@root.headerLogoLink
  responsive=(ternary (compare widgetConfig.layout "===" "with-date") "mobile-align-center" "")
)}}
{{assign "headerWrapperResponsive" (ternary (compare widgetConfig.layout "===" "with-date") "mobile-padding-medium-vertical-sides" "")}}

{{assign "headerDate" (moment conversionConfig.releaseDate format=conversionConfig.dateFormat.string)}}

{{>ui-layout-hack tableStart=true}}
  {{#table class=(classList "main-header" @root.headerLayoutClass @root.headerLogoModifierClass widgetClass "set-max-width")}}
    <tr>
      <td class="wrapper" responsive="mobile-padding-horizontal-sides {{@root.headerWrapperResponsive}}">
        {{>ui-spacer-hack}}

        {{#compare widgetConfig.layout "===" "logo-only"}}
          {{>main-logo widgetConfig=@root.headerLogoConfig}}
        {{/compare}}

        {{#compare widgetConfig.layout "===" "with-date"}}
          {{#table}}
            <tr>
              <td class="logo" responsive="collapse-one mobile-padding-bottom">
                {{>main-logo widgetConfig=@root.headerLogoConfig}}
              </td>
              <td class="date" responsive="collapse-one mobile-align-center">
                <span responsive="mobile-fz-18 mobile-align-center">{{@root.headerDate}}</span>
              </td>
            </tr>
          {{/table}}
        {{/compare}}
      </td>
    </tr>
  {{/table}}
{{>ui-layout-hack tableEnd=true}}
