{{!
 * @param {Boolean} withDate
 * @param {String}  logoName
 * @param {String}  logoLink
 * @param {Object}  logoUtmVars
 * @param {String}  customLogoPath
 * @param {String}  customLogoAlt
}}

{{!-- Variables for Header --}}
{{#if withDate}}
  {{assign 'headerLayoutClass' '-with-date'}}
{{else}}
  {{assign 'headerLayoutClass' '-logo-only'}}
{{/if}}

{{#if customLogoPath}}
  {{assign 'headerLogoSrc' customLogoPath}}
  {{assign 'headerLogoAlt' customLogoAlt}}
{{else if logoName}}
  {{assign 'headerLogoSrc' (get (append (camelcase logoName) '.path.blue') logos)}}
  {{assign 'headerLogoAlt' (get (append (camelcase logoName) '.alt') logos)}}
{{else}}
  {{assign 'headerLogoSrc' null}}
  {{assign 'headerLogoAlt' null}}
{{/if}}

{{#if logoName}}
  {{assign 'headerLogoNameClass' (replace '-%s-logo' '%s' logoName)}}
{{else}}
  {{assign 'headerLogoNameClass' '-justia-logo'}}
{{/if}}

{{assign 'headerAllClasses' (concat 'main-header' @root.headerLayoutClass @root.headerLogoNameClass 'set-max-width' separator=' ')}}

{{>ui-layout-hack tableStart=true}}
  {{#table class=@root.headerAllClasses}}
    <tr>
      <td class="wrapper" responsive="mobile-padding-horizontal-sides">
        {{>ui-spacer-hack}}
        {{#if withDate}}
          {{#table}}
            <tr>
              <td class="logo">
                {{>main-logo source=@root.headerLogoSrc alt=@root.headerLogoAlt link=logoLink utmVars=logoUtmVars}}
              </td>
              <td class="date">
                <span>{{getMonth custom-config.currentMonth}} {{custom-config.currentYear}}</span>
              </td>
            </tr>
          {{/table}}
        {{else}}
          {{>main-logo source=@root.headerLogoSrc alt=@root.headerLogoAlt link=logoLink utmVars=logoUtmVars}}
        {{/if}}
      </td>
    </tr>
  {{/table}}
{{>ui-layout-hack tableEnd=true}}
