{{!
 * @param {Boolean} socialOnTop
 * @param {String}  lookAndFeel
 * @param {String}  logoName
 * @param {String}  logoLink
 * @param {Object}  logoUtmVars
 * @param {String}  customLogoPath
 * @param {String}  customLogoAlt
 * @param {Array}   navigationElements
 * @param {String}  disclaimerText
 * @param {Object}  addressElements
 * @param {String}  mainFooterClasses
}}

{{!-- Variables for Footer --}}
{{#if socialOnTop}}
  {{assign 'footerLayoutClass' '-social-on-top'}}
  {{assign 'footerRespClasses' 'main-footer'}}
  {{assign 'footerHeadRespClasses' 'mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border'}}
  {{assign 'footerHeadWrapperClasses' 'fhead-wrapper'}}
{{else}}
  {{assign 'footerLayoutClass' '-social-below'}}
  {{assign 'footerRespClasses' ''}}
  {{assign 'footerHeadRespClasses' 'mobile-padding-horizontal-sides'}}
  {{assign 'footerHeadWrapperClasses' 'fhead-wrapper set-max-width'}}
{{/if}}

{{#if lookAndFeel}}
  {{assign 'footerLookAndFeelClass' (replace '-%s-style' '%s' lookAndFeel)}}
{{else}}
  {{assign 'footerLookAndFeelClass' '-basic-style'}}
{{/if}}

{{#if logoName}}
  {{assign 'footerLogoNameClass' (replace '-%s-logo' '%s' logoName)}}
{{else}}
  {{assign 'footerLogoNameClass' '-justia-logo'}}
{{/if}}

{{assign 'footerClasses' (concat 'main-footer' @root.footerLayoutClass @root.footerLookAndFeelClass @root.footerLogoNameClass mainFooterClasses 'set-max-width' separator=' ')}}

{{>ui-layout-hack tableStart=true}}
  {{#table class=@root.footerClasses responsive=@root.footerRespClasses}}
    <tr>
      <td class="footer-head" responsive="{{@root.footerHeadRespClasses}}">
        {{#unless socialOnTop}}{{>ui-spacer-hack}}{{/unless}}
        {{#table class=@root.footerHeadWrapperClasses}}
          <tr>
            <td class="fhead-side -left footer-logo" responsive="collapse-one {{#if socialOnTop}}footer-logo{{else}}mobile-padding-bottom{{/if}}">
              {{#if customLogoPath}}
                {{>main-logo source=customLogoPath alt=customLogoAlt link=logoLink utmVars=logoUtmVars logoResponsiveClasses='mobile-align-center'}}
              {{else if logoName}}
                {{>main-logo
                  source=(get (append (camelcase logoName) '.path.blue') logos)
                  alt=(get (append (camelcase logoName) '.alt') logos)
                  link=logoLink
                  utmVars=logoUtmVars
                  logoResponsiveClasses='mobile-align-center'
                }}
              {{else}}
                {{>main-logo link=logoLink utmVars=logoUtmVars logoResponsiveClasses='mobile-align-center'}}
              {{/if}}
            </td>
            {{#if socialOnTop}}
              <td class="fhead-side -right footer-social" responsive="footer-social collapse-one">
                {{>social-icons socialIconsResponsiveClasses='mobile-align-center mobile-no-float'}}
              </td>
            {{else}}
              <td class="fhead-side -right footer-nav" responsive="collapse-one mobile-align-center">
                {{>navigation elements=navigationElements}}
              </td>
            {{/if}}
          </tr>
        {{/table}}
      </td>
    </tr>
    {{#unless socialOnTop}}
      <tr>
        <td class="footer-social" responsive="mobile-padding-horizontal-sides">
          {{>ui-spacer-hack}}
          {{>social-icons socialIconsClasses='set-max-width'}}
        </td>
      </tr>
    {{/unless}}
    <tr>
      <td class="footer-disclaimer" responsive="mobile-padding-horizontal-sides">
        <p {{#if socialOnTop}}responsive="mobile-align-center"{{/if}}>{{{disclaimerText}}}</p>
      </td>
    </tr>
    <tr>
      <td class="footer-address" responsive="mobile-padding-horizontal-sides">
        {{#if socialOnTop}}
          {{>ui-spacer-hack}}
          {{>address elements=addressElements addressResponsiveClasses='collapse-one mobile-align-center'}}
        {{else}}
          {{>address elements=addressElements}}
        {{/if}}
      </td>
    </tr>
    {{#if socialOnTop}}
      <tr>
        <td class="footer-nav" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
          {{>ui-spacer-hack}}
          {{>navigation elements=navigationElements navResponsiveClasses='mobile-align-center'}}
        </td>
      </tr>
    {{/if}}
  {{/table}}
{{>ui-layout-hack tableEnd=true}}
