{{!
 * @param {String} link
 * @param {Object} utmVars
 * @param {String} source
 * @param {String} alt
 * @param {String} logoClasses
 * @param {String} logoResponsiveClasses
}}

{{#if link}}<a href="{{{link}}}{{#if utmVars}}{{{utmVariables utmVars}}}{{/if}}" target="_blank">{{/if}}
  <img
    src="{{default source logos.justia.path.blue}}"
    alt="{{default alt logos.justia.alt}}"
    class="logo-img {{logoClasses}}"
    responsive="{{logoResponsiveClasses}}"
    border="0" />
{{#if link}}</a>{{/if}}
