{{! ================================================================================================================= }}
{{! M A I N   H E A D E R                                                                                             }}
{{! ================================================================================================================= }}

{{!
 * Header for the email with the Justia logo and current date (optional).
 *
 * @param {Object} widgetConfig                 - Configuration for the widget.
 * @param {string} widgetConfig.layout          - Defines the layout arrangement of the header.
 * @param {Object} widgetConfig.logo            - Configuration object to customize the logo image.
 * @param {string} [widgetConfig.logo.name]     - Logo name in kebab-case format that defines the source path and the alt text.
 * @param {string} [widgetConfig.logo.color]    - Logo color in kebab-case format that defines the version.
 * @param {string} [widgetConfig.logo.path]     - Custom logo source path for the logo image.
 * @param {string} [widgetConfig.logo.alt]      - Custom logo alt text for the logo image.
 * @param {Object} widgetConfig.logo.link       - Defines the URL and UTM variables values.
 * @param {string} [widgetConfig.logo.link.url] - URL where the logo image will link to.
 * @param {Object} [widgetConfig.logo.link.utm] - Configuration object for the existing UTM variables.
 * @param {string} [widgetClass]                - CSS classes to add to the footer.
}}

{{#if widgetConfig.logo.path}}
  {{assign "headerLogoSrc" widgetConfig.logo.path}}
  {{assign "headerLogoAlt" widgetConfig.logo.alt}}
{{else if widgetConfig.logo.name}}
  {{assign "headerLogoAlt" (get (concat (camelcase widgetConfig.logo.name) ".alt") logos)}}
  {{#if widgetConfig.logo.color}}
    {{assign "headerLogoSrc" (get (concat (camelcase widgetConfig.logo.name) ".path." widgetConfig.logo.color) logos)}}
  {{else}}
    {{assign "headerLogoSrc" (get (concat (camelcase widgetConfig.logo.name) ".path.blue") logos)}}
  {{/if}}
{{else}}
  {{assign "headerLogoSrc" null}}
  {{assign "headerLogoAlt" null}}
{{/if}}

{{assign "headerLayoutClass" (concat "-" widgetConfig.layout)}}
{{assign "headerLogoModifierClass" (concat "-" widgetConfig.logo.name "-logo")}}
{{assign "headerLogoLink" (concat widgetConfig.logo.link.url (utmVariables widgetConfig.logo.link.utm))}}
{{assign "headerLogoConfig" (toObject
  src=@root.headerLogoSrc
  alt=@root.headerLogoAlt
  link=@root.headerLogoLink
  responsive=(ternary (compare widgetConfig.layout "===" "with-date") "mobile-align-center" "")
)}}

{{#if (compare widgetConfig.layout "===" "with-date")}}
  {{assign "headerWrapperResponsive" "mobile-padding-20-vertical-sides"}}
{{else if (compare widgetConfig.layout "===" "insider-date")}}
  {{assign "headerWrapperResponsive" "mobile-padding-20-top mobile-no-padding-horizontal-sides"}}
{{else}}
  {{assign "headerWrapperResponsive" ""}}
{{/if}}

{{assign "headerDate" (moment conversionConfig.releaseDate format=conversionConfig.dateFormat.string)}}

{{! ================================================================================================================= }}

{{>ui-layout-hack tableStart=true}}
  {{#table class=(classList "main-header" @root.headerLayoutClass @root.headerLogoModifierClass widgetClass "set-max-width")}}
    <tr>
      <td class="wrapper" responsive="mobile-padding-horizontal-sides {{@root.headerWrapperResponsive}}">
        {{>ui-spacer-hack}}

        {{#compare widgetConfig.layout "===" "logo-only"}}
          {{>main-logo widgetConfig=@root.headerLogoConfig}}
        {{/compare}}

        {{#compare widgetConfig.layout "===" "with-date"}}
          {{#table}}
            <tr>
              <td class="logo" responsive="collapse-one mobile-padding-bottom">
                {{>main-logo widgetConfig=@root.headerLogoConfig}}
              </td>
              <td class="date" responsive="collapse-one mobile-align-center">
                <span responsive="mobile-fz-18 mobile-align-center">{{@root.headerDate}}</span>
              </td>
            </tr>
          {{/table}}
        {{/compare}}

        {{#compare widgetConfig.layout "===" "insider-date"}}
          {{#table}}
            <tr>
              <td class="date" responsive="mobile-align-center mobile-padding-horizontal-sides">
                <span responsive="mobile-fz-18 mobile-align-center">{{@root.headerDate}} Edition</span>
              </td>
            </tr>
            <tr>
              <td class="logo" responsive="mobile-padding-bottom mobile-padding-horizontal-sides">
                {{>main-logo widgetConfig=@root.headerLogoConfig}}
              </td>
            </tr>
          {{/table}}
        {{/compare}}

      </td>
    </tr>
  {{/table}}
{{>ui-layout-hack tableEnd=true}}
