<tr>
    <td class="article-div" responsive="mobile-padding-horizontal-sides">
        {{> labelDivider text=cases.title }}
    </td>
</tr>
{{#each cases.items }}
    <tr>
      <td class="items-list" responsive="mobile-padding-horizontal-sides">
        <p>
            <a href="{{{ this.link }}}">
                <i>{{{ this.title }}}</i>
            </a>
        </p>
        <p class="subject">{{{ this.subject }}}</p>
        <p>{{{ this.description }}}</p>
        <div class="dates">
            {{#if this.granted }}
                <p class="granted">{{{ this.granted }}}</p>
            {{/if}}
            {{#if this.schedule }}
                <p class="schedule">{{{ this.schedule }}}</p>
            {{/if}}
        </div>
        {{#if @last }}{{else}}<hr class="hr-separator">{{/if}}
      </td>
    </tr>
{{/each}}
{{#if cases.footer }}
    <tr>
        <td class="items-list" responsive="mobile-padding-horizontal-sides">
            {{{ cases.footer }}}
        </td>
    </tr>
{{/if}}
<tr>
    <td style="height:30px; font-size:0;">&nbsp;</td>
</tr>
