{{!
 * @param {String} widgetClass
 * @param {Object} widgetConfig
}}

{{assign "adLink" (concat widgetConfig.link (utmVariables widgetConfig.utm))}}

{{#table class=(concat "w-advertisement" "-type-01" widgetClass "set-max-width" separator=" ")}}
  {{#if widgetConfig.logo}}
    <tr>
      <td class="justia-logo" responsive="mobile-padding-horizontal-sides">
        <a href="{{{@root.adLink}}}" target="_blank">
          {{>img
            src=(get (concat (camelcase widgetConfig.logo.name) "path" widgetConfig.logo.color separator=".") logos)
            alt=(get (concat (camelcase widgetConfig.logo.name) "alt" separator=".") logos)
          }}
        </a>
      </td>
    </tr>
  {{/if}}

  {{#if widgetConfig.title}}
    <tr>
      <td class="title" responsive="mobile-padding-horizontal-sides">
        <a href="{{{@root.adLink}}}" target="_blank" responsive="mobile-fz-{{default widgetConfig.titleResponsiveSize "24"}}">
          {{{widgetConfig.title}}}
        </a>
      </td>
    </tr>
  {{/if}}

  <tr>
    <td class="image">
      <a href="{{{@root.adLink}}}" target="_blank">
        {{>img
          src=widgetConfig.image
          alt=(default widgetConfig.title widgetConfig.imageAlt)
        }}
      </a>
    </td>
  </tr>

  {{#forEach widgetConfig.contentOrder}}
    {{#compare this.type "===" "description"}}
      <tr>
        <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
          {{#each this.config}}
            <p>{{{this}}}</p>
          {{/each}}
        </td>
      </tr>
    {{/compare}}

    {{#compare this.type "===" "button"}}
      <tr>
        <td class="content -button -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
          {{#uiButton
            presetStyle=this.config.style
            href=(concat ../widgetConfig.link (utmVariables ../widgetConfig.utm))
            width=this.config.width
            height=this.config.height
            fontSize=this.config.fontSize
            responsive=this.config.responsive
          }}
            {{{this.config.text}}}
          {{/uiButton}}
        </td>
      </tr>
    {{/compare}}
  {{/forEach}}
{{/table}}
