
<!-- ADVERTISEMENT -->

<!-- w-advertisement w-client-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-client-ad-01 set-max-width">
  <tr>
    <!-- ad-title -->
    <td class="ad-title">
      <p responsive="mobile-fz-40">Tax Planning for 2018</p>
    </td>
  </tr>
  <tr>
    <!-- ad-image -->
    <td class="ad-image">
      <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.clients.ad1.image }}" alt="{{ advertisements.clients.ad1.alt }}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.clients.ad1.description }}
    {{#each advertisements.clients.ad1.description }}
      <tr>
        <!-- ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}} -->
        <td class="ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}}" responsive="mobile-padding-top mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}
  {{/if}}
  <tr>
    <td class="ad-desc--button" responsive="mobile-padding-top mobile-padding-horizontal-sides">
      {{> ui-real-text-button responsiveClasses='mobile-align-center mobile-no-float' buttonLink=advertisements.clients.ad1.link buttonText="CONTACT US NOW" }}
    </td>
  </tr>
</table>
