
<!-- ADVERTISEMENT -->

<!-- w-advertisement w-client-ad-01 -->
<table align="center" border="0" cellpadding="0"  cellspacing="0" class="w-advertisement w-client-ad-01 set-max-width">
  {{#if advertisements.clients.ad1.title }}
    <tr>
      <!-- ad-title -->
      <td class="ad-title" responsive="mobile-padding-top mobile-padding-bottom">
        <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
          <strong responsive="mobile-fz-20 mobile-align-center">{{{ advertisements.clients.ad1.title }}}</strong>
        </a>
      </td>
    </tr>
  {{/if}}

  <tr>
    <!-- ad-image -->
    <td class="ad-image" responsive="mobile-hide">
      <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.clients.ad1.image }}" alt="{{ advertisements.clients.ad1.alt }}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.clients.ad1.description }}
    {{#each advertisements.clients.ad1.description }}
      <tr>
        <!-- ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}} -->
        <td class="ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}}" responsive="mobile-padding-top mobile-padding-horizontal-sides">
          <p>
            <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
              {{{ this }}}
            </a>
          </p>
        </td>
      </tr>
    {{/each}}
  {{/if}}

  {{#if advertisements.clients.ad1.footer }}
    <tr>
      <!-- ad-footer -->
      <td class="ad-footer" responsive="mobile-padding-top mobile-padding-bottom mobile-padding-horizontal-sides">
        <p responsive="mobile-fz-16">
          <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank" responsive="mobile-fz-16">
            {{ advertisements.clients.ad1.footer }}
          </a>
        </p>
      </td>
    </tr>
  {{/if}}

  {{#if advertisements.clients.ad1.button }}
    <tr>
     <td class="ad-button -red -large" responsive="mobile-padding-horizontal-sides mobile-align-center mobile-padding-top mobile-padding-bottom">
       {{> ui-real-text-button responsiveClasses="mobile-align-center mobile-no-float" buttonLink=advertisements.clients.ad1.link buttonText=advertisements.clients.ad1.button.text }} 
     </td>  
   </tr>
 {{/if}}
</table>
