<!-- ADVERTISEMENT -->

<!-- w-advertisement w-client-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-client-ad-01 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="ad-image" responsive="mobile-hide">
            <a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{ advertisements.clients.ad1.image }}" alt="{{ advertisements.clients.ad1.alt }}">
            </a>
          </td>
          <td class="ad-content" responsive="mobile-padding-top collapse-one">
            <table>
              <tr>
                <td responsive="mobile-padding-horizontal-sides">
                  <a class="ad-title" href="{{{ advertisements.clients.ad1.link }}}" target="_blank">
                    <strong responsive="mobile-fz-20 mobile-align-center">{{{ advertisements.clients.ad1.title }}}</strong>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="ad-button -red -large" responsive="mobile-padding-horizontal-sides mobile-align-center mobile-padding-top mobile-padding-bottom">
                  {{> ui-real-text-button responsiveClasses="mobile-align-center mobile-no-float" buttonLink=advertisements.clients.ad1.link buttonText=advertisements.clients.ad1.button }}	
                </td>	
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="ad-description" responsive="mobile-padding-horizontal-sides mobile-padding-bottom collapse-one">
      <p><a href="{{{ advertisements.clients.ad1.link }}}" target="_blank">{{{ advertisements.clients.ad1.description }}}</a></p>
    </td>
  </tr>
</table>