<!-- ASK A LAWYER LEADERBOARD -->

{{#table class='w-people-list -answers-leaderboard set-max-width'}}
  <tr>
    <td class="list-table" responsive="mobile-no-padding-top mobile-no-padding-horizontal-sides">
      {{#table align=''}}
        <tr>
          <td class="main-title" responsive="mobile-padding-horizontal-sides">
            {{>widget-title type='Ask a Lawyer' title='Participating Lawyers' link='https://answers.justia.com/about-legal-answers#faq-atty'}}
          </td>
        </tr>
        <tr>
          <td>
            {{#table align='' class='people-rows'}}
              {{#forEach answersLeaderboard.people}}
                <tr>
                  <td class="photo" responsive="mobile-padding-left">
                    <a href="{{{this.photoLink}}}" target="_blank">
                      <img src="{{resolveFilePath (concat 'leaderboard-photo-0' index '.png')}}" alt="{{this.name}}" border="0" />
                    </a>
                  </td>
                  <td class="info" responsive="mobile-padding-horizontal-sides">
                    <p class="name" responsive="mobile-fz-20"><a href="{{{this.nameLink}}}" target="_blank">{{{this.name}}}</a></p>
                    <p class="location"><b>{{#uppercase}}{{this.location}}{{/uppercase}}</b></p>
                  </td>
                  <td class="ranking" responsive="mobile-padding-right">
                    <img src="https://justatic.com/v/1/emails/images/newsletters/common/number-ranking-0{{index}}{{#if isFirst}}-green{{/if}}.png" alt="{{index}}" border="0" />
                  </td>
                </tr>
              {{/forEach}}
            {{/table}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="list-desc" responsive="mobile-padding-horizontal-sides">
      <p>{{{answersLeaderboard.description}}}</p>
      <br>
      {{#uiButton href=answersLeaderboard.button.link}}
        {{answersLeaderboard.button.text}}
      {{/uiButton}}
    </td>
  </tr>
{{/table}}
