
<!-- TECH NEWS -->

<!-- w-stories-list -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-stories-list w-featured-news set-max-width">
  <tr>
    <!-- main-story-title -->
    <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">FEATURED NEWS</h4>
      <!-- widget-main-title -->
      <h2 class="widget-main-title">
        {{#if featuredNews.link }}
          <a href="{{{ concat featuredNews.link featuredNews.utm.medium featuredNews.utm.campaign }}}{{#if clientsNewsletter }}{{{ featuredNews.utm.source.clients }}}{{/if}}{{#if jldNewsletter }}{{{ featuredNews.utm.source.jld }}}{{/if}}{{{ featuredNews.utm.content.title }}}" target="_blank">
        {{/if}}
          {{ featuredNews.title }}
        {{#if featuredNews.link }}
          </a>
        {{/if}}
      </h2>
    </td>
  </tr>
  <tr>
    <!-- main-story-desc -with-list -->
    <td class="main-story-desc -with-list" responsive="mobile-padding-horizontal-sides">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <!-- story-desc -->
          <td class="story-desc" responsive="collapse-one">
            <p>{{{ featuredNews.description }}}</p>
            {{!-- <br>
            {{> ui-button moreBlue=true buttonLink=featuredNews.link }} --}}
          </td>
          <!-- featured-image -->
          <td class="featured-image" responsive="mobile-hide collapse-one">
             {{#if featuredNews.link }}
               <a href="{{{ concat featuredNews.link featuredNews.utm.medium featuredNews.utm.campaign }}}{{#if clientsNewsletter }}{{{ featuredNews.utm.source.clients }}}{{/if}}{{#if jldNewsletter }}{{{ featuredNews.utm.source.jld }}}{{/if}}{{{ featuredNews.utm.content.image }}}" target="_blank">
             {{/if}}
             <img src="{{ default.imageDirSrc }}/tech-news-01.png" alt="{{ featuredNews.title }}" border="0" />
             {{#if featuredNews.link }}
               </a>
             {{/if}}
           </td>
        </tr>
      </table>
    </td>
  </tr>

  {{#forEach featuredNews.list }}
    <tr>
      <!-- main-story-list {{#if featuredNews.button }}{{ else }}main-story-list--last{{/if}} -->
      <td class="main-story-list {{#if featuredNews.button }}{{ else }}main-story-list--last{{/if}}" responsive="mobile-padding-horizontal-sides">
        <p><a href="{{ this.link }}" target="_blank">{{{ this.title }}}</a></p>
        {{#if this.description }}<p>{{{ this.description }}}</p>{{/if}}
      </td>
    </tr>
  {{/forEach}}

  {{#if featuredNews.button }}
    <tr>
      <td class="main-story-button" responsive="mobile-padding-horizontal-sides">
        {{#if clientsNewsletter }}
          {{> ui-real-text-button buttonText=featuredNews.button.text buttonLink=(concat featuredNews.link featuredNews.utm.medium featuredNews.utm.campaign featuredNews.utm.source.clients featuredNews.utm.content.button) }}
        {{/if}}
        {{#if jldNewsletter }}
          {{> ui-real-text-button buttonText=featuredNews.button.text buttonLink=(concat featuredNews.link featuredNews.utm.medium featuredNews.utm.campaign featuredNews.utm.source.jld featuredNews.utm.content.button) }}
        {{/if}}
      </td>
    </tr>
  {{/if}}
</table>
