<!-- TECH NEWS -->

{{#and featuredNews.link (compare featuredNews.link "!==" "")}}
  {{assign "featuredNewsTitleLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.title))}}
  {{assign "featuredNewsImageLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.image))}}
  {{#if featuredNews.button}}
    {{assign "featuredNewsButtonLink" (concat featuredNews.link (utmVariables widgetUtmVars content=widgetUtmVars.content.button))}}
  {{/if}}
{{/and}}

{{#table class="w-stories-list -featured-news set-max-width"}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-header section=featuredNews.sectionName title=featuredNews.title link=@root.featuredNewsTitleLink}}
    </td>
  </tr>
  <tr>
    <td class="featured-story" responsive="mobile-padding-horizontal-sides">
      {{#table align=""}}
        <tr>
          <td class="description{{#if @root.featuredNewsButtonLink}} -with-button{{/if}}" responsive="collapse-one mobile-no-padding-horizontal-sides">
            {{#each featuredNews.description}}
              <p>{{{this}}}</p>
            {{/each}}
            {{#if @root.featuredNewsButtonLink}}
              {{#uiButton presetStyle=featuredNews.button.style href=@root.featuredNewsButtonLink}}
                {{featuredNews.button.text}}
              {{/uiButton}}
            {{/if}}
          </td>
          <td class="image" responsive="mobile-hide">
            {{#if @root.featuredNewsImageLink}}<a href="{{{@root.featuredNewsImageLink}}}" target="_blank">{{/if}}
              <img src="{{resolveFilePath featuredNews.image}}" alt="{{featuredNews.title}}" border="0" />
            {{#if @root.featuredNewsImageLink}}</a>{{/if}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
{{/table}}
