<!-- TECH NEWS -->

{{#if featuredNews.link}}
  {{#if clientsNewsletter}}
    {{assign 'featuredNewsMainTitleVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.clients content=featuredNews.utm.content.title)}}
    {{assign 'featuredNewsImageVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.clients content=featuredNews.utm.content.image)}}
  {{/if}}
  {{#if jldNewsletter}}
    {{assign 'featuredNewsMainTitleVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.jld content=featuredNews.utm.content.title)}}
    {{assign 'featuredNewsImageVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.jld content=featuredNews.utm.content.image)}}
  {{/if}}
{{/if}}

{{#if featuredNews.button}}
  {{#if clientsNewsletter}}
    {{assign 'featuredNewsButtonVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.clients content=featuredNews.utm.content.button)}}
  {{/if}}
  {{#if jldNewsletter}}
    {{assign 'featuredNewsButtonVars' (utmVariables featuredNews.utm source=featuredNews.utm.source.jld content=featuredNews.utm.content.button)}}
  {{/if}}
{{/if}}

{{#table class='w-stories-list w-featured-news set-max-width'}}
  <tr>
    <td class="main-story-title" responsive="mobile-padding-horizontal-sides">
      <h4 class="widget-type-name">FEATURED NEWS</h4>
      <h2 class="widget-main-title">
        {{#if featuredNews.link}}<a href="{{{featuredNews.link}}}{{{@root.featuredNewsMainTitleVars}}}" target="_blank">{{/if}}
          {{featuredNews.title}}
        {{#if featuredNews.link}}</a>{{/if}}
      </h2>
    </td>
  </tr>
  <tr>
    <td class="main-story-desc{{#gt (length featuredNews.list) 1}} -with-list{{/gt}}" responsive="mobile-padding-horizontal-sides">
      {{#table align=''}}
        <tr>
          <td class="story-desc" responsive="collapse-one">
            <p>{{{featuredNews.description}}}</p>
          </td>
          <td class="featured-image" responsive="mobile-hide collapse-one">
            {{#if featuredNews.link}}<a href="{{{featuredNews.link}}}{{{@root.featuredNewsImageVars}}}" target="_blank">{{/if}}
              <img src="{{resolveFilePath 'tech-news-01.png'}}" alt="{{featuredNews.title}}" border="0" />
            {{#if featuredNews.link}}</a>{{/if}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>

  {{#forEach featuredNews.list}}
    <tr>
      <td class="main-story-list{{#unless featuredNews.button}} main-story-list--last{{/unless}}" responsive="mobile-padding-horizontal-sides">
        <p>
          <a href="{{this.link}}" target="_blank">{{{this.title}}}</a>
        </p>
        {{#if this.description}}
          <p>{{{this.description}}}</p>
        {{/if}}
      </td>
    </tr>
  {{/forEach}}

  {{#if featuredNews.button}}
    <tr>
      <td class="main-story-button" responsive="mobile-padding-horizontal-sides">
        {{>ui-real-text-button buttonText=featuredNews.button.text buttonLink=(concat featuredNews.link @root.featuredNewsButtonVars)}}
      </td>
    </tr>
    <tr>
      <td class="main-story-button" responsive="mobile-padding-horizontal-sides">
        {{#button href=(concat featuredNews.link @root.featuredNewsButtonVars)}}{{featuredNews.button.text}}{{/button}}
      </td>
    </tr>
    {{!-- <tr>
      <td class="main-story-button" responsive="mobile-padding-horizontal-sides">
        {{#button href=(concat featuredNews.link @root.featuredNewsButtonVars) height='50px'}}{{featuredNews.button.text}}{{/button}}
      </td>
    </tr> --}}
  {{/if}}
{{/table}}
