<!-- FEATURED SITE OF THE MONTH -->

{{#table class='w-feaured-site-month set-max-width'}}
  <tr>
    <td class="featured-site-title" responsive="mobile-padding-horizontal-sides">
      <h2 class="widget-main-title">Featured Site{{#if listSites}}s{{/if}} of the Month</h2>
    </td>
  </tr>

  {{#if singleSite}}
    <tr>
      <td class="ft-single-client" responsive="mobile-padding-horizontal-sides">
        <p><a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">{{{featuredSiteMonth.sites.0.clientName}}}</a></p>
      </td>
    </tr>
    <tr>
      <td class="ft-single-desc" responsive="mobile-padding-horizontal-sides">
        <p>in {{featuredSiteMonth.sites.0.location}}&nbsp;<br responsive="mobile-hide"> just recently launched {{featuredSiteMonth.sites.0.possessiveAdjective}} Justia website:</p>
        <p><a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">{{featuredSiteMonth.sites.0.domain.simple}}</a></p>
      </td>
    </tr>
    <tr>
      <td class="ft-single-img" responsive="mobile-padding-horizontal-sides">
        <a href="{{featuredSiteMonth.sites.0.domain.long}}" target="_blank">
          <img src="{{resolveFilePath 'featured-site-01.jpg'}}" alt="{{featuredSiteMonth.sites.0.clientName}}" border="0" />
        </a>
      </td>
    </tr>
  {{/if}}

  {{#if listSites}}
    <tr>
      <td class="ft-list-description" responsive="mobile-padding-horizontal-sides">
        <p>The following clients recently launched their sites with Justia.</p>
      </td>
    </tr>
    <tr>
      <td class="ft-list" responsive="mobile-padding-horizontal-sides">
        {{#forEach featuredSiteMonth.sites}}
          {{#table align='' class=(concat 'ft-list-item-' index)}}
            <tr>
              <td class="ft-list-img" responsive="mobile-hide collapse-one">
                <a href="{{this.domain.long}}" target="_blank">
                  <img src="{{resolveFilePath (concat 'featured-site-0' index '-thumb.jpg')}}" alt="{{this.clientName}}" border="0" />
                </a>
              </td>
              <td class="ft-list-desc" responsive="collapse-one{{#unless isFirst}} mobile-padding-top{{/unless}}{{#unless isLast}} mobile-padding-bottom{{/unless}}">
                {{#table align=''}}
                  <tr>
                    <td responsive="mobile-align-center {{#unless isFirst}}mobile-padding-top{{/unless}}">
                      <p><strong>{{{this.clientName}}}</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td responsive="mobile-align-center">
                      <p>in {{this.location}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td responsive="mobile-align-center {{#unless isLast}}mobile-padding-bottom{{/unless}}">
                      <p>
                        <a href="{{this.domain.long}}" target="_blank">{{this.domain.simple}}</a>
                      </p>
                    </td>
                  </tr>
                {{/table}}
              </td>
            </tr>
          {{/table}}
        {{/forEach}}
      </td>
    </tr>
  {{/if}}
{{/table}}
