{{> layoutHack tableStart=true }}
    <!-- main-footer-v3 -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-footer-v3 set-max-width" responsive="main-footer-v3">
        <tr>
            <!-- logo-footernav -->
            <td class="logo-footernav" responsive="mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- logo -->
                        <td class="logo" responsive="logo collapse-one">
                            <img src="{{ default.footer.logo.v3.source }}" alt="{{ default.footer.logo.v3.alt }}" responsive="mobile-align-center" border="0" />
                        </td>
                        <!-- footernav align-right -->
                        <td class="footernav align-right" responsive="footernav collapse-one">
                            <p responsive="mobile-align-center">
                                <a responsive="collapse-one mobile-padding-vertical-sides" href="https://www.justia.com/marketing/" target="_blank">Contact Us</a>
                                <!-- vline -->
                                <span class="vline" responsive="mobile-hide">|</span>
                                <a responsive="collapse-one mobile-padding-vertical-sides" href="https://www.justia.com/marketing/privacy-policy/" target="_blank">Privacy Policy</a>
                                <!-- vline -->
                                <span class="vline" responsive="mobile-hide">|</span>
                                <a responsive="collapse-one mobile-padding-vertical-sides" href="{{{ default.unsubscribe_url }}}">Unsubscribe</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <!-- disclaimer -->
            <td class="disclaimer" responsive="mobile-padding-horizontal-sides">
                <p class="align-center">
                    <a href="{{{ default.unsubscribe_url }}}"><b>Unsubscribe From This Newsletter</b></a><br>
                    or unsubscribe from all Justia newsletters immediately <a href="{{{ default.unsubscribe_url }}}"><b>here</b></a>.
                </p>
            </td>
        </tr>
        <tr>
            <!-- social -->
            <td class="social" responsive="mobile-padding-horizontal-sides">
                <!-- spacer -->
                <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" responsive="mobile-hide" border="0">
                <table align="center" border="0" cellpadding="0" cellspacing="0" responsive="mobile-no-float">
                    <tr>
                        <td><a href="https://www.facebook.com/justia" target="_blank"><img src="https://lawyers.justia.com/s/facebook-flat-64.png" alt="Facebook" border="0" /></a></td>
                        <td><a href="https://twitter.com/justiacom" target="_blank"><img src="https://lawyers.justia.com/s/twitter-flat-64.png" alt="Twitter" border="0" /></a></td>
                        <td><a href="https://www.linkedin.com/company/justia" target="_blank"><img src="https://lawyers.justia.com/s/linkedin-flat-64.png" alt="LinkedIn" border="0" /></a></td>
                        <td><a href="https://lawyers.justia.com/organization/justia-inc-16302" target="_blank"><img src="https://lawyers.justia.com/s/justia-flat-64.png" alt="Justia" border="0" /></a></td>
                        <td><a href="https://plus.google.com/+justia" target="_blank" rel="publisher"><img src="https://lawyers.justia.com/s/google-plus-flat-64.png" alt="GooglePlus" border="0" /></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <!-- address -->
            <td class="address" responsive="mobile-padding-horizontal-sides mobile-padding-uneven-bottom">
                <!-- spacer -->
                <img src="https://justatic.com/v/1/emails/images/spacer.gif" class="spacer" responsive="mobile-hide" border="0">
                <p responsive="collapse-one mobile-align-center">
                    <b><a href="https://www.justia.com/">Justia</a> <!-- vline --><span class="vline">|</span> <span id="ios-links-black">1380 Pear Ave #2B, Mountain View, CA 94043 <!-- vline --><span class="vline">|</span> Tel: (888) 587-8421</span></b>
                </p>
            </td>
        </tr>
    </table>
{{> layoutHack tableEnd=true }}