<!-- CLIENTS IN THE NEWS -->

{{#table class='w-in-the-news set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-title title='Clients in the News'}}
    </td>
  </tr>
  <tr>
    <td class="news-list" responsive="mobile-padding-horizontal-sides">
      {{#forEach inTheNews.news}}
        {{#table align='' class=(concat 'news-item -itm-' index)}}
          <tr>
            <td class="logo">
              <a href="{{this.button.link}}" target="_blank">
                <img src="{{resolveFilePath (concat 'clients-news-logo-0' index '.png')}}" alt="{{this.logoName}}" border="0" />
              </a>
            </td>
            <td class="desc">
              <p>{{{this.description}}}</p>
              <br>
              {{#uiButton href=this.button.link}}
                {{this.button.text}}
              {{/uiButton}}
            </td>
          </tr>
        {{/table}}
      {{/forEach}}
    </td>
  </tr>
  <tr>
    <td class="extra-info" responsive="mobile-padding-horizontal-sides">
      <p>Have you or your firm been mentioned in the news recently?</p>
      <p><a href="mailto:newsletter-support@justia.com">Send us your stories!</a></p>
    </td>
  </tr>
{{/table}}
