---
variable:
---

<!-- CLIENTS IN THE NEWS -->

<!-- w-in-the-news -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-in-the-news set-max-width">

  <tr>
    <!-- clients-list -->
    <td class="clients-list">
      {{#forEach inTheNews.news }}
        <!-- client-{{ index }} -->
        <table border="0" cellpadding="0" cellspacing="0" class="client-{{ index }}">
          <tr>
            <td class="wrapper" responsive="mobile-padding-horizontal-sides">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <!-- news-logo -->
                  <td class="news-logo"> {{!-- responsive="mobile-hide" --}}
                    <img src="{{ ../default.imageDirSrc }}/spruce-up-thumb-0{{ index }}.png" alt="thumb-0{{ index }}" border="0" />
                  </td>
                  <!-- news-desc -->
                  <td class="news-desc"> {{!-- responsive="collapse-one" --}}
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <!-- title -->
                        <td class="title">
                          <p><b>{{{ this.title }}}</b></p>
                        </td>
                      </tr>
                      <tr>
                        <!-- desc -->
                        <td class="desc">
                          <p>{{{ this.description }}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!-- list-wrapper -->
                          <table border="0" cellpadding="0" cellspacing="0" class="list-wrapper">
                            {{#each this.list }}
                              <tr>
                                <!-- itm -->
                                <td class="itm">
                                  <!-- bullet-list -->
                                  <table border="0" cellpadding="0" cellspacing="0" class="bullet-list">
                                    <tr>
                                      <!-- dot -->
                                      <td class="dot" responsive="mobile-padding-left">•</td>
                                      <!-- text -->
                                      <td class="text"><p>{{{ this }}}</p></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            {{/each}}
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      {{/forEach}}
    </td>
  </tr>

  <tr>
    <!-- final-1 -->
    <td class="final-suggestion final-1" responsive="mobile-padding-horizontal-sides">
      <p><b>A Final Suggestion</b></p>
    </td>
  </tr>
  <tr>
    <!-- final-2 -->
    <td class="final-suggestion final-2" responsive="mobile-padding-horizontal-sides">
      <p>Stay up to date on your state’s ethics rules regarding legal advertising, and ensure that your website and any other online marketing are in compliance.</p>
    </td>
  </tr>
</table>
