
<!-- CLIENTS IN THE NEWS -->

<!-- w-in-the-news -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-in-the-news set-max-width">

  <tr>
    <!-- clients-list -->
    <td class="clients-list" responsive="mobile-padding-horizontal-sides">
      {{#forEach inTheNews.news }}
      <!-- client-{{ index }} -->
      <table border="0" cellpadding="0" cellspacing="0" class="client-{{ index }}">
        <tr>
          <!-- news-logo -->
          <td class="news-logo">
            <a href="{{ this.link }}" target="_blank"><img src="{{ ../default.imageDirSrc }}/clients-news-logo-0{{ index }}.png" alt="{{ this.logoName }}" border="0" /></a>
          </td>
          <!-- news-desc -->
          <td class="news-desc">
            <p>{{{ this.description }}}</p>
            <br>
            {{> ui-button moreBlue=true buttonLink=this.link }}
          </td>
        </tr>
      </table>
      {{/forEach}}
    </td>
  </tr>

  <tr>
    <!-- final-1 -->
    <td class="final-suggestion final-1" responsive="mobile-padding-horizontal-sides">
      <p>A Final Suggestion</p>
    </td>
  </tr>
  <tr>
    <!-- final-2 -->
    <td class="final-suggestion final-2" responsive="mobile-padding-horizontal-sides">
      <p>Stay up to date on your state’s ethics rules regarding legal advertising, and ensure that your website and any other online marketing are in compliance.</p>
    </td>
  </tr>
</table>
