<!-- INSIDE JUSTIA -->

{{#gt (length insideJustia.blocks) 1}}
  {{assign 'insideJustiaAllClasses' (concat 'w-text-image' 'w-inside-justia' 'set-max-width' 'multiple' separator=' ')}}
  {{else}}
    {{assign 'insideJustiaAllClasses' (concat 'w-text-image' 'w-inside-justia' 'set-max-width' separator=' ')}}
{{/gt}}

<!-- {{@root.insideJustiaAllClasses}} -->
{{#table class=@root.insideJustiaAllClasses}}

  {{#gt (length insideJustia.blocks) 1}}
    <tr>
      <!-- items-main-title -->
      <td class="items-main-title" responsive="mobile-padding-horizontal-sides">
        <!-- widget-type-name -->
        <h4 class="widget-type-name">INSIDE JUSTIA</h4>
      </td>
    </tr>
  {{/gt}}

  <tr>
    <!-- item-list -->
    <td class="item-list" responsive="mobile-padding-horizontal-sides">
      {{#forEach insideJustia.blocks}}
        <!-- item-{{index}} -->
        {{#table align='' class=(concat 'item-' index)}}
          <tr>
            <!-- item-desc -->
            <td class="item-desc" responsive="collapse-one">

              {{#eq (length ../insideJustia.blocks) 1}}
                <!-- widget-type-name -->
                <h4 class="widget-type-name">INSIDE JUSTIA</h4>
              {{/eq}}

              <!-- widget-main-title -->
              <h2 class="widget-main-title">{{{this.title}}}</h2>
              <p>{{{this.description}}}</p>
            </td>
            <!-- item-image -->
            <td class="item-image" responsive="mobile-hide collapse-one">
              {{#if this.image}}
                <img src="{{resolveFilePath this.image}}" alt="{{this.title}}" border="0" />
              {{else}}
                &nbsp;
              {{/if}}
            </td>
          </tr>
        {{/table}}
      {{/forEach}}
    </td>
  </tr>
{{/table}}
