<!-- INTERNET STATS -->

<!-- w-internet-stats -->
{{#table class='w-internet-stats set-max-width'}}
  <tr>
    <!-- stats-title -->
    <td class="stats-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-main-title -->
      <h2 class="widget-main-title">Internet Stats</h2>
    </td>
  </tr>
  <tr>
    <!-- stats-desc-head align-center -->
    <td class="stats-subtitle align-center" responsive="mobile-padding-horizontal-sides">
      <!-- line1 -->
      <p class="line1">{{{internetStats.subtitle}}}</p>
    </td>
  </tr>
  <tr>
    <!-- stats-chart -->
    <td class="stats-chart" responsive="mobile-padding-horizontal-sides">
      {{#if internetStats.link}}<a href="{{internetStats.link}}" target="_blank">{{/if}}
        <img src="{{resolveFilePath 'internet-stats-01.png'}}" alt="{{internetStats.subtitle}}" />
      {{#if internetStats.link}}</a>{{/if}}
    </td>
  </tr>

  {{#isnt internetStats.description ''}}
    <tr>
      <!-- stats-desc -->
      <td class="stats-desc" responsive="mobile-padding-horizontal-sides">
        <p>{{{internetStats.description}}}</p>
      </td>
    </tr>
  {{/isnt}}
{{/table}}
