<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-02 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-02 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- ad-header -->
          <td class="ad-header" responsive="mobile-padding-full">
            <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
              <img src="{{ advertisements.jld.ad2.logo }}" alt="Justia Marketing" border="0" />
            </a>
          </td>
        </tr>
        <tr>
          <!-- ad-title -->
          <td class="ad-title" responsive="mobile-padding-full">
            <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
              <strong class="title" responsive="mobile-fz-20">{{{ advertisements.jld.ad2.title }}}</strong>
            </a>
          </td>
        </tr>

        <tr>
          <td class="ad-main">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <!-- ad-image -->
                {{> ui-background classes="ad-image" image=advertisements.jld.ad2.bg bgColor="#ffffff"
                dimensions="width:600px;
                height:229px;" bgStart=true content=true responsiveClasses="mobile-reset-height mobile-reset-width" }}
                <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
                  <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad2.animation }}" alt="{{ advertisements.jld.ad2.alt }}"
                    border="0" />
                </a>
                {{> ui-background bgEnd=true }}
              </tr>
              <tr>
                <!-- ad-desc -->
                <td class="ad-desc" responsive="mobile-padding-full">
                  <p>
                    <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
                      {{{ advertisements.jld.ad2.description }}}
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="ad-button -red -xlarge" responsive="mobile-padding-full">
            {{> ui-real-text-button responsiveClasses="mobile-reset-height"
            buttonLink=advertisements.jld.ad2.link buttonText=advertisements.jld.ad2.button }}
          </td>
        </tr>

        <tr>
          <td class="ad-footer" responsive="mobile-padding-full mobile-fz-16">
            {{{ advertisements.jld.ad2.footer }}}
          </td>
        </tr>
      </table>
      <td />
  </tr>
</table>