
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="ad-logo" responsive="mobile-padding-horizontal-sides mobile-padding-top mobile-padding-bottom">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{{ advertisements.jld.ad1.logo }}}" alt="Justia Marketing">
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-title" responsive="mobile-no-padding-bottom mobile-padding-horizontal-sides mobile-fz-20">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              Connect with Clients <br responsive="mobile-hide">by Putting a Face to Your Name
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-content" responsive="mobile-no-padding-top mobile-no-padding-bottom mobile-padding-horizontal-sides">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="ad-image" responsive="mobile-hide">
                  <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                    <img src="{{ default.imageDirSrc }}/{{{ advertisements.jld.ad1.image }}}" alt="Laptop Animation">
                  </a>
                </td>
                <td class="ad-text" responsive="mobile-no-padding-horizontal-sides collapse-one mobile-align-center mobile-padding-top">
                  <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank" responsive="mobile-align-center mobile-fz-16">
                    <b>Upload</b> Your High Resolution Photo and Receive an Offer to Smile About
                  </a>
                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="ad-button -yellow" responsive="mobile-padding-top mobile-padding-horizontal-sides">
                        {{> ui-real-text-button responsiveClasses="mobile-align-center mobile-no-float" buttonLink=advertisements.jld.ad1.link buttonText="Click Here to Save 15%*" }} 
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="ad-disclaimer" responsive="mobile-padding-horizontal-sides mobile-padding-bottom">
            *Discount valid on any new yearly or three-year Premium Memberships.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
