
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <!-- ad-image -->
    <td class="ad-image">
      <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad1.image }}" alt="{{ advertisements.jld.ad1.alt }}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.jld.ad1.description }}
    <tr>
      <!-- ad-desc ad-desc--first -->
      <td class="ad-desc ad-desc--first" responsive="mobile-padding-top mobile-padding-horizontal-sides">
        <p>{{{ advertisements.jld.ad1.description.[0] }}}</p>
      </td>
    </tr>
    <tr>
      <td class="ad-desc ad-desc--button" responsive="mobile-padding-top mobile-padding-horizontal-sides">
        {{> ui-real-text-button buttonText='Get Started Today' responsiveClasses='mobile-align-center mobile-no-float' buttonLink=advertisements.jld.ad1.link }}
      </td>
    </tr>
    <tr>
      <!-- ad-desc ad-desc--last -->
      <td class="ad-desc ad-desc--last" responsive="mobile-padding-top mobile-padding-horizontal-sides">
        <p>{{{ advertisements.jld.ad1.description.[1] }}}</p>
      </td>
    </tr>
  {{/if}}
</table>
