<!-- JLD ADVERTISEMENT -->

{{assign 'jldAd1FullLink' (concat advertisements.jld.ad1.link (utmVariables advertisements.jld.ad1.utm))}}

{{#table class='w-advertisement -jld-ad-01 set-max-width'}}
  <tr>
    {{> ui-background
      backgroundBehavior='cell'
      backgroundStart=true
      bgImage='best-seo-background-01.png'
      bgColor='#0d497a'
      bgWidth='600'
    }}
      {{#table}}
        <tr>
          <td class="justia-logo-image" responsive="mobile-padding-horizontal-sides">
            <a href="{{{@root.jldAd1FullLink}}}" target="_blank">
              <img src="http://justatic.com/v/20180731/branding/logos/emails/justia-marketing-blue.png" alt="Justia Marketing" border="0" />
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-title" responsive="mobile-padding-horizontal-sides">
            <a href="{{{@root.jldAd1FullLink}}}" target="_blank" responsive="mobile-fz-24">
              <strong>{{{advertisements.jld.ad1.title}}}</strong>
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-image">
            <a href="{{{@root.jldAd1FullLink}}}" target="_blank">
              <img src="{{resolveFilePath advertisements.jld.ad1.image}}" alt="{{advertisements.jld.ad1.alt}}" border="0" />
            </a>
          </td>
        </tr>
      {{/table}}
    {{>ui-background backgroundBehavior='cell' backgroundEnd=true}}
  </tr>
  <tr>
    <td class="ad-desc" responsive="mobile-padding-medium-top mobile-padding-horizontal-sides">
      <p>{{{advertisements.jld.ad1.description}}}</p>
    </td>
  </tr>
  <tr>
    <td class="ad-button" responsive="mobile-padding-horizontal-sides">
      {{#uiButton presetStyle='red' href=@root.jldAd1FullLink width='350' height='50' fontSize='18' responsive='jld-ad-button'}}
        Contact Us For Help With Your SEO
      {{/uiButton}}
    </td>
  </tr>
  <tr>
    <td class="ad-desc -last" responsive="mobile-padding-horizontal-sides">
      <p>Or call us at <strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
    </td>
  </tr>
{{/table}}
