
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-02 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-02 set-max-width">
  <tr>
    <!-- ad-image -->
    <td class="ad-image">
      <a href="{{{ advertisements.jld.ad2.link.a }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad2.image.a }}" alt="{{ advertisements.jld.ad2.alt.a }}" border="0" />
      </a>
    </td>
  </tr>
  <tr>
    <td class="ad-image">
      <a href="{{{ advertisements.jld.ad2.link.b }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad2.image.b }}" alt="{{ advertisements.jld.ad2.alt.b }}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.jld.ad2.description }}
    {{#each advertisements.jld.ad2.description }}
      <tr>
        <!-- ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}} -->
        <td class="ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}}" responsive="mobile-padding-top mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}
  {{/if}}
</table>
