
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <!-- ad-justia-logo -->
    <td class="ad-justia-logo" responsive="mobile-padding-top mobile-padding-bottom mobile-padding-horizontal-sides">
      <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/justia-marketing-logo.png" alt="JUSTIA Marketing" border="0" />
      </a>
    </td>
  </tr>
  <tr>
    <!-- ad-title -->
    <td class="ad-title" responsive="mobile-padding-bottom mobile-padding-horizontal-sides">
      <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
        <strong responsive="mobile-fz-20 mobile-align-center">{{{ advertisements.jld.ad1.title }}}</strong>
      </a>
    </td>
  </tr>
  <tr>
    <td class="ad-content">
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- ad-image -->
          <td class="ad-image" responsive="mobile-hide">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad1.image }}" alt="{{ advertisements.jld.ad1.alt }}" border="0" />
            </a>
          </td>
          <!-- ad-desc -->
          <td class="ad-desc" responsive="mobile-reset-width mobile-padding-horizontal-sides">
            <p>
              <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                {{{ advertisements.jld.ad1.description }}}
              </a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="ad-button -red -large" responsive="mobile-padding-horizontal-sides mobile-align-center mobile-no-padding-top mobile-padding-bottom">
      {{> ui-real-text-button responsiveClasses="mobile-align-center mobile-reset-width mobile-padding-horizontal-sides mobile-no-float mobile-fz-14" buttonLink=advertisements.jld.ad1.link buttonText=advertisements.jld.ad1.button.text }} 
    </td>  
  </tr>

  <tr>
    <!-- ad-footer -->
    <td class="ad-footer" responsive="mobile-padding-bottom mobile-padding-horizontal-sides">
      <p responsive="mobile-fz-16">
        {{{ advertisements.jld.ad1.footer }}}
      </p>
    </td>
  </tr>
</table>
