
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-02 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-02 set-max-width">
  <tr>
    {{!-- <td class="ad-image">
      <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad2.image }}" alt="{{ advertisements.jld.ad2.alt }}" border="0" />
      </a>
    </td> --}}
    {{> ui-background classes="w-jld-ad-02-img" image=advertisements.jld.ad2.image bgColor="#1b0d2e" dimensions="width:600px;
    height:548px;" bgStart=true content=true responsiveClasses="mobile-reset-height mobile-reset-width
    mobile-padding-full" }}
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        {{#if advertisements.jld.ad2.description }}
          <tr>
            <!-- justia-logo-image -->
            <td class="justia-logo-image" responsive='mobile-padding-bottom'>
              <img src="http://justatic.com/v/20180731/branding/logos/emails/justia-marketing-blue.png" alt="Justia Marketing" border="0">
            </td>
          </tr>
          <tr>
            <!-- w-jld-ad-02-title -->
            <td class="w-jld-ad-02-title" responsive="mobile-no-padding-horizontal-sides mobile-padding-vertical-sides">
              <p>{{{ advertisements.jld.ad2.title }}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <!-- ad-desc ad-desc--first -->
                        <td class="ad-desc ad-desc--first" responsive="mobile-padding-top mobile-no-padding-horizontal-sides mobile-padding-bottom">
                          <p>{{{ advertisements.jld.ad2.description.[0] }}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="ad-desc ad-desc--button" responsive="mobile-padding-top mobile-no-padding-horizontal-sides mobile-padding-uneven-top">
                          {{> ui-real-text-button buttonText='Become A Premium Member Today' responsiveClasses='mobile-align-center mobile-no-float mobile-padding-horizontal-sides mobile-reset-width' buttonLink=advertisements.jld.ad2.link }}
                        </td>
                      </tr>
                      <tr>
                        <!-- ad-desc ad-desc--last -->
                        <td class="ad-desc ad-desc--last" responsive="mobile-no-padding-top mobile-padding-horizontal-sides">
                          <p>{{{ advertisements.jld.ad2.description.[1] }}}</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <!-- turkey-img -->
                  <td class="turkey-img" responsive="mobile-hide">
                    <img src="{{ default.imageDirSrc }}/jld-adname-turkey-02.png" alt="Turkey" border="0">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        {{/if}}
      </table>
    {{> ui-background bgEnd=true }}
  </tr>
</table>
