
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-02 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-02 set-max-width">
  <tr>
    {{> ui-background classes="ad-bg-img" image="jld-adname-image-01-bg.png" bgColor="#00addb" dimensions="width:600px; height:490px;" bgStart=true content=true }}
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="ad-logo" responsive="mobile-padding-horizontal-sides mobile-padding-top mobile-padding-bottom">
            <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{{ advertisements.jld.ad2.logo }}}" alt="Justia Marketing">
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-title" responsive="mobile-padding-horizontal-sides mobile-fz-20">
            <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
              <b>Get A Free</b> Audit Report For Your Site
            </a>
          </td>
        </tr>
        <tr>
          <td class="ad-content" responsive="mobile-padding-horizontal-sides">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="ad-image" responsive="mobile-hide">
                  <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
                    <img src="{{ default.imageDirSrc }}/{{{ advertisements.jld.ad2.image }}}" alt="Laptop Animation">
                  </a>
                </td>
                <td class="ad-text" responsive="collapse-one">
                  <a href="{{{ advertisements.jld.ad2.link }}}" target="_blank">
                    Looking for ways to improve your site? Get a free audit report of your website from Justia that provides you an in-depth review of analytical factors that influence the search engine ranking of your current site.
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="ad-button -red -large" responsive="mobile-padding-bottom mobile-padding-top mobile-padding-horizontal-sides">
            {{> ui-real-text-button responsiveClasses="mobile-align-center mobile-no-float" buttonLink=advertisements.jld.ad2.link buttonText="Get Your Audit Report Today" }} 
          </td>
        </tr>
        <tr>
          <td class="phone-number" responsive="mobile-padding-bottom">
            <a href="tel:8885878421" target="_blank"><b>Or call us at (888) 587-8421</b></a>
          </td>
        </tr>
      </table>
    {{> ui-background bgEnd=true }}
  </tr>
</table>
