<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0">

        <tr>
          <td class="ad-image">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad1.animation }}" alt="{{ advertisements.jld.ad1.alt }}"
                border="0" />
            </a>
          </td>
        </tr>

        <tr>
          <td class="ad-main" responsive="mobile-padding-full">
            <p>
              <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                {{{ advertisements.jld.ad1.description }}}
              </a>
            </p>
          </td>
        </tr>

        <tr>
          <td class="ad-button" responsive="mobile-padding-full">
            {{> ui-real-text-button responsiveClasses="mobile-reset-width mobile-reset-height"
            buttonLink=advertisements.jld.ad1.link buttonText=advertisements.jld.ad1.button }}
          </td>
        </tr>

        <tr>
          <td class="ad-footer" responsive="mobile-padding-full mobile-fz-16">
            {{{ advertisements.jld.ad1.footer }}}
          </td>
        </tr>
      </table>
      </td>
  </tr>
</table>