
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    {{> ui-background classes="ad-bg" responsiveClasses="mobile-reset-bg-image" image="jld-adname-image-01-bg.png" bgColor="#01a5c7" dimensions="width:600px; height:533px;" bgStart=true content=true }}
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- ad-header -->
          <td class="ad-header" responsive="mobile-padding-full">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              <img src="{{ advertisements.jld.ad1.logo }}" alt="Justia Marketing" border="0" />
            </a>
          </td>
        </tr>
        <tr>
          <!-- ad-title -->
          <td class="ad-title" responsive="mobile-padding-full">
            <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
              <strong class="title" responsive="mobile-fz-20">{{{ advertisements.jld.ad1.title }}}</strong>
            </a>
          </td>
        </tr>

        <tr>
          <td class="ad-main" responsive="mobile-padding-full">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <!-- ad-image -->
                <td class="ad-image" responsive="mobile-hide">
                  <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                    <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad1.image }}" alt="{{ advertisements.jld.ad1.alt }}" border="0" />
                  </a>
                </td>
                <!-- ad-desc -->
                <td class="ad-desc" responsive="mobile-align-center">
                  <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                    <strong class="ad-desc-title" responsive="mobile-fz-16">{{{ advertisements.jld.ad1.description.title }}}</strong>
                  </a>
                  <p class="ad-desc-text" responsive="mobile-fz-16">
                    <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
                      {{{ advertisements.jld.ad1.description.text }}}
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>  
          <td class="ad-button -red -xlarge" responsive="mobile-padding-full">
            {{> ui-real-text-button buttonLink=advertisements.jld.ad1.link buttonText=advertisements.jld.ad1.button }}
          </td>
        </tr>

        <tr>  
          <td class="ad-footer" responsive="mobile-padding-full mobile-fz-16">
            {{{ advertisements.jld.ad1.footer }}}
          </td>
        </tr>
      </table>
    {{> ui-background bgEnd=true }}
  </tr>
</table>
