
<!-- JLD ADVERTISEMENT -->

<!-- w-advertisement w-jld-ad-01 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-advertisement w-jld-ad-01 set-max-width">
  <tr>
    <!-- ad-image -->
    <td class="ad-image">
      <a href="{{{ advertisements.jld.ad1.link }}}" target="_blank">
        <img src="{{ default.imageDirSrc }}/{{ advertisements.jld.ad1.image }}" alt="{{ advertisements.jld.ad1.alt }}" border="0" />
      </a>
    </td>
  </tr>

  {{#if advertisements.jld.ad1.description }}
    {{#each advertisements.jld.ad1.description }}
      <tr>
        <!-- ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}} -->
        <td class="ad-desc {{#if @first }}ad-desc--first{{/if}} {{#if @last }}ad-desc--last{{/if}}" responsive="mobile-padding-top mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
      <tr class="link-desc">
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="ad-desc-button" responsive="mobile-padding-top mobile-padding-horizontal-sides">{{> ui-button class="adButton" custom=true buttonLink=../advertisements.jld.ad1.buttonLink rootPath="../src/img" imagePath="button-contact-01.png" imageAlt="CONTACT US NOW" }}</td>
              <td class="ad-desc-phone" responsive="mobile-padding-top mobile-padding-horizontal-sides">
                <p>
                  <strong>Or call us now at <a href="tel:+1-888-587-8421">(888) 587-8421</a></strong>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    {{/each}}
  {{/if}}
</table>
