
<!-- LAW EVENTS -->

<!-- w-law-events ui-columns-grid -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-law-events ui-columns-grid set-max-width">
  <tr>
    <!-- law-events-title align-center -->
    <td class="law-events-title align-center" responsive="mobile-padding-horizontal-sides">
      <!-- widget-main-title -->
      <h2 class="widget-main-title">Law Events</h2>
    </td>
  </tr>

  {{#if lawEvents.featured }}

    {{#isEmpty lawEvents.featured }}
      {{!-- DO NOTHING --}}

    {{else}}
      <tr>
        <!-- law-events-featured -->
        <td class="law-events-featured" responsive="mobile-padding-horizontal-sides">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <!-- event-desc -->
              <td class="event-desc" responsive="mobile-padding-horizontal-sides">
                <!-- date -->
                <p class="date">{{{ lawEvents.featured.dateTime }}}</p>
                <!-- desc -->
                <p class="desc"><strong>{{{ lawEvents.featured.typeLocation }}}</strong><br> {{{ lawEvents.featured.description }}}</p>
              </td>
            </tr>
            <tr>
              <!-- button -->
              <td class="button" responsive="mobile-padding-horizontal-sides">
                {{> ui-button moreWhite=true buttonLink=lawEvents.featured.link }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    {{/isEmpty}}
  {{/if}}

  <!-- OPEN FIRST ROW -->
  <tr>
    {{> ui-columns-grid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event" }}

    {{#forEach lawEvents.events }}

      {{#unless isFirst }}

        {{#ifOdd index }}
          <!-- OPEN UNLESS IS FIRST -->
          <tr>
            {{> ui-columns-grid rowClasses="law-events-list" columStart=true fullWidth="540" cellWidth="270" cellAlignment="left" cellClasses="event" }}
        {{/ifOdd}}
      {{/unless}}

      <!-- CONTENT -->
      <!-- event-{{ index }} -->
      <tr class="event-{{ index }}">
        <!-- inner-text -->
        <td class="inner-text" responsive="mobile-reset-height">
          <!-- date -->
          <p class="date">{{{ this.dateTime }}}</p>
          <!-- desc -->
          <p class="desc"><strong>{{{ this.typeLocation }}}</strong><br> {{{ this.description }}}</p>
        </td>
      </tr>
      <tr>
        <!-- button -->
        <td class="button">{{> ui-button moreWhite=true buttonLink=this.link }}</td>
      </tr>

      {{#ifOdd index }}
        <!-- MIDDLE DIVIDER -->
        {{> ui-columns-grid columnDiv=true cellWidth="270" cellAlignment="right" cellClasses="event event-" }}

        {{#if isLast }}

          {{#ifOdd index }}
            <!-- EMPTY IF LAST AND ODD -->
            <tr>
              <td>&nbsp;</td>
            </tr>
          {{/ifOdd}}
        {{/if}}
      {{/ifOdd}}

      {{#ifEven index }}

        {{#unless isLast }}
            {{> ui-columns-grid columnEnd=true }}
          </tr>
          <!-- CLOSE UNLESS IS LAST -->
        {{/unless}}
      {{/ifEven}}
    {{/forEach}}

    {{> ui-columns-grid columnEnd=true }}
  </tr>
  <!-- CLOSE LAST ROW -->
</table>
