<!-- LAW EVENTS -->

{{#table class='w-law-events ui-columns-grid set-max-width'}}
  <tr>
    <td class="main-title" responsive="mobile-padding-horizontal-sides">
      {{>widget-header title='Law Events'}}
    </td>
  </tr>

  {{#if lawEvents.featured}}
    {{#isEmpty lawEvents.featured}}
      {{!-- DO NOTHING --}}
    {{else}}
      <tr>
        <td class="featured-event" responsive="mobile-padding-horizontal-sides">
          {{#table align='' class='wrapper'}}
            <tr>
              <td class="event-info" responsive="mobile-padding-horizontal-sides">
                <p class="event-date">{{{lawEvents.featured.dateTime}}}</p>
                <p class="event-desc"><strong>{{{lawEvents.featured.typeLocation}}}</strong><br> {{{lawEvents.featured.description}}}</p>
              </td>
            </tr>
            <tr>
              <td class="button" responsive="mobile-padding-horizontal-sides">
                {{#uiButton presetStyle='white' href=lawEvents.featured.button.link}}
                  {{lawEvents.featured.button.text}}
                {{/uiButton}}
              </td>
            </tr>
          {{/table}}
        </td>
      </tr>
    {{/isEmpty}}
  {{/if}}

  <!-- OPEN FIRST ROW -->
  <tr>
    {{>ui-columns-grid rowClasses='law-events-list' columnGridStart=true fullWidth='540' cellWidth='270' cellAlignment='left'}}
    {{#forEach lawEvents.events}}
      {{#unless isFirst}}
        {{#ifOdd index}}
          <!-- OPEN UNLESS IS FIRST -->
          <tr class="{{#if isLast}}last-event-row{{/if}}">
            {{>ui-columns-grid rowClasses='law-events-list' columnGridStart=true fullWidth='540' cellWidth='270' cellAlignment='left'}}
        {{/ifOdd}}
      {{/unless}}

      <!-- CONTENT -->
      <tr class="event-{{index}}">
        <td class="event-info" responsive="mobile-reset-height">
          <p class="event-date">{{{this.dateTime}}}</p>
          <p class="event-desc"><strong>{{{this.typeLocation}}}</strong><br> {{{this.description}}}</p>
        </td>
      </tr>
      <tr>
        <td class="button">
          {{#uiButton presetStyle='white' href=this.button.link}}
            {{this.button.text}}
          {{/uiButton}}
        </td>
      </tr>

      {{#ifOdd index}}
        <!-- MIDDLE DIVIDER -->
        {{>ui-columns-grid columnGridSeparator=true cellWidth='270' cellAlignment='right'}}

        {{#if isLast}}
          {{#ifOdd index}}
            <!-- EMPTY IF LAST AND ODD -->
            <tr>
              <td>&nbsp;</td>
            </tr>
          {{/ifOdd}}
        {{/if}}
      {{/ifOdd}}

      {{#ifEven index}}
        {{#unless isLast}}
            {{>ui-columns-grid columnGridEnd=true}}
          </tr>
          <!-- CLOSE UNLESS IS LAST -->
        {{/unless}}
      {{/ifEven}}
    {{/forEach}}

    {{>ui-columns-grid columnGridEnd=true}}
  </tr>
  <!-- CLOSE LAST ROW -->
{{/table}}
