
<!-- TIP OF THE MONTH -->

<!-- w-tip-month -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-lawyer-directory set-max-width">
  <tr>
    <!-- tip-title -->
    <td class="tip-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">NEW FROM JUSTIA LAWYER DIRECTORY</h4>
      <!-- widget-main-title -->
      <h2 class="widget-main-title">
          {{{ lawyerDirectory.title }}}
      </h2>
    </td>
  </tr>
  <tr>
    <!-- tip-item -->
    <td class="tip-wrap">
      <table>
        <tr>
          <td class="tip-item">
            <table>
              {{#each lawyerDirectory.description }}
                <tr>
                  <!-- tip-desc {{#if @last }}tip-desc--last{{/if}} -->
                  <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
                    <p>{{{ this }}}</p>
                  </td>
                </tr>
              {{/each}}
              <tr>
                <td class="ad-desc--button tip-desc--last" responsive="mobile-padding-top mobile-padding-horizontal-sides">
                  {{> ui-real-text-button buttonLink=lawyerDirectory.link buttonText="Learn More" }}
                </td>
              </tr>
            </table>
          </td>
          <td class="tip-image" responsive="mobile-hide collapse-one">
            {{#if lawyerDirectory.image }}
              {{#if lawyerDirectory.link }}<a href="{{{ lawyerDirectory.link }}}" target="_blank">{{/if}}
                <img src="{{ default.imageDirSrc }}/{{ lawyerDirectory.image }}" alt="{{ lawyerDirectory.title }}" border="0" />
              {{#if lawyerDirectory.link }}</a>{{/if}}
            {{else}}
              &nbsp;
            {{/if}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
