
<!-- NEW FROM JUSTIA LAWYER DIRECTORY -->

<!-- w-new-from-jld -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-new-from-jld set-max-width">
  <tr>
    <!-- nfjld-title -->
    <td class="nfjld-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">NEW FROM JUSTIA LAWYER DIRECTORY</h4>
      {{#if newFromJld.title }}
        <!-- widget-main-title -->
        <h2 class="widget-main-title"><a href="{{ newFromJld.link }}" target="_blank">{{{ newFromJld.title }}}</a></h2>
      {{/if}}
    </td>
  </tr>

  <tr>
    <!-- newjld-wrap -->
    <td class="newjld-wrap">
      <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- newjld-item -->
          <td class="newjld-item">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              {{#each newFromJld.description }}
                <tr>
                  <!-- nfjld-desc -->
                  <td class="nfjld-desc" responsive="mobile-padding-horizontal-sides">
                    <p>{{{ this }}}</p>
                  </td>
                </tr>
              {{/each}}
              <tr>
                <!-- nfjld-desc nfjld-desc--last -->
                <td class="nfjld-desc nfjld-desc--last" responsive="mobile-padding-horizontal-sides">
                  {{> ui-real-text-button buttonLink=newFromJld.button.link buttonText=newFromJld.button.text }}
                </td>
              </tr>
            </table>
          </td>
          <!-- newjld-image -->
          <td class="newjld-image" responsive="mobile-hide">
            {{#if newFromJld.image }}
              {{#if newFromJld.link }}<a href="{{{ newFromJld.link }}}" target="_blank">{{/if}}
                <img src="{{ default.imageDirSrc }}/{{ newFromJld.image }}" alt="{{ newFromJld.title }}" border="0" />
              {{#if newFromJld.link }}</a>{{/if}}
            {{else}}
              &nbsp;
            {{/if}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
