{{!
 * @param {String} widgetClass
 * @param {Object} widgetConfig
}}

{{#and widgetConfig.button (compare widgetConfig.button.link "!==" "")}}
  {{assign "peopleListWidgetButton" true}}
{{else}}
  {{assign "peopleListWidgetButton" false}}
{{/and}}

{{#table class=(concat "w-ranked-list" widgetClass "set-max-width" separator=" ")}}
  <tr>
    <td class="ranking-table" responsive="mobile-no-padding-top mobile-no-padding-horizontal-sides">
      {{#table align=""}}
        <tr>
          <td class="main-title" responsive="mobile-padding-horizontal-sides">
            {{>widget-header section=widgetConfig.section title=widgetConfig.title link=widgetConfig.link}}
          </td>
        </tr>
        <tr>
          <td>
            {{#table align="" class="position-row"}}
              {{#forEach widgetConfig.list}}
                <tr>
                  <td class="photo" responsive="mobile-padding-left">
                    {{#if this.photoLink}}<a href="{{{this.photoLink}}}" target="_blank">{{/if}}
                      {{>img
                        imgSrc=(concat ../widgetConfig.photoImagePrefix "0" index ".png")
                        imgAlt=this.name
                      }}
                    {{#if this.photoLink}}</a>{{/if}}
                  </td>
                  <td class="info" responsive="mobile-padding-horizontal-sides">
                    <p class="name" responsive="mobile-fz-20">
                      {{#if this.nameLink}}<a href="{{{this.nameLink}}}" target="_blank">{{/if}}{{{this.name}}}{{#if this.nameLink}}</a>{{/if}}
                    </p>
                    <p class="location">
                      <b>{{#uppercase}}{{this.location}}{{/uppercase}}</b>
                    </p>
                  </td>
                  {{#if ../widgetConfig.showRanking}}
                    <td class="ranking" responsive="mobile-padding-right">
                      {{>img
                        imgSrc=(concat "https://justatic.com/v/1/emails/images/newsletters/common/number-ranking-0" index (ternary isFirst "-green" "") ".png")
                        imgAlt=(ordinalize index)
                      }}
                    </td>
                  {{/if}}
                </tr>
              {{/forEach}}
            {{/table}}
          </td>
        </tr>
      {{/table}}
    </td>
  </tr>
  <tr>
    <td class="description{{#unless @root.peopleListWidgetButton}} -no-button{{/unless}}" responsive="mobile-padding-horizontal-sides">
      {{#each widgetConfig.description}}
        <p>{{{this}}}</p>
      {{/each}}
    </td>
  </tr>
  {{#if @root.peopleListWidgetButton}}
    <tr>
      <td class="button" responsive="mobile-padding-horizontal-sides">
        {{#uiButton presetStyle=widgetConfig.button.style href=widgetConfig.button.link}}
          {{widgetConfig.button.text}}
        {{/uiButton}}
      </td>
    </tr>
  {{/if}}
{{/table}}
