
<!-- TIP OF THE MONTH -->

<!-- w-tip-month -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
  <tr>
    <!-- tip-title -->
    <td class="tip-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">TIP OF THE MONTH</h4>
      <!-- widget-main-title -->
      <h2 class="widget-main-title">
        {{#if clientsNewsletter }}
          {{#if tipMonth.clients.link }}<a href="{{{ tipMonth.clients.link }}}" target="_blank">{{/if}}
            {{{ tipMonth.clients.title }}}
          {{#if tipMonth.clients.link }}</a>{{/if}}
        {{/if}}
        {{#if jldNewsletter }}
          {{#if tipMonth.jld.link }}<a href="{{{ tipMonth.jld.link }}}" target="_blank">{{/if}}
            {{{ tipMonth.jld.title }}}
          {{#if tipMonth.jld.link }}</a>{{/if}}
        {{/if}}
      </h2>
    </td>
  </tr>

  {{#if clientsNewsletter }}
    {{#each tipMonth.clients.description }}
      <tr>
        <!-- tip-desc -->
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}

    <tr>
      <td class="tip-desc tip-desc--last -white" responsive="mobile-padding-horizontal-sides">
        {{> ui-real-text-button buttonLink=tipMonth.clients.button.link buttonText=tipMonth.clients.button.text }}
      </td>
    </tr>
  {{/if}}

  {{#if jldNewsletter }}
    {{#each tipMonth.jld.description }}
      <tr>
        <!-- tip-desc -->
        <td class="tip-desc" responsive="mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}

    <tr>
      <td class="tip-desc tip-desc--last -white -large" responsive="mobile-padding-horizontal-sides">
        {{> ui-real-text-button buttonLink=tipMonth.jld.button.link buttonText=tipMonth.jld.button.text }}
      </td>
    </tr>
  {{/if}}
</table>
