
<!-- TIP OF THE MONTH -->

<!-- w-tip-month -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-tip-month set-max-width">
  <tr>
    <!-- tip-title -->
    <td class="tip-title" responsive="mobile-padding-horizontal-sides">
      <!-- widget-type-name -->
      <h4 class="widget-type-name">TIP OF THE MONTH</h4>
      <!-- widget-main-title -->
      <h2 class="widget-main-title">
        {{#if clientsNewsletter }}
          {{{ tipMonth.clients.title }}}
        {{/if}}
        {{#if jldNewsletter }}
          {{#if tipMonth.jld.link }}<a href="{{ tipMonth.jld.link }}" target="_blank">{{/if}}
            {{{ tipMonth.jld.title }}}
          {{#if tipMonth.jld.link }}</a>{{/if}}
        {{/if}}
      </h2>
    </td>
  </tr>

  {{#if clientsNewsletter }}
    {{#each tipMonth.clients.description }}
      <tr>
        <!-- tip-desc {{#if @last }}tip-desc--last{{/if}} -->
        <td class="tip-desc {{#if @last }}tip-desc--last{{/if}}" responsive="mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}
  {{/if}}

  {{#if jldNewsletter }}
    {{#each tipMonth.jld.description }}
      <tr>
        <!-- tip-desc {{#if ../tipMonth.jld.button }}{{ else }}tip-desc--last{{/if}} -->
        <td class="tip-desc {{#if ../tipMonth.jld.button }}{{ else }}tip-desc--last{{/if}}" responsive="mobile-padding-horizontal-sides">
          <p>{{{ this }}}</p>
        </td>
      </tr>
    {{/each}}

    {{#if tipMonth.jld.button }}
      <tr>  
        <td class="tip-desc tip-desc--last -white -medium" responsive="mobile-padding-horizontal-sides">
          {{> ui-real-text-button buttonLink=tipMonth.jld.link buttonText=tipMonth.jld.button.text }}
        </td>
      </tr>
    {{/if}}
  {{/if}}
</table>
