{{! ================================================================================================================= }}
{{! W I D G E T   -   A D V E R T I S E M E N T                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}          widgetConfig
 * @param {string}          widgetConfig.link
 * @param {Object}          widgetConfig.utm
 * @param {Object}          widgetConfig.logo
 * @param {string}          widgetConfig.logo.name
 * @param {string}          widgetConfig.logo.color
 * @param {string}          widgetConfig.title
 * @param {number}          widgetConfig.titleResponsiveSize
 * @param {string}          widgetConfig.image
 * @param {string}          widgetConfig.imageAlt
 * @param {Object}          widgetConfig.background
 * @param {string}          widgetConfig.background.image
 * @param {string}          widgetConfig.background.bgColor
 * @param {number}          widgetConfig.background.width
 * @param {number}          widgetConfig.background.height
 * @param {string}          widgetConfig.background.cssSize
 * @param {Object[]}        widgetConfig.contentOrder
 * @param {string}          widgetConfig.contentOrder[].type
 * @param {string[]|Object} widgetConfig.contentOrder[].config
 * @param {string}          widgetClass
}}

{{assign "adLink" (concat widgetConfig.link (utmVariables widgetConfig.utm))}}
{{assign "adClasses" (classList "widget" "w-icon-description" widgetClass "set-max-width")}}

{{! ================================================================================================================= }}

{{#table class=(classList "widget" "w-icon-description" widgetClass "set-max-width")}}

  {{>widget-header
    header=widgetConfig.widget.header
    type=widgetConfig.widget.type
  }}

  {{#if widgetConfig.title}}
    <tr>
      <td class="title" responsive="mobile-padding-horizontal-sides">
        {{#if type}}<h4 class="type">{{type}}</h4>{{/if}}
        <a href="{{{@root.adLink}}}" target="_blank" responsive="mobile-fz-{{default widgetConfig.titleResponsiveSize "24"}}">
          {{{widgetConfig.title}}}
        </a>
      </td>
    </tr>
  {{/if}}

  {{#if widgetConfig.image}}
    <tr>
      <td class="image">
        <a href="{{{@root.adLink}}}" target="_blank">
          {{>img
            src=widgetConfig.image
            alt=(default widgetConfig.title widgetConfig.imageAlt)
          }}
        </a>
      </td>
    </tr>
  {{/if}}

  {{#if widgetConfig.contentOrder}}
    {{#forEach widgetConfig.contentOrder}}
      {{#compare this.type "===" "description"}}
        <tr>
          <td class="content -description -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
            {{#each this.config}}
              <p>{{{this}}}</p>
            {{/each}}
          </td>
        </tr>
      {{/compare}}

      {{#compare this.type "===" "image-column"}}
        <tr>
          <td class="content -image-column -idx-{{index}}{{#if isFirst}} -first{{/if}}{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides mobile-reset-max-width">
            <div class="content-side -image -image-01" responsive="collapse-one mobile-no-float mobile-reset-max-width mobile-reset-width mobile-padding-bottom">
              {{>img
                src=config.image1
                alt=(default ../../widgetConfig.title ../../widgetConfig.imageAlt)
              }}
            </div>
            <div class="content-side -image -image-02" responsive="collapse-one mobile-no-float mobile-reset-max-width mobile-reset-width">
              {{>img
                src=config.image2
                alt=(default ../../widgetConfig.title ../../widgetConfig.imageAlt)
              }}
            </div>
          </td>
        </tr>
      {{/compare}}
    {{/forEach}}
  {{/if}}

  {{#if widgetConfig.columns}}
    <tr>
      <td>
        {{#table}}
          <tr class="grid-row">
            {{#each widgetConfig.columns}}
              <td class="grid-cell block" responsive="collapse-one">
                {{{this}}}
              </td>
            {{/each}}
          </tr>
        {{/table}}
      </td>
    </tr>
  {{/if}}

  {{!-- <tr>
    <td class="content -description -idx-2" responsive="mobile-padding-horizontal-sides">
      <p>Give them a try; they sure will help!</p>
    </td>
  </tr> --}}

  {{#and widgetConfig.background widgetConfig.background.image}}
      </table>
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  </tr>
  {{/and}}
{{/table}}
