
<!-- WELCOME MESSAGE -->

<!-- w-welcome -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w-welcome set-max-width">
  <tr>
    {{>ui-background
      backgroundBehavior='cell'
      backgroundStart=true
      backgroundEnd=true
      backgroundClasses="head-img"

      bgImage="https://i.imgur.com/YJOX1PC.png"
      bgColor="#7bceeb"
      bgWidth='600'
      bgHeight='169'
    }}
  </tr>
  <tr>
    <td class="ui-background -cell head-img" background="https://i.imgur.com/YJOX1PC.png" style="background: url('https://i.imgur.com/YJOX1PC.png');" bgcolor="#7bceeb" width="600" height="169">
      <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:169px;border:0;outline:0;">
          <v:fill type="tile" src="https://i.imgur.com/YJOX1PC.png" color="#7bceeb" />
          <v:textbox inset="0,0,0,0">
      <![endif]-->
      <div>
        &nbsp;
      </div>
      <!--[if gte mso 9]></v:textbox></v:rect><![endif]-->
    </td>
  </tr>
  {{#if clientsNewsletter}}
    <tr>
      <!-- w-welcome--title -->
      <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
        <h1><span>{{{welcome.clients.title.line1}}}</span>&nbsp;<br responsive="mobile-hide">{{{welcome.clients.title.line2}}}</h1>
      </td>
    </tr>
    <tr>
      <!-- w-welcome--message -->
      <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
        <p>{{{welcome.clients.message}}}</p>
      </td>
    </tr>
  {{/if}}
  {{#if jldNewsletter}}
    <tr>
      <!-- w-welcome--title -->
      <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
        <h1><span>{{{welcome.jld.title.line1}}}</span>&nbsp;<br responsive="mobile-hide">{{{welcome.jld.title.line2}}}</h1>
      </td>
    </tr>
    <tr>
      <!-- w-welcome--message -->
      <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
        <p>{{{welcome.jld.message}}}</p>
      </td>
    </tr>
  {{/if}}
</table>
