
<!-- WELCOME MESSAGE -->

<!-- w-welcome -->
{{#table class='w-welcome set-max-width'}}
  <tr>
    {{>ui-background
      backgroundBehavior='cell'
      backgroundStart=true
      backgroundEnd=true

      bgCellClasses="head-img"

      bgImage="https://justatic.com/v/1/emails/images/newsletters/common/welcome-background-01-b.png"
      bgColor="#00b3e3"
      bgWidth='600'
      bgHeight='169'
    }}
  </tr>
  <tr>
    <td style="padding:10px; background-color:blue;">
      {{>ui-background
      backgroundBehavior='table'
      backgroundStart=true
      backgroundEnd=true

      bgImage="https://i.imgur.com/YJOX1PC.png"
      bgColor="#dbdbdb"
      bgWidth='150'
    }}
    </td>
  </tr>
  {{#if clientsNewsletter}}
    <tr>
      <!-- w-welcome--title -->
      <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
        <h1><span>{{{welcome.clients.title.line1}}}</span>&nbsp;<br responsive="mobile-hide">{{{welcome.clients.title.line2}}}</h1>
      </td>
    </tr>
    <tr>
      <!-- w-welcome--message -->
      <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
        <p>{{{welcome.clients.message}}}</p>
      </td>
    </tr>
  {{/if}}
  {{#if jldNewsletter}}
    <tr>
      <!-- w-welcome--title -->
      <td class="w-welcome--title" responsive="mobile-padding-horizontal-sides">
        <h1><span>{{{welcome.jld.title.line1}}}</span>&nbsp;<br responsive="mobile-hide">{{{welcome.jld.title.line2}}}</h1>
      </td>
    </tr>
    <tr>
      <!-- w-welcome--message -->
      <td class="w-welcome--message" responsive="mobile-padding-horizontal-sides">
        <p>{{{welcome.jld.message}}}</p>
      </td>
    </tr>
  {{/if}}
{{/table}}
