{{! ================================================================================================================= }}
{{! W I D G E T   -   A R T I C L E S   I N   C O L U M N S                                                           }}
{{! ================================================================================================================= }}

{{!
// TODO:
// Fix anotations.
}}

{{!
 * @param {Object[]} widgetConfig
 * @param {string} widgetConfig[].title
 * @param {string} widgetConfig[].link
 * @param {string} widgetConfig[].description
 * @param {boolean} [isLast]
}}

{{assign "columnStructure" (toColumnStructure widgetConfig 2)}}

{{! ================================================================================================================= }}

<tr class="widget-columns -articles ui-columns-grid">
  <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
    {{#table}}
      {{#each @root.columnStructure}}
        {{>ui-columns-grid cellClasses="article" rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=25 firstRow=@first}}
          {{#each this}}
            {{#unless @first}}
              {{>ui-columns-grid cellClasses="article" cellSeparator=true cellIsEmpty=(isFalsey this.title) firstRow=@../first}}
            {{/unless}}

            {{#if this.title}}
              <p class="title">
                {{#and this.link (compare this.link "!==" "")}}<a href="{{{this.link}}}" target="_blank">{{/and}}
                  <b>{{{this.title}}}</b>
                {{#and this.link (compare this.link "!==" "")}}</a>{{/and}}
              </p>
              <p class="description">
                {{{this.description}}}
              </p>
            {{else}}
              &nbsp;
            {{/if}}
          {{/each}}
        {{>ui-columns-grid rowEnd=true}}
      {{/each}}
    {{/table}}
  </td>
</tr>
