{{! ================================================================================================================= }}
{{! W I D G E T   -   H E A D E R                                                                                     }}
{{! ================================================================================================================= }}

{{!
 * @param {string} header - Main header text of the widget.
 * @param {string} icon - Name of the icon.
 * @param {string} [type] - Defines the type of the content.
 * @param {string} [link] - Optional link for the header text.
 * @param {string} [widgetClass] - Optional extra CSS classes.
}}

{{assign "widgetHeaderIcon" (concat "https://justatic.com/v/20190708/emails/images/newsletters/common/v2/icons/" icon ".png")}}

{{! ================================================================================================================= }}

<tr>
  <td class="{{classList "widget-header"}}" responsive="mobile-padding-horizontal-sides">
    {{#table class="wrapper"}}
      <tr>
        {{!-- <td class="header-icon-column">
          {{>img src=@root.widgetHeaderIcon alt="Icon"}}
        </td> --}}
        <td class="header-text-column">
          {{#if type}}<h4 class="type">{{type}}</h4>{{/if}}
          <h2 class="header" responsive="mobile-fz-24">
            {{#if link}}<a href="{{{link}}}" target="_blank">{{/if}}{{{header}}}{{#if link}}</a>{{/if}}
          </h2>
        </td>
      </tr>
    {{/table}}
  </td>
</tr>
