{{! ================================================================================================================= }}
{{! W I D G E T   -   A R T I C L E S   I N   C O L U M N S                                                           }}
{{! ================================================================================================================= }}

{{!
// TODO:
// Fix anotations.
}}

{{!
 * @param {Object[]} widgetConfig
 * @param {string} widgetConfig[].title
 * @param {string} widgetConfig[].link
 * @param {string} widgetConfig[].description
 * @param {boolean} [isLast]
}}

{{assign "columnStructure" (toColumnStructure widgetConfig 2)}}

{{! ================================================================================================================= }}

<tr class="widget-columns -articles ui-columns-grid">
  <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
    {{#table}}
      {{#each @root.columnStructure}}
        <tr>
          {{>ui-columns-grid rowClasses=(ternary @first "first-row" "") columnGridStart=true fullWidth=540 totalColumns=2 columnsGap=40}}
            {{#each this}}
              <tr>
                {{#if this.title}}
                  <td class="article" responsive="{{#and @first @../first}}mobile-no-padding{{else}}mobile-padding-30-top{{/and}}">
                    <p class="title">
                      {{#and this.link (compare this.link "!==" "")}}<a href="{{{this.link}}}" target="_blank">{{/and}}
                        <b>{{{this.title}}}</b>
                      {{#and this.link (compare this.link "!==" "")}}</a>{{/and}}
                    </p>
                    <p class="description">
                      {{{this.description}}}
                    </p>
                  </td>
                {{else}}
                  <td responsive="mobile-hide">&nbsp;</td>
                {{/if}}
              </tr>

              {{#unless @last}}
                {{>ui-columns-grid columnGridSeparator=true cellAlignment="right"}}
              {{/unless}}
            {{/each}}
          {{>ui-columns-grid columnGridEnd=true}}
        </tr>
      {{/each}}
    {{/table}}
  </td>
</tr>

{{!
// TODO:
// Use as an example in the documentation.
}}

{{!-- <tr class="ui-columns-grid">
  {{>ui-columns-grid columnGridStart=true fullWidth=600 totalColumns=3 columnsGap=30}}
    <tr>
      <td>Cell 1</td>
    </tr>
  {{>ui-columns-grid columnGridSeparator=true cellAlignment="center"}}
    <tr>
      <td>Cell 2</td>
    </tr>
  {{>ui-columns-grid columnGridSeparator=true cellAlignment="right"}}
    <tr>
      <td>Cell 3</td>
    </tr>
  {{>ui-columns-grid columnGridEnd=true}}
</tr> --}}
