{{! ================================================================================================================= }}
{{! W I D G E T   -   C O L U M N S   W I T H   I M A G E                                                             }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{assign "columnStructure" (chunks widgetConfig 2 true)}}

{{! ================================================================================================================= }}

<tr class="widget-columns -with-image ui-columns-grid">
  <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
    {{#table}}
      {{#each @root.columnStructure}}
        {{>ui-columns-grid cellClasses="block" rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=25 firstRow=@first}}
          {{#each this}}
            {{#unless @first}}
              {{>ui-columns-grid cellClasses="block" cellSeparator=true cellIsEmpty=(isFalsey this.image) firstRow=@../first}}
            {{/unless}}

            {{#if this.image}}
              {{#if readMore}}<a href="{{{readMore}}}" target="_blank" class="block-image-link">{{/if}}
                {{>img src=this.image.src alt=this.image.src class="block-image"}}
              {{#if readMore}}</a>{{/if}}

              {{#if this.blockTitle}}
                <h3 class="block-title">
                  {{#if readMore}}<a href="{{{readMore}}}" target="_blank" class="block-image-link">{{/if}}
                    {{{this.blockTitle}}}
                  {{#if readMore}}</a>{{/if}}
                </h3>
              {{/if}}

              {{#if this.blockSubtitle}}
                <p class="block-subtitle">{{{this.blockSubtitle}}}</p>
              {{/if}}

              {{#each this.description}}
                <p class="block-description">
                  {{{this}}}
                </p>
                {{#and @last (and ../readMore (compare ../readMore "!==" ""))}}
                  <p><a href="{{{../readMore}}}" target="_blank"><b>Read More</b></a></p>
                {{/and}}
              {{/each}}
            {{else}}
              &nbsp;
            {{/if}}
          {{/each}}
        {{>ui-columns-grid rowEnd=true}}
      {{/each}}
    {{/table}}
  </td>
</tr>
