{{! ================================================================================================================= }}
{{! W I D G E T   -   A D V E R T I S E M E N T                                                                       }}
{{! ================================================================================================================= }}

{{!
// TODO: Fix anotations.
}}

{{!
 * @param {Object}          widgetConfig
 * @param {string}          widgetConfig.link
 * @param {Object}          widgetConfig.utm
 * @param {Object}          widgetConfig.logo
 * @param {string}          widgetConfig.logo.name
 * @param {string}          widgetConfig.logo.color
 * @param {string}          widgetConfig.title
 * @param {number}          widgetConfig.titleResponsiveSize
 * @param {string}          widgetConfig.image
 * @param {string}          widgetConfig.imageAlt
 * @param {Object}          widgetConfig.background
 * @param {string}          widgetConfig.background.image
 * @param {string}          widgetConfig.background.bgColor
 * @param {number}          widgetConfig.background.width
 * @param {number}          widgetConfig.background.height
 * @param {string}          widgetConfig.background.cssSize
 * @param {Object[]}        widgetConfig.contentOrder
 * @param {string}          widgetConfig.contentOrder[].type
 * @param {string[]|Object} widgetConfig.contentOrder[].config
 * @param {string}          widgetClass
}}

{{assign "adLink" (concat widgetConfig.link (utmVariables widgetConfig.utm))}}
{{assign "adClasses" (classList "widget" "w-advertisement" widgetClass "set-max-width")}}

{{! ================================================================================================================= }}

{{#table class=(classList "widget" "w-advertisement" widgetClass "set-max-width")}}

  {{#and widgetConfig.background widgetConfig.background.image}}
    <tr>
      {{>ui-background backgroundBehavior="cell" backgroundStart=true
        bgImage=widgetConfig.background.image
        bgColor=widgetConfig.background.bgColor
        bgWidth=widgetConfig.background.width
        bgHeight=widgetConfig.background.height
        bgSize=widgetConfig.background.cssSize
      }}
        <table {{{tableAttr}}}>
  {{/and}}

  <tr>
    <td class="header-disclaimer" responsive="mobile-padding-horizontal-sides" valign="middle">
      <p>If you are unable to see this message, <a href="#" target="_blank"><span>click here</span></a> to view it in a web browser</p>
    </td>
  </tr>

  {{#if widgetConfig.image}}
    <tr>
      <td class="image" responsive="mobile-padding-horizontal-sides">
        <a href="{{{@root.adLink}}}" target="_blank">
          {{>img
            src=widgetConfig.image
            alt=(default widgetConfig.title widgetConfig.imageAlt)
            responsive="collapse-one"
          }}
        </a>
      </td>
    </tr>
  {{/if}}

  <tr>
    <td class="title" responsive="mobile-padding-horizontal-sides">
      The Oral Argument Amicus
    </td>
  </tr>

  <tr>
    <td class="content -description -idx-1 -first" responsive="mobile-padding-horizontal-sides">
      <p>Oral Argument 2.0 serves as an Oral Argument Amicus: top legal academics, with the benefit of hindsight, provide alternate answers to a handful of questions that the justices posed during recent arguments. Oral Argument 2.0 in no way means to undermine the work of Supreme Court advocates; it aims, instead, to supplement and fortify answers to the most important and challenging queries and to offer additional perspectives. Indeed, our best responses sometimes come to mind after the opportunity to offer a rejoinder has passed—l'esprit d'escalier.</p>
    </td>
  </tr>
  <tr>
    <td class="content -description -idx-2" responsive="mobile-padding-horizontal-sides">
      <hr>
      <h1>This is an h1</h1>
      <h2>This is an h2</h2>
      <p>Lorem ipsum dolor sit amet <b>bolded words</b> adipiscing, elit molestie fermentum eget ut, <a href="#" target="_blank"><b>this is a link</b></a> phasellus tellus purus.</p>
      <ul>
        <li>Curabitur quisque enim nulla porta sed nam penatibus donec vitae aptent fames.</li>
        <li>Vulputate in torquent a tempor urna potenti.</li>
        <li>Molestie ultricies viverra justo ante nunc donec parturient cras orci eleifend praesent.</li>
      </ul>
      <ol>
        <li><span>Curabitur quisque enim nulla porta sed nam penatibus donec vitae aptent fames.</span></li>
        <li><span>Vulputate in torquent a tempor urna potenti.</span></li>
        <li><span>Molestie ultricies viverra justo ante nunc donec parturient cras orci eleifend praesent.</span></li>
      </ol>
      <p>Sociis gravida iaculis ac platea feugiat inceptos tristique diam et, nisl euismod habitasse lacus <a href="#" target="_blank"><b>felis ultrices vestibulum</b></a> suspendisse, varius pharetra cum eget erat imperdiet placerat arcu. Aptent sapien arcu sodales <b>donec libero lacinia</b> sem ad, pharetra integer in tristique suspendisse nostra suscipit, rhoncus magnis cubilia mi ac parturient.</p>
      <p>Senectus dis inceptos blandit donec sed curabitur feugiat mattis, velit nulla pulvinar pharetra morbi litora magnis, <a href="#" target="_blank"><b>platea augue ac</b></a> vivamus est volutpat venenatis. Pulvinar vel venenatis cubilia porttitor mollis sed scelerisque morbi convallis, egestas rhoncus posuere consequat ornare ac diam ullamcorper, id magnis aptent vulputate sem vestibulum tortor.</p>
    </td>
  </tr>
  <tr>
    <td class="content -description -idx-3" responsive="mobile-padding-horizontal-sides">
      <hr>
  </tr>
  <tr>
    <td class="content -images -idx-4" responsive="mobile-padding-horizontal-sides">
      <table {{{tableAttr}}}>
          <tr>
            <td class="-badges" responsive="collapse-one mobile-reset-width">
              <a href="https://www.law.cornell.edu/" target="_blank" style="width: 250px; height: 27px">
                <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/newsletters/2021/03/lii.png" alt="Legal Information Institute">
              </a>
            </td>
            <td class="-badges" responsive="collapse-one mobile-reset-width">
              <a href="http://www.lawschool.cornell.edu/" target="_blank" style="width: 200px; height: 42px">
                <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/newsletters/2021/03/cornell.png" alt="Cornell Law School">
              </a>
            </td>
          </tr>
          <tr>
            <td class="-badges" responsive="collapse-one mobile-reset-width">
              <a href="https://www.justia.com/" target="_blank" style="width: 110px; height: 33px">
                <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/newsletters/2021/03/justia.png" alt="Justia">
              </a>
            </td>
            <td class="-badges" responsive="collapse-one mobile-reset-width">
              <a href="https://www.oyez.org/" target="_blank" style="width: 77px; height: 33px">
                <img tabindex="0" border="0" src="https://justatic.com/v/1/emails/images/newsletters/2021/03/oyez.png" alt="Oyez">
              </a>
            </td>
          </tr>
        </table>
    </td>
  </tr>

  <tr>
    <td class="-footer">
        <table {{{tableAttr}}}>
          <tr>
            <td class="inner-wrapper" responsive="mobile-no-padding-horizontal-sides mobile-no-padding-bottom mobile-no-border">
              <table {{{tableAttr}}}>
                <tr>
                  <td class="social-icon -icon-1">
                    <a href="http://www.twitter.com/oyez" target="_blank">
                      <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png">
                    </a>
                  </td>
                  <td class="social-icon -icon-2">
                    <a href="http://www.facebook.com/oyezproject" target="_blank">
                      <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png">
                    </a>
                  </td>
                  <td class="social-icon -icon-3">
                    <a href="http://oyez.org" target="_blank">
                      <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="-footer-content -first" responsive="mobile-padding-horizontal-sides mobile-padding-30-bottom">
              <p responsive="mobile-align-center">Copyright © 2018 Oyez, <em>All rights reserved.</em></p>
              <p responsive="mobile-align-center">You are receiving this email because you subscribed on our website.</p><br>
              <p responsive="mobile-align-center"><b>Our mailing address is:</b><br>1380 Pear Ave #2B<br>Mountain View, CA 94043</p><br>
              <p responsive="mobile-align-center">Want to change how you receive these emails?</p>
              <p responsive="mobile-align-center">You can <a href="#" target="_blank"><u>update your preferences</u></a> or <a href="#" target="_blank"><u>unsubscribe from this list.</u></a></p>
            </td>
          </tr>
          <tr>
            <td class="-footer-content -last" responsive="mobile-padding-horizontal-sides mobile-padding-30-bottom">
              <a href="#" target="_blank">
                <img src="../dist/images/mailchimp.png">
              </a>
            </td>
          </tr>
        {{!-- </tbody> --}}
      </table>
    </td>
</tr>

  {{#and widgetConfig.background widgetConfig.background.image}}
      </table>
    {{>ui-background backgroundBehavior="cell" backgroundEnd=true}}
  </tr>
  {{/and}}
{{/table}}
