{{! ================================================================================================================= }}
{{! W I D G E T   -   C O L U M N S   W I T H   I M A G E                                                             }}
{{! ================================================================================================================= }}

{{!
// TODO: Add anotations.
}}

{{assign "columnStructure" (chunks widgetConfig 2 true)}}

{{! ================================================================================================================= }}

<tr class="widget-columns -with-image ui-columns-grid">
  <td class="wrapper{{#if isLast}} -last{{/if}}" responsive="mobile-padding-horizontal-sides">
    <div class="widget-wrapper">
      {{#table}}
      {{#each @root.columnStructure}}
        {{>ui-columns-grid cellClasses="block" rowStart=true fullWidth=540 totalCells=2 cellsGap=40 rowsGap=25 firstRow=@first}}
          {{#each this}}
            {{#unless @first}}
              {{>ui-columns-grid cellClasses="block" cellSeparator=true cellIsEmpty=(isFalsey this.image) firstRow=@../first}}
            {{/unless}}

            {{#if this.image}}
              <a href="{{#if readMore}}{{{readMore}}}{{else}}#{{/if}}" target="_blank" class="block-image-link">
                {{>img src=this.image.src alt=this.image.alt class="block-image"}}
              </a>

              {{#if this.blockTitle}}
                <h3 class="block-title">{{{this.blockTitle}}}</h3>
              {{/if}}

              {{#if this.blockSubtitle}}
                <p class="block-subtitle">{{{this.blockSubtitle}}}</p>
              {{/if}}

              {{#each this.description}}
                <p class="block-description">
                  {{{this}}}
                  {{#and @last (and ../readMore (compare ../readMore "!==" ""))}}
                    <b><a href="{{{../readMore}}}" target="_blank">Read More ›</a></b>
                  {{/and}}
                </p>
              {{/each}}
            {{else}}
              &nbsp;
            {{/if}}
          {{/each}}
        {{>ui-columns-grid rowEnd=true}}
      {{/each}}
    {{/table}}
    </div>
  </td>
</tr>
