{{#eq backgroundBehavior 'cell'}}
  {{#if backgroundStart}}
    <!-- ui-background -cell {{backgroundClasses}} -->
    <td
      class="ui-background -cell {{backgroundClasses}}"
      responsive="{{backgroundResponsiveClasses}}"
      background="{{resolveFilePath bgImage}}"
      style="background:url('{{resolveFilePath bgImage}}');"
      {{#if bgColor}}bgcolor="{{bgColor}}"{{/if}}
      width="{{toInt bgWidth}}"
      {{#if bgHeight}}height="{{toInt bgHeight}}"{{/if}}
    >
      {{>v-rect hackStart=true hackWidth=bgWidth hackHeight=bgHeight hackImage=bgImage hackColor=bgColor}}
      <div>
      {{#and backgroundStart backgroundEnd}}&nbsp;{{/and}}
  {{/if}}
  {{#if backgroundEnd}}
      </div>
      {{>v-rect hackEnd=true}}
    </td>
  {{/if}}
{{/eq}}
