{{!
 * @param {String}  backgroundBehavior
 * @param {Boolean} backgroundStart
 * @param {Boolean} backgroundEnd
 * @param {String}  bgTableClasses
 * @param {String}  bgTableResponsiveClasses
 * @param {String}  bgCellClasses
 * @param {String}  bgCellResponsiveClasses
 * @param {String}  bgImage
 * @param {String}  bgColor
 * @param {String}  bgWidth
 * @param {String}  bgHeight
 * @param {String}  bgSize
}}

{{assign "bgWidthVal" (ternary (eq (getUnit bgWidth) "%") bgWidth (toInt bgWidth))}}
{{assign "bgHeightVal" (ternary (eq (getUnit bgHeight) "%") null (toInt bgHeight))}}

{{#eq backgroundBehavior "cell"}}
  {{#if backgroundStart}}
    <td class="ui-background -cell {{bgCellClasses}}" responsive="{{bgCellResponsiveClasses}}" background="{{resolveFilePath bgImage}}" style="background:url('{{resolveFilePath bgImage}}');background-repeat:no-repeat{{#if bgSize}};background-size:{{bgSize}}{{/if}}" {{#if bgColor}}bgcolor="{{bgColor}}"{{/if}} width="{{@root.bgWidthVal}}" {{#if @root.bgHeightVal}}height="{{@root.bgHeightVal}}"{{/if}}>
      {{>v-rect hackStart=true hackWidth=@root.bgWidthVal hackHeight=@root.bgHeightVal hackImage=bgImage hackColor=bgColor}}
      <div>
        {{#and backgroundStart backgroundEnd}}&nbsp;{{/and}}
  {{/if}}
  {{#if backgroundEnd}}
      </div>
      {{>v-rect hackEnd=true}}
    </td>
  {{/if}}
{{/eq}}

{{#eq backgroundBehavior "table"}}
  {{#if backgroundStart}}
    <table {{{tableAttr class=(classList "ui-background" "-table" bgTableClasses) responsive=bgTableResponsiveClasses width=@root.bgWidthVal height=@root.bgHeightVal}}}>
      <tr>
        <td class="bg-wrapper {{bgCellClasses}}" responsive="{{bgCellResponsiveClasses}}" background="{{resolveFilePath bgImage}}" style="background:url('{{resolveFilePath bgImage}}');background-repeat:no-repeat;background-size:100%" {{#if bgColor}}bgcolor="{{bgColor}}"{{/if}}>
          {{>v-rect hackStart=true hackWidth=@root.bgWidthVal hackHeight=@root.bgHeightVal hackImage=bgImage hackColor=bgColor}}
          <div>
            {{#and backgroundStart backgroundEnd}}&nbsp;{{/and}}
  {{/if}}
  {{#if backgroundEnd}}
          </div>
          {{>v-rect hackEnd=true}}
        </td>
      </tr>
    </table>
  {{/if}}
{{/eq}}
