{{!
 * @param {Boolean} columnGridStart
 * @param {Boolean} columnGridEnd
 * @param {Boolean} columnGridSeparator
 * @param {String}  rowClasses
 * @param {String}  columnClasses
 * @param {String}  cellClasses
 * @param {String}  cellAlignment
 * @param {String}  fullWidth
 * @param {String}  cellWidth
}}

{{assign 'rowAllClasses' (concat 'grid-row' rowClasses separator=' ')}}
{{assign 'columnAllClasses' (concat 'grid-column' columnClasses separator=' ')}}
{{assign 'cellAllClasses' (concat 'grid-cell' cellClasses separator=' ')}}
{{assign 'cellAllAttributes' (tableAttr align=cellAlignment class=@root.cellAllClasses responsive='mobile-align-center mobile-no-float')}}

{{#if columnGridStart}}
  <td class="{{@root.rowAllClasses}}" responsive="mobile-padding-horizontal-sides">
    <!--[if (gte mso 9)|(IE)]><table {{{tableAttr width=fullWidth}}}><tr><td align="center" valign="top" width="{{cellWidth}}"><![endif]-->
    <div class="{{@root.columnAllClasses}}">
      <table {{{@root.cellAllAttributes}}}>
{{/if}}
{{#if columnGridSeparator}}
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]></td><td align="center" valign="top" width="{{cellWidth}}"><![endif]-->
    <div class="{{@root.columnAllClasses}}">
      <table {{{@root.cellAllAttributes}}}>
{{/if}}
{{#if columnGridEnd}}
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  </td>
{{/if}}
