{{!
 * @param {Boolean} columnGridStart
 * @param {Boolean} columnGridEnd
 * @param {Boolean} columnGridSeparator
 * @param {number} fullWidth
 * @param {number} totalColumns
 * @param {number} columnsGap
 * @param {number} rowsGap

 * @param {string} cellAlignment
 * @param {string} rowClasses
 * @param {string} columnClasses
 * @param {string} cellClasses
}}

{{!
// TODO:
// Update documentation.
// It's getting too complicated to understand, maybe move this to JS as a custom function that do all the math.
}}

{{assign "fullWidth" (default fullWidth @root.fullWidth)}}
{{assign "totalColumns" (default totalColumns @root.totalColumns)}}
{{assign "cellWidth" (divide @root.fullWidth @root.totalColumns)}}
{{assign "columnsGap" (default columnsGap @root.columnsGap)}}
{{assign "rowsGap" (default rowsGap @root.rowsGap)}}

{{assign "cellCounter" (ternary @root.cellCounter (add @root.cellCounter 1) 1)}}

{{!
// Formula for cellWidthMinusGap;
// ($parent - ($gap * ($columns - 1))) / $columns
}}
{{assign
  "cellWidthMinusGap"
  (floor (divide (minus @root.fullWidth (multiply @root.columnsGap (minus @root.totalColumns 1))) @root.totalColumns))
}}

{{assign "rowAllClasses" (classList "grid-row" rowClasses)}}
{{assign "cellAllClasses" (classList "grid-cell" cellClasses)}}

{{assign "cellPadding" (concat "padding:" (toPx @root.rowsGap) (toPx @root.columnsGap) "0" "0" separator=" ")}}
{{assign "lastCellPadding" (concat "padding:" (toPx @root.rowsGap) "0" "0" separator=" ")}}

{{#if firstRow}}
  {{assign "cellPadding" (concat "padding:" "0" (toPx @root.columnsGap) "0" "0" separator=" ")}}
  {{assign "lastCellPadding" "padding:0"}}
{{/if}}

{{#if (and firstRow (compare @root.cellCounter "==" 1))}}
  {{assign "cellResponsiveClasses" "collapse-one mobile-no-padding"}}
{{else}}
  {{assign "cellResponsiveClasses" "collapse-one mobile-no-padding-horizontal-sides mobile-padding-30-top"}}
{{/if}}

{{#if cellIsEmpty}}
  {{assign "cellResponsiveClasses" "mobile-hide"}}
{{/if}}

{{assign
  "cellAllAttributes"
  (htmlAttr
    align=(default cellAlignment "left")
    width=@root.cellWidthMinusGap
    class=@root.cellAllClasses
    style=(ternary (compare @root.totalColumns "==" @root.cellCounter) @root.lastCellPadding @root.cellPadding)
    responsive=@root.cellResponsiveClasses
    dataCounter=@root.cellCounter
  )
}}

{{#if columnGridStart}}
  <tr class="{{@root.rowAllClasses}}">
    <td {{{@root.cellAllAttributes}}} valign="top">
{{/if}}

{{#if columnGridSeparator}}
    </td>
    <td {{{@root.cellAllAttributes}}} valign="top">
{{/if}}

{{#if columnGridEnd}}
    </td>
  </tr>

  {{!-- Reset variables --}}
  {{assign "cellWidth" undefined}}
  {{assign "fullWidth" undefined}}
  {{assign "cellCounter" undefined}}
{{/if}}
