---
layout: default.hbs
subject: BLAST
---


<tr class="auditreport">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="block-1 title">
                    <p><strong>SEO & Technical Site Analysis Report</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-2 site-screenshot">
                    <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/auditreport-screenshot-01.png" tabindex="0" border="0" class="image"></a>
                </td>
            </tr>
            <tr>
                <td class="block-3 site-link">
                    <a href="#" target="_blank">www.smpalaw.com</a>
                </td>
            </tr>
            <tr>
                <td class="block-4 download-button">
                    <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/auditreport-button-01.png" tabindex="0" border="0" class="image button"></a>
                </td>
            </tr>
            <tr>
                <td class="block-5 title">
                    <p><strong>Technical Analysis</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-6 subtitle red">
                    <p><strong>
                        The following 6 items need your immediate attention
                    </strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-7 list-wrapper">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td>
                                <div class="items-list">
                                    <div><img src="{{default.image_dir_src}}/amp.png" alt="[placeholder]"><span>AMP</span></div>
                                    <div><img src="{{default.image_dir_src}}/https.png" alt="[placeholder]"><span>Security (HTTPS Protocol)</span></div>
                                    <div><img src="{{default.image_dir_src}}/mobile-friendly.png" alt="[placeholder]"><span>Mobile-Friendly</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="items-list">
                                    <div><img src="{{default.image_dir_src}}/responsive.png" alt="[placeholder]"><span>Responsive Design</span></div>
                                    <div><img src="{{default.image_dir_src}}/missing-meta-descriptions.png" alt="[placeholder]"><span>Missing Meta Descriptions (&#60;meta&#62;)</span></div>
                                    <div><img src="{{default.image_dir_src}}/missing-alt-tags.png" alt="[placeholder]"><span>Image Alt Tags</span></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-8 subtitle yellow">
                    <p><strong>
                        The following item should be examined:
                    </strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-9 list-wrapper">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td>
                                <div class="items-list">
                                    <div><img src="{{default.image_dir_src}}/mobile-pagespeed.png" alt="[placeholder]"><span>Mobile Page Speed</span></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-10 subtitle green">
                    <p><strong>You passed 9 items of the analysis.</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-11 list-wrapper">
                    <table border="0" cellpadding="0" cellspacing="0" align="left">
                        <tr>
                            <td>
                                <div class="items-list">
                                    <div><img src="{{default.image_dir_src}}/desktop-pagespeed.png" alt="[placeholder]"><span>Desktop Page Speed</span></div>
                                    <div><img src="{{default.image_dir_src}}/structured-data.png" alt="[placeholder]"><span>Structured Data</span></div>
                                    <div><img src="{{default.image_dir_src}}/missing-title-tags.png" alt="[placeholder]"><span>Missing Title Tags (&#60;title&#62;)</span></div>
                                    <div><img src="{{default.image_dir_src}}/duplicate-title-tags.png" alt="[placeholder]"><span>Duplicate Title Tags (&#60;title&#62;)</span></div>
                                    <div><img src="{{default.image_dir_src}}/duplicate-meta-descriptions.png" alt="[placeholder]"><span>Duplicate Meta Descriptions (&#60;meta&#62;)</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="items-list">
                                    <div><img src="{{default.image_dir_src}}/missing-header-tags.png" alt="[placeholder]"><span>Missing Header Tags (&#60;h1&#62;)</span></div>
                                    <div><img src="{{default.image_dir_src}}/broken-links.png" alt="[placeholder]"><span>Broken Internal Links</span></div>
                                    <div><img src="{{default.image_dir_src}}/server-errors.png" alt="[placeholder]"><span>Internal Server Errors</span></div>
                                    <div><img src="{{default.image_dir_src}}/crawlability.png" alt="[placeholder]"><span>Crawlability</span></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-12 title">
                    <p><strong>Also Included In Report</strong></p>
                </td>
            </tr>
            <tr>
                <td class="block-13 list-wrapper">
                    <div class="items-list">
                        <div><img src="{{default.image_dir_src}}/referring-domains.png" alt="[placeholder]"><span>Referring Domains</span></div>
                        <div><img src="{{default.image_dir_src}}/top-anchor.png" alt="[placeholder]"><span>Top Anchor Text</span></div>
                        <div><img src="{{default.image_dir_src}}/website-precense-jld.png" alt="[placeholder]"><span>Website Presence on the Justia Lawyer Directory</span></div>
                        <div><img src="{{default.image_dir_src}}/more.png" alt="[placeholder]"><span>And more</span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="block-14 download-button">
                    <a href="#" target="_blank"><img alt="[placeholder]" src="{{default.image_dir_src}}/auditreport-button-02.png" tabindex="0" border="0" class="image button"></a>
                </td>
            </tr>
            <tr>
                <td class="block-15 contactus">
                    <p class="tagline">Justia Marketing Services Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
