---
layout: default.hbs
subject: Closed Won
---


<tr class="closedwon claimed-gold">
    <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" class="align-center" bgcolor="#3799f0" valign="top" style="padding: 30px 56px 30px 50px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-button-01.png" tabindex="0" width="494" height="240" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:42px 30px 6px;">
                <p class="subtitle no-margin"><strong>1. PROFILE PHOTO</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-01.png" tabindex="0" width="545" height="264" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Put your best photo up. Add a high-resolution photo of 640x640 pixels to appear your sharpest. Presenting a professional photo builds trust and confidence in the credentials displayed in the profile. A vibrant photograph makes your profile stand out.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 175px 0 176px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-button-02.png" tabindex="0" width="249" height="43" border="0" class="btn">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>2. CUSTOM TAGLINE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-02.png" tabindex="0" width="545" height="264" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">As part of your Gold premium placements you can also add a <strong>custom tagline</strong> of up to 80 characters (with spaces) for each Gold placement purchased, highlighting experience or giving a call to action for each of the placements.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 176px 0 175px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-gold-button-03.png" tabindex="0" width="249" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>3. CUSTOM "VIEW WEBSITE" LINK</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-03.png" tabindex="0" width="545" height="265" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 14px;">
                <p class="desc">Additionally, your Gold premium placement also includes the ability to <strong>include a link to a custom URL</strong>. The "view website" button on your premium placement advertisement will link to the website address in your profile.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">However, if you'd like to customize it to link to a particular URL, such as a practice area page on your site, please send us a link for each Gold placement purchased and we’ll customize the "view website" button as instructed.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 155px 0 156px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-gold-button-04.png" tabindex="0" width="289" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 6px;">
                <p class="subtitle no-margin"><strong>YOUR CURRENT PREMIUM PLACEMENTS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">1. PA + Metro</p>
                <p class="desc">2. PA + Metro</p>
                <p class="desc">3. PA + Metro</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:63px 30px 6px;">
                <p class="subtitle no-margin"><strong>COMPLETE YOUR PROFILE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 17px;">
                <p class="desc">Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles. We suggest adding a short biography, updating contact information, participate in <a target="_blank" href="#"><strong>Ask a Lawyer</strong></a>, and adding your social media profiles, etc.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 24px;">
                <p class="desc">Thank You!</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 40px;">
                <p class="desc">Justia & LII Lawyer Directory Team</p>
                <p class="desc"><a target="_blank" href="#"><strong>(650) 810-1990</strong></a> Office</p>
                <p class="desc"><a target="_blank" href="#"><strong>directory@justia.com</strong></a></p>
            </td>
        </tr>
    </table>
</tr>
