---
layout: default.hbs
subject: Closed Won
---


<tr class="closedwon claimed-bronze">
    <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" class="align-center" bgcolor="#3799f0" valign="top" style="padding: 30px 56px 0 50px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-main-image-01.png" tabindex="0" width="494" height="170" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#3799f0" valign="top" style="padding: 27px 56px 30px 50px;">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td>
                      <table border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                          <td align="center" style="border-radius: 50px;">
                            <a href="#" target="_blank" bgcolor="#b31b1b" style="font-size: 15px; color: #ffffff; text-decoration: none; border-radius: 50px; padding: 13px 23px; display: inline-block; text-transform:uppercase; font-weight:bold; background-color: #b31b1b; box-shadow: inset 0 -2px 0 0 #530b0b; border: 0;">{Name}, view your lawyer profile</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-center" bgcolor="#ffffff" style="padding:43px 30px 15px;">
                <p class="title no-margin"><strong>YOUR PROFILE IS IMPORTANT TO YOUR SUCCESS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:20px 30px 15px;">
                <p class="subtitle no-margin"><strong>1. PROFILE PHOTO</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-01.png" tabindex="0" width="545" height="504" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Put your best photo up. Add a high-resolution photo of 640x640 pixels to appear your sharpest. Presenting a professional photo builds trust and confidence in the credentials displayed in the profile. A vibrant photograph makes your profile stand out.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 175px 0 176px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-button-01.png" tabindex="0" width="249" height="43" border="0" class="btn">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>2. BIOGRAPHY</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-02.png" tabindex="0" width="545" height="504" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Include a short biography to introduce yourself to potential clients. A well-written biography highlights your practice and shows off your passion for the law.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 175px 0 176px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-button-02.png" tabindex="0" width="249" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>3. SOCIAL MEDIA</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 97px 15px 92px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-social-media-01.png" tabindex="0" width="410" height="59" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Connect your profile to your website, blog, and social media accounts. Professional connections are an important part of your profile. Don't just tell people you practice law, show them.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 175px 0 176px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-button-03.png" tabindex="0" width="249" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 6px;">
                <p class="subtitle no-margin"><strong style="text-transform: uppercase;">{Name}, YOUR CURRENT PREMIUM PLACEMENTS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">1. PA + Metro</p>
                <p class="desc">2. PA + Metro</p>
                <p class="desc">3. PA + Metro</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:63px 30px 6px;">
                <p class="subtitle no-margin"><strong>COMPLETE YOUR PROFILE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles. We suggest adding a short biography, updating contact information, participate in <a target="_blank" href="#"><strong>Ask a Lawyer</strong></a>, and adding your social media profiles, etc.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 23px 30px 24px;">
                <p class="desc">Thank You!</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 53px;">
                <p class="desc">Justia & LII Lawyer Directory Team</p>
                <p class="desc"><a target="_blank" href="#"><strong>(650) 810-1990</strong></a> Office</p>
                <p class="desc"><a target="_blank" href="#"><strong>directory@justia.com</strong></a></p>
            </td>
        </tr>
    </table>
</tr>
