---
layout: default.hbs
subject: September
---


<tr>
    <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" align="center" bgcolor="#3799f0" valign="top" style="padding: 30px 25px;">
                <a href="#" style="text-decoration:none;">
                    <img alt="Sample" src="{{default.image_dir_src}}/closedwon-header-button-01.png" tabindex="0" width="494" height="240" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding:43px 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#02337c;"><strong>YOUR PROFILE IS IMPORTANT TO YOUR SUCCESS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:20px 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#555555;"><strong>1. PROFILE PHOTO</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-01.jpg" tabindex="0" width="545" height="504" border="0" style="display:block;">
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Put your best photo up. Add a high-resolution photo of 640x640 pixels to appear your sharpest. Presenting a professional photo builds trust and confidence in the credentials displayed in the profile. A vibrant photograph makes your profile stand out.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#" style="text-decoration:none;">
                    <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-button-01.png" tabindex="0" width="249" height="43" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#555555;"><strong>2. BIOGRAPHY</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-02.jpg" tabindex="0" width="545" height="504" border="0" style="display:block;">
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Include a short biography to introduce yourself to potential clients. A well-written biography highlights your practice and shows off your passion for the law.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#" style="text-decoration:none;">
                    <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-button-02.png" tabindex="0" width="249" height="43" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#555555;"><strong>3. SOCIAL MEDIA</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-03.jpg" tabindex="0" width="410" height="59" border="0" style="display:block;">
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Connect your profile to your website, blog, and social media accounts. Professional connections are an important part of your profile. Don't just tell people you practice law, show them.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#" style="text-decoration:none;">
                    <img alt="Sample" src="{{default.image_dir_src}}/closedwon-step-button-03.png" tabindex="0" width="249" height="43" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:94px 30px 6px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#555555;"><strong>YOUR CURRENT PREMIUM PLACEMENTS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">1. PA + Metro</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">2. PA + Metro</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">3. PA + Metro</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding:63px 30px 6px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:20px; line-height:1.5; margin:0; Margin:0; color:#555555;"><strong>COMPLETE YOUR PROFILE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles. We suggest adding a short biography, updating contact information, participate in <a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;"><strong>Ask a Lawyer</strong></a>, and adding your social media profiles, etc.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 23px 30px 24px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Thank You!</p>
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" bgcolor="#ffffff" style="padding: 0 30px 53px;">
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;">Justia & LII Lawyer Directory Team</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;"><a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;"><strong>(650) 810-1990</strong></a> Office</p>
                <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px; line-height:1.5; margin:0; Margin:0; color:#555555; font-weight: 300;"><a target="_blank" href="#" style="text-decoration:none; color:#0a56c6;"><strong>directory@justia.com</strong></a></p>
            </td>
        </tr>
    </table>
</tr>
