---
layout: blast.hbs
subject: BLAST
---

<tr class="december-1">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
            <tr>
              <td class="block-1">
                <img alt="[placeholder]" src="{{default.imageDirSrc}}/marketing-blue-desc-01.png" tabindex="0" border="0" class="image">
              </td>
            </tr>
            <tr>
              {{> ui-background classes="dvbg" image="marketing-blue-background-01.png" bgColor="#4c6b97" dimensions="width:100%; height:365px;" bgStart=true content=true }}
                <img src="{{default.imageDirSrc}}/marketing-blue-animation-01.gif" tabindex="0" border="0">
              {{> ui-background bgEnd=true }}
            </tr>
            <tr>
              <td class="block-2">
                <p><strong>Gold Website Package Clients receive the<br>Highest Placements in the Justia &amp; LII Lawyer Directories.</strong></p>
                <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="button-gold-upgrade">
                      <tr>
                          <td align="center">
                              <a target="_blank" href="mailto:support@justia.com" Subject="Upgrade Me to Gold" bgcolor="#edaa00">Upgrade to Gold</a>
                          </td>
                      </tr>
                </table>
                <p><strong>Upgrade to the Gold Website package before<br>the end of the year to save on your taxes!</strong></p>
              </td>
            </tr>
            <tr>
              <td class="block-3">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <p><strong>Other benefits of the Gold Website package include:</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><img src="{{default.imageDirSrc}}/marketing-blue-bullet-01.png" tabindex="0" border="0">Highest level of Search Engine Optimization that we offer.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><img src="{{default.imageDirSrc}}/marketing-blue-bullet-01.png" tabindex="0" border="0">Google MyBusiness/Maps Setup for multiple office locations.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><img src="{{default.imageDirSrc}}/marketing-blue-bullet-01.png" tabindex="0" border="0">Multiple Blog Feed Integration</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p><img src="{{default.imageDirSrc}}/marketing-blue-bullet-01.png" tabindex="0" border="0">And more!</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="block-4 contactus">
                <p class="phone">Call <strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong>or <strong><a href="#mailto:support@justia.com?Subject=Upgrade Me to Gold" target="_blank">email us</a></strong> to talk with a sales representative today.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
