---
layout: default.hbs
subject: BLAST
---


<tr class="jld-new-look">
    <td>
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
            <tr>
                <td class="main-image">
                    <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-main-image-01.png" tabindex="0" border="0" class="image">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="title">
                    <p><strong>Here’s your to-do list:</strong></p>
                </td>
            </tr>
            <tr>
                <td class="todos">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            {{> background classes="todos-boxes" image="jld-new-look-todos-boxes-background-01.png" bgcolor="#ffffff" dimensions="width:28px; height:149px;" bgStart=true content=true }}
                                {{!-- <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-main-image-01.png" tabindex="0" border="0" class="image"> --}}
                            {{> background bgEnd=true }}
                            <td class="todos-text">
                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td class="todo-1">
                                            <p>For each of your gold placements, create a custom tagline that will get you noticed! Keep it short and sweet. Your tagline(s) should be fewer than 80 characters, including spaces. Email us your tagline(s) when you are ready.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="todo-2">
                                            <p>Create a custom description that corresponds with the tagline for each of your gold placements. This will highlight your particular skills and qualifications. Each description should be fewer than 220 characters, including spaces. Email us your description(s) when you are ready.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="button">
                    <a href="#" target="_blank">
                        <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-button-01.png" tabindex="0" border="0" class="image">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="separator">
                    <hr>
                </td>
            </tr>
            <tr>
                <td class="placements">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            <td>
                                <p>Your profile is currently featured in the following practice-metro placements:</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-star-01.png" tabindex="0" border="0" class="image">
                                    Business Law - San Jose, CA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-star-01.png" tabindex="0" border="0" class="image">
                                    Communications & Internet Law - San Jose, CA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <img alt="[placeholder]" src="{{default.image_dir_src}}/jld-new-look-star-01.png" tabindex="0" border="0" class="image">
                                    Intellectual Property - San Jose, CA
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="block-6 contactus">
                    <p class="tagline">Justia Lawyer Directory Team</p>
                    <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
