---
layout: blast.hbs
subject: BLAST
---

<!-- resolution-blast -->
<tr class="resolution-blast">
  <td>
    <!-- description -->
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        {{> ui-background classes="dvbg" image="resolution-background-01.png" bgColor="#ffffff" dimensions="width:600px;height:513px;" bgStart=true content=true }}
          <a href="https://accounts.justia.com/signin/fast?uid=*%7CUSER_ID%7C*&code=*%7CSIGN_CODE%7C*&destination=https%3A%2F%2Flawyers.justia.com%2Fprofile%2F*%7CPROFILE_ID%7C*%2Fedit%2Fbiography%3Futm_medium%3Demail%26utm_source%3Ddirectory-newsletter%26utm_campaign%3D2019-01%26utm_content%3Dbutton-update-profile-now-1" target="_blank">
            <table border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <!-- main-title -->
                <td class="main-title">
                  <p><strong>Make A Resolution To Complete<br>Your Profile This Year</strong></p>
                </td>
              </tr>
            </table>
          </a>
        {{> ui-background bgEnd=true }}
      </tr>
      <tr>
        <!-- subtitle -->
        <td class="subtitle">
          <p>
            <a href="https://accounts.justia.com/signin/fast?uid=*%7CUSER_ID%7C*&code=*%7CSIGN_CODE%7C*&destination=https%3A%2F%2Flawyers.justia.com%2Fprofile%2F*%7CPROFILE_ID%7C*%2Fedit%2Fbiography%3Futm_medium%3Demail%26utm_source%3Ddirectory-newsletter%26utm_campaign%3D2019-01%26utm_content%3Dbutton-update-profile-now-1" target="_blank">
              <b>2019 is here, so you should make sure your profile is complete and up- to- date. Here are some tips for completing your profile.</b>
            </a>
          </p>
        </td>
      </tr>
      <tr>
        <!-- main-list -->
        <td class="main-list">
          {{#forEach resolution.list }}
            <!-- li-{{ index }} -->
            <table border="0" cellpadding="0" cellspacing="0" class="li-{{ index }}">
              <tr>
                <td class="wrapper">
                  <a href="https://accounts.justia.com/signin/fast?uid=*%7CUSER_ID%7C*&code=*%7CSIGN_CODE%7C*&destination=https%3A%2F%2Flawyers.justia.com%2Fprofile%2F*%7CPROFILE_ID%7C*%2Fedit%2Fbiography%3Futm_medium%3Demail%26utm_source%3Ddirectory-newsletter%26utm_campaign%3D2019-01%26utm_content%3Dbutton-update-profile-now-1" target="_blank">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        {{#ifEven @index}}
                          <!-- thumb -->
                          <td class="thumb">
                            <img src="{{ ../default.imageDirSrc }}/resolution-thumb-0{{ index }}.png" alt="thumb-0{{ index }}" border="0" />
                          </td>
                        {{/ifEven}}
                        <!-- text -->
                        <td class="text">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <!-- title -->
                              <td class="title">
                                <p><b>{{{ this.title }}}</b></p>
                              </td>
                            </tr>
                            <tr>
                              <!-- desc -->
                              <td class="desc">
                                <p>{{{ this.description }}}</p>
                              </td>
                            </tr>
                          </table>
                        </td>
                        {{#ifOdd @index}}
                          <!-- thumb -->
                          <td class="thumb">
                            <img src="{{ ../default.imageDirSrc }}/resolution-thumb-0{{ index }}.png" alt="thumb-0{{ index }}" border="0" />
                          </td>
                        {{/ifOdd}}
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
            </table>
          {{/forEach}}
        </td>
      </tr>
      <tr>
        <!-- button -->
        <td class="button">
          {{> ui-real-text-button
            buttonLink="https://accounts.justia.com/signin/fast?uid=*%7CUSER_ID%7C*&code=*%7CSIGN_CODE%7C*&destination=https%3A%2F%2Flawyers.justia.com%2Fprofile%2F*%7CPROFILE_ID%7C*%2Fedit%2Fbiography%3Futm_medium%3Demail%26utm_source%3Ddirectory-newsletter%26utm_campaign%3D2019-01%26utm_content%3Dbutton-update-profile-now-1"
            buttonText="Complete Your Profile Now"
          }}
        </td>
      </tr>
      <tr>
        <!-- contactus -->
        <td class="contactus">
          <p class="tagline">Justia Lawyer Directory Team</p>
          <p class="phone"><strong><a href="tel:8885878421" target="_blank">(888) 587-8421</a></strong></p>
        </td>
      </tr>
      <tr>
        <!-- last-part -->
        <td class="last-part">
          <p>Justia has an unparalleled track record of helping law firms grow. If you're interested in our website and SEO services, or if you would just like to learn more about what we have to offer, contact one of our marketing specialists today. <a href="https://www.justia.com/marketing/" target="_blank"><b>Learn More »</b></a></p>
        </td>
      </tr>
    </table>
  </td>
</tr>
