---
layout: default.hbs
---


<tr>
    <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" bgcolor="#ffffff" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">

        <tr>
            <td width="600" valign="top" align="left" style="width:600px;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">
                    <tr>
                        <td valign="top" align="center" width="300" bgcolor="#2e96dd" style="width:300px; background:#2e96dd;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#2e96dd" style="width:100%; background:#2e96dd;">
                                <tr>
                                    <td align="center" style="padding:30px 25px 9px;">
                                        <img alt="SEO" src="{{default.image_dir_src}}/attack-tim-icon-01.png" tabindex="0" width="240" height="150" border="0" style="display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 9px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:36px!important; line-height:1.4; margin:0; Margin:0; color:#ffffff;"><strong>1. SEO</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 20px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#ffffff;">Search engine optimization&nbsp;<br>can influence the rankings of&nbsp;<br>websites in the organic listings&nbsp;<br>of search engine results pages.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" align="center" width="300" bgcolor="#ff7f00" style="width:300px; background:#ff7f00;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#ff7f00" style="width:100%; background:#ff7f00;">
                                <tr>
                                    <td align="center" style="padding:30px 25px 9px;">
                                        <img alt="AMP" src="{{default.image_dir_src}}/attack-tim-icon-02.png" tabindex="0" width="240" height="150" border="0" style="display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 9px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:36px!important; line-height:1.4; margin:0; Margin:0; color:#ffffff;"><strong>2. AMP</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 20px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#ffffff;">AMP is a way to build web&nbsp;<br>pages that render fast.&nbsp;<br>The Google AMP Cache can&nbsp;<br>serve cached AMP pages.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="center" width="300" bgcolor="#872cc5" style="width:300px; background:#872cc5;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#872cc5" style="width:100%; background:#872cc5;">
                                <tr>
                                    <td align="center" style="padding:30px 25px 9px;">
                                        <img alt="Design" src="{{default.image_dir_src}}/attack-tim-icon-03.png" tabindex="0" width="240" height="150" border="0" style="display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 9px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:36px!important; line-height:1.4; margin:0; Margin:0; color:#ffffff;"><strong>3. Design</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 20px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#ffffff;">A responsive design will adjust&nbsp;<br>its layout to best display its&nbsp;<br>content in response  to the size&nbsp;<br>of the device being used.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" align="center" width="300" bgcolor="#2ab9bb" style="width:300px; background:#2ab9bb;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#2ab9bb" style="width:100%; background:#2ab9bb;">
                                <tr>
                                    <td align="center" style="padding:30px 25px 9px;">
                                        <img alt="Mobile" src="{{default.image_dir_src}}/attack-tim-icon-04.png" tabindex="0" width="240" height="150" border="0" style="display:block;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 9px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:36px!important; line-height:1.4; margin:0; Margin:0; color:#ffffff;"><strong>4. Mobile</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 25px 20px;">
                                        <p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#ffffff;">Mobile should be your focus.&nbsp;<br>Google will look at mobile&nbsp;<br>version of your website for&nbsp;<br>its ranking signals.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td width="600" valign="top" align="center" style="padding:64px 30px 57px; width:600px;">
                <a href="https://www.justia.com/" target="_blank" style="text-decoration:none; display:block; cursor:pointer;">
                    <img alt="Download Your Full SEO Report" src="{{default.image_dir_src}}/attack-tim-button-01.png" tabindex="0" width="397" height="47" border="0" style="display:block;">
                </a>
            </td>
        </tr>
        <tr>
            <td width="600" valign="top" align="center" style="padding:0 30px; width:600px;">
                <img alt="Search Engine Optimization" src="{{default.image_dir_src}}/attack-tim-report-header-01.png" tabindex="0" width="540" height="66" border="0" style="display:block;">
                <table border="0" cellpadding="0" cellspacing="0" width="540" align="center" style="width:540px; border-collapse:collapse!important;">
                    <tr>
                        <td valign="middle" width="117" style="width:117px; padding:5px 20px 15px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1;">
                            <table border="0" cellpadding="0" cellspacing="0" width="116px" style="width:116px;">
                                <tr>
                                    <td width="40" valign="middle" align="left" style="width:40px;"><img src="{{default.image_dir_src}}/attack-tim-checkmark-01.png" tabindex="0" width="31" height="31" border="0" style="display:block;"></td>
                                    <td valign="middle" align="left"><p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>AMP</strong></p></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="middle" width="343" style="width:343px; padding:5px 20px 15px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:15px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>Your website does not use AMP or has problems with its implementation of AMP.</strong> According to Google, 40% of viewers leave a website that takes more than 3 seconds to load. Accelerated Mobile Pages (AMP) allows for faster loading of your web pages and a better experience for the user.</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" width="117" style="width:117px; padding:15px 20px; border:1px solid #e1e1e1;">
                            <table border="0" cellpadding="0" cellspacing="0" width="116px" style="width:116px;">
                                <tr>
                                    <td width="40" valign="middle" align="left" style="width:40px;"><img src="{{default.image_dir_src}}/attack-tim-cross-01.png" tabindex="0" width="31" height="31" border="0" style="display:block;"></td>
                                    <td valign="middle" align="left"><p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>HTTPS</strong></p></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="middle" width="343" style="width:343px; padding:15px 20px; border:1px solid #e1e1e1;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:15px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>Your website does not have HTTPS protocol enabled.</strong> Google takes website security seriously. Websites that are not protected by HTTPS are naturally susceptible to attacks from third party hackers that could, for example, interrupt communications from your website and use knowledge gained for malicious purposes. Google uses HTTPS as a ranking signal.</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" width="117" style="width:117px; padding:15px 20px; border:1px solid #e1e1e1;">
                            <table border="0" cellpadding="0" cellspacing="0" width="116px" style="width:116px;">
                                <tr>
                                    <td width="40" valign="middle" align="left" style="width:40px;"><img src="{{default.image_dir_src}}/attack-tim-cross-01.png" tabindex="0" width="31" height="31" border="0" style="display:block;"></td>
                                    <td valign="middle" align="left"><p style="font-family:Helvetica,Arial,sans-serif; font-size:16px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>MOBILE SPEED</strong></p></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="middle" width="343" style="width:343px; padding:15px 20px; border:1px solid #e1e1e1;">
                            <p style="font-family:Helvetica,Arial,sans-serif; font-size:15px!important; line-height:1.3; margin:0; Margin:0; color:#383838;"><strong>Your website’s mobile load time is slow.</strong> Google takes site speed into account in search rankings. Additionally, potential law firm clients using a mobile device may simply move on to the next firm in the search engine results instead of waiting for your website to fully load.</p>
                        </td>
                    </tr>
                </table>
                <img src="{{default.image_dir_src}}/attack-tim-report-bottom-01.png" tabindex="0" width="540" height="45" border="0" style="display:block;">
            </td>
        </tr>
        <tr>
            <td width="600" valign="top" align="center" style="padding:56px 30px 62px; width:600px;">
                <a href="https://www.justia.com/" target="_blank" style="text-decoration:none; display:block; cursor:pointer;">
                    <img alt="Download Your Full SEO Report" src="{{default.image_dir_src}}/attack-tim-button-01.png" tabindex="0" width="397" height="47" border="0" style="display:block;">
                </a>
            </td>
        </tr>
    </table>
</tr>
