---
layout: default.hbs
subject: Closed Won
---


<tr class="closedwon claimed-gold">
    <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" class="align-center" bgcolor="#00b3e3" valign="top" style="padding: 30px 25px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-button-01.png" tabindex="0" width="496" height="241" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:43px 30px 0;">
                <p class="subtitle no-margin"><strong>LOGIN INFORMATION</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:16px 30px 0;">
                <p class="desc">
                    Click here to login and set your password within the next 72 hours. <a href="#"><strong>https://loremipsum.justia.com/</strong></a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:42px 30px 6px;">
                <p class="subtitle no-margin"><strong>1. PROFILE PHOTO</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px 25px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-01.png" tabindex="0" width="545" height="175" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Add a high-resolution photo of at least 640x640 pixels to build trust and confidence in your profile. A professional-looking, high-resolution photo will increase your profile views and make your profile stand out.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 0;">
                <p class="subtitle no-margin"><strong>2. CUSTOM TAGLINE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px 25px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-02.png" tabindex="0" width="545" height="175" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">For each of your gold placements, create a <strong>custom tagline</strong> that will get you noticed! Keep it short and sweet. Your tagline(s) should be fewer than 80 characters, including spaces.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 12px;">
                <p class="subtitle no-margin"><strong>3. CUSTOM DESCRIPTION</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 0 30px 15px 25px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-03.png" tabindex="0" width="545" height="175" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 14px;">
                <p class="desc">Create a <strong>custom description</strong> that corresponds with the tagline for each of your gold placements. This will highlight your particular skills and qualifications. Each description should be fewer than 220 characters, including spaces.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 12px;">
                <p class="subtitle no-margin"><strong>4. CUSTOM "VIEW WEBSITE" LINK</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 0 30px 15px 25px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-gold-04.png" tabindex="0" width="545" height="175" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 14px;">
                <p class="desc">Additionally, your Gold premium placement also includes the ability to <strong>include a link to a custom URL</strong>. The "view website" button on your premium placement advertisement will link to the website address in your profile.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">However, if you'd like to customize it to link to a particular URL, such as a practice area page on your site, please send us a link for each Gold placement purchased and we’ll customize the "view website" button as instructed.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 125px 0 126px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-button-01.png" tabindex="0" width="350" height="41" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:73px 30px 6px;">
                <p class="subtitle no-margin"><strong>TIMOTHY'S CURRENT PREMIUM PLACEMENTS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">1. Business Law in the San Jose Metro Area</p>
                <p class="desc">2. Communications & Internet Law in the San Jose Metro Area</p>
                <p class="desc">3. Intellectual Property in the San Jose Metro Area</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:42px 30px 6px;">
                <p class="subtitle no-margin"><strong>COMPLETE YOUR PROFILE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 17px;">
                <p class="desc">Your profile is 90% complete. Here are some ways to get to 100%:</p>
                <ul class="desc-list">
                    <li><a href="#">Add certifications</a></li>
                    <li><a href="#">Include your speaking engagements</a></li>
                </ul>
                <p class="desc">
                    Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 6px 30px 24px;">
                <p class="desc">Thank You!</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 63px;">
                <p class="desc">Justia & LII Lawyer Directory Team</p>
                <p class="desc"><a target="_blank" href="#"><strong>(650) 810-1990</strong></a> Office</p>
                <p class="desc"><a target="_blank" href="#"><strong>directory@justia.com</strong></a></p>
            </td>
        </tr>
    </table>
</tr>
