---
layout: default.hbs
subject: Closed Won
---


<tr class="closedwon claimed-bronze">
    <table border="0" cellpadding="0" cellspacing="0" width="600" class="align-center" style="background:#ffffff; overflow:hidden; max-width:600px!important; min-width:600px!important; text-align:center; border-collapse:collapse!important;">
        <tr>
            <td width="100%" class="align-center" bgcolor="#3799f0" valign="top" style="padding: 30px 25px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-button-01.png" tabindex="0" width="494" height="240" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-center" bgcolor="#ffffff" style="padding:43px 30px 15px;">
                <p class="title no-margin"><strong>YOUR PROFILE IS IMPORTANT TO YOUR SUCCESS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:20px 30px 0;">
                <p class="subtitle no-margin"><strong>LOGIN INFORMATION</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:16px 30px 68px;">
                <p class="desc">
                    Click here to login and set your password within the next 72 hours. <a href="#"><strong>https://loremipsum.justia.com/</strong></a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="no-margin align-left" bgcolor="#ffffff" style="padding:20px 30px 15px;">
                <p class="subtitle no-margin"><strong>1. PROFILE PHOTO</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-01.jpg" tabindex="0" width="545" height="504" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Put your best photo up. Add a high-resolution photo of 640x640 pixels to appear your sharpest. Presenting a professional photo builds trust and confidence in the credentials displayed in the profile. A vibrant photograph makes your profile stand out.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#">
                    <img alt="Sample" src="{{default.image_dir_src}}/cw-button-01.png" tabindex="0" width="249" height="43" border="0" class="btn">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>2. BIOGRAPHY</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-bronze-02.jpg" tabindex="0" width="545" height="504" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Include a short biography to introduce yourself to potential clients. A well-written biography highlights your practice and shows off your passion for the law.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-button-02.png" tabindex="0" width="249" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 15px;">
                <p class="subtitle no-margin"><strong>3. SOCIAL MEDIA</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" style="padding: 7px 30px 15px;">
                <img alt="Sample" src="{{default.image_dir_src}}/cw-social-media-01.jpg" tabindex="0" width="410" height="59" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Connect your profile to your website, blog, and social media accounts. Professional connections are an important part of your profile. Don't just tell people you practice law, show them.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-center" bgcolor="#ffffff" valign="top" style="padding: 0 25px;">
                <a href="#">
                    <img class="btn" alt="Sample" src="{{default.image_dir_src}}/cw-button-03.png" tabindex="0" width="249" height="43" border="0">
                </a>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:94px 30px 6px;">
                <p class="subtitle no-margin"><strong>YOUR CURRENT PREMIUM PLACEMENTS</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">1. PA + Metro</p>
                <p class="desc">2. PA + Metro</p>
                <p class="desc">3. PA + Metro</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding:63px 30px 6px;">
                <p class="subtitle no-margin"><strong>COMPLETE YOUR PROFILE</strong></p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 10px 30px 24px;">
                <p class="desc">Our data shows that lawyers who complete their profiles in our directory receive 76 times more client contacts than those with incomplete profiles. We suggest adding a short biography, updating contact information, participate in <a target="_blank" href="#"><strong>Ask a Lawyer</strong></a>, and adding your social media profiles, etc.</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 23px 30px 24px;">
                <p class="desc">Thank You!</p>
            </td>
        </tr>
        <tr>
            <td width="100%" class="align-left" bgcolor="#ffffff" style="padding: 0 30px 53px;">
                <p class="desc">Justia & LII Lawyer Directory Team</p>
                <p class="desc"><a target="_blank" href="#"><strong>(650) 810-1990</strong></a> Office</p>
                <p class="desc"><a target="_blank" href="#"><strong>directory@justia.com</strong></a></p>
            </td>
        </tr>
    </table>
</tr>
