---
layout: blast.hbs
subject: BLAST
---

<tr class="we-miss-you">
  <td>
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="description">
      <tr>
        <td class="intro">
          <img alt="[placeholder]" src="{{default.imageDirSrc}}/we-miss-you-desc-01.png" tabindex="0" border="0" class="image">
        </td>
      </tr>
      <tr>
        <td>
          <a href="#" target="_blank">
            <table border="0" cellspacing="0" cellpadding="0" align="center" class="inner-content">
              <tr>
                <td class="main-image">
                  <img alt="[placeholder]" src="{{default.imageDirSrc}}/we-miss-you-main-image-01.png" tabindex="0" border="0" class="image">
                </td>
              </tr>
            </table>
          </a>
        </td>
      </tr>
      <tr>
        <td class="button-container">
          <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" class="button">
            <tr>
              <td align="center">
                <a target="_blank" href="#" bgcolor="#edaa00">Wait, I want to become a member again.</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="benefits">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="list-title">
                <p>Premium Membership benefits include:</p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="{{default.imageDirSrc}}/we-miss-you-bullet-01.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Premium Placements</strong> - enhance your visibility for your practice area(s) across an entire metro area on the Justia & LII lawyer directories.
                  </span>
                </p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="{{default.imageDirSrc}}/we-miss-you-bullet-01.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Premium Profile -</strong> features a contact form to increase client interaction. Competitor ads are also removed from the profile.
                  </span>
                </p>
              </td>
            </tr>
            <tr class="item">
              <td>
                <p>
                  <img alt="[placeholder]" src="{{default.imageDirSrc}}/we-miss-you-bullet-01.png" tabindex="0" border="0" class="image">
                  <span class="text">
                    <strong>Traffic Statistics -</strong> view traffic stats of your visibility on the Justia & LII lawyer directories and legal portals.
                  </span>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
