<a href="{{{ link }}}{{#if utmVars }}{{{utmVariables utmVars }}}{{/if}}" target="_blank">
  <!-- logo-img {{ classes }} -->
  <img src="{{default source logos.justia.insights.path.blue}}" alt="{{default alt logos.justia.insights.alt}}" border="0" class="logo-img {{ classes }}" />
</a>
