{{#if utmVars }}
{{utmVariables utmMedium utmCampaign utmSource utmContent utmTerm }}
{{/if}}
<a href="{{{ link }}}{{#if utmVars }}?utm_medium={{{ utmMedium }}}&utm_campaign={{{ utmCampaign }}}&utm_source={{{ utmSource }}}&utm_content={{{ utmContent }}}{{/if}}" target="_blank">
  <!-- logo-img {{ classes }} -->
  <img src="{{ source }}" alt="{{ alt }}" border="0" class="logo-img {{ classes }}" />
</a>
